.btn-a
  vam()
  border 1px solid bl2
  line-height: 43px
  font-size: 14px
  font-weight: 700
  padding 0 20px 0 45px
  border-radius: 6px
  background gn5
  color #fff
  text-transform: uppercase;
  &._active
    &:after
      hr()
      bottom: -7px;
      width: 15px;
      height: 15px;
      transform-origin center
      transform rotate(45deg)
      background gn5
      box-shadow 1px 1px  0 0 bl2
  &:hover
    color #fff
    text-decoration: underline

.btn-b
  vam()
  border 1px solid bl2
  line-height: 43px
  font-size: 14px
  font-weight: 700
  padding 0 20px 0 50px
  border-radius: 6px
  background bl5
  color #fff
  text-transform: uppercase;
  &:hover
    color #fff
    text-decoration: underline

.btn-c
  vam()
  margin-top: 2px;
  line-height: 45px
  padding 0 20px
  border-radius: 6px
  background gn5
  font-size: 14px
  font-weight: 700
  color #fff
  text-transform: uppercase;

.btn-d
  vam()
  line-height: 33px
  padding 0 13px
  border-radius: 6px
  background #0988ff
  font-size: 14px
  font-weight: 700
  color #fff
  text-transform: uppercase;
  tro()
  &:hover
    opacity 0.8
    color #fff
  &._green
    background #51d134
  &._grey
    background #cdcdcd
    cursor: default
  &._arrow
    padding 0 33px 0 19px
    position: relative
    &:before
      vr()
      width: 10px
      height: 10px
      border-top 1px solid #fff
      border-left 1px solid #fff
      transform-origin: center
      transform rotate(135deg)
      right: 9px
  &._plus
    padding-left: 26px
    position: relative
    &:before
      vr()
      content '+'
      line-height: 10px
      font-weight: 700
      color #fff
      left: 13px
      height: 10px
  &._check
    position: relative
    padding 0 36px 0 17px
    &:before
      vr()
      width: 15px
      height: 15px
      background us() 0 -375px

      right: 12px
.btn-e
  vam()
  line-height: 28px
  border-radius: 6px
  background #fff
  font-size: 12px
  font-weight: 400
  border 1px solid #dddddd
  color #0988ff
  padding 0 16px
  box-shadow 0 2px 4px 0 rgba(#000,0.08)
  &:hover
    box-shadow 0 2px 4px 0 rgba(#000,0.02)
    color #0988ff

.btn-g
  vam()
  line-height: 41px
  border-radius: 6px
  background #fff
  font-size: 14px
  padding 0 33px 0 22px
  font-weight: 700
  text-transform: uppercase;
  border 2px solid #2e60a3
  color #2e60a3
  position: relative
  &:hover
    color #2e60a3
  &:before
    vr()
    width: 7px;
    height: 7px;
    right: 16px;
    border-top 2px solid #2e60a3
    border-right 2px solid #2e60a3
    transform rotate(45deg)

.btn-h
  vam()
  line-height: 30px
  border-radius: 6px
  border 1px solid #0988ff
  background #fff
  font-size: 14px
  padding 0 17px
  font-weight: 700
  text-transform: uppercase;
  color #0988ff
  trbgc()
  &:hover
  &._active
    color #fff
    background #0988ff
  &+&
    margin-left: 10px

.btn-s
  vam()
  line-height: 32px
  padding 0 20px
  font-weight: 700
  font-size: 14px
  color #fff
  border-radius: 6px
  text-transform: uppercase;
  margin-bottom: 15px
  position: relative
  &:before
    vr()
    background us() no-repeat
  &._ok
    background #ed812b
    padding 0 29px 0 18px
    &:before
      right: 10px
      width: 10px
      height: 17px
      background-position -75px -100px
  &._gm
    background #ff0937
    padding 0 37px 0 15px
    &:before
      right: 10px
      width: 14px
      height: 11px
      background-position -75px -125px
  &._vk
    background #45668e
    padding 0 38px 0 14px
    &:before
      right: 11px
      width: 17px
      height: 10px
      background-position -75px -50px
  &._fb
    background #3b5998
    padding 0 32px 0 10px
    &:before
      right: 14px
      width: 7px
      height: 16px
      background-position -75px top

.btn-set-offer
  border 1px solid #f4af2a
  background #ffba00
  font-size: 14px
  text-transform: uppercase;
  color #fff
  padding 0 15px 0 44px
  line-height: 43px
  vam()
  font-weight: 700
  position: relative
  border-radius 6px
  tro()
  &:before
    vr()
    width: 22px
    height: 22px
    background us() left -150px
    left: 12px
  &:hover
    color #fff
    opacity 0.8

.btn-k
  vam()
  color #fff
  font-size: 13px
  line-height: 32px
  border-radius: 6px
  background #51d134
  padding 0 20px
  tro()
  &:hover
    opacity: 0.8
    color #fff
.btn-n
  vam()
  color #fff
  font-weight: 700
  font-size: 14px
  line-height: 55px
  padding 0 20px
  border-radius: 6px
  background #2e60a3
  text-transform: uppercase;