/*wrappers, containers, cols & etc*/

.wrapper
  min-height 100%
  min-width 1200px
  padding-bottom 357px

.container
  max-width 1340px
  min-width 1200px
  margin 0 auto
  padding 0 15px

.nail-footer
  min-width 1200px
  height 357px
  margin-top -357px

.col-wrap
  font-size: 0

.col6
  display: inline-block
  width 16.6666%

.col5
  display: inline-block
  width 20%

.col4
  display: inline-block
  width 25%

.col3
  display: inline-block
  width 33.33%

.col2-3
  display: inline-block
  width 66.66%

.col2
  display: inline-block
  width 50%
