.i-logo
  display: block
  float: left
.i-footer-logo
  vam()
  margin-bottom: 30px
.i-back
  color bl5
  font-size: 13px
  padding-left: 16px
  position: relative
  vab()
  span
    border-bottom 1px dotted bl5
  &:hover
    color bl5
    span
      border-bottom 0
    &:before
      transform translateX(-3px) rotate(-45deg)
  &:before
    vr()
    width: 9px
    height: 9px
    left: 4px
    trt()
    transform-origin center
    transform rotate(-45deg)
    border-left 1px solid bl5
    border-top 1px solid bl5
.i-link
  vab()
  color #0988ff
  font-size: 13px
  border-bottom 1px dotted #0988ff
  trb()
  &:hover
    color #0988ff
    border-color transparent
  &._asymp
    &:before
      vr()
      content '≈'
      left: -9px

  &._arrow
    position: relative
    &:after
      vr()
      top: 2px
      width: 7px
      height: 10px
      background us() left -175px
      right: -11px
    &-down
      &:after
        background-position: -7px -175px
.i-link-a
  vab()
  color #0988ff
  font-size: 13px
  border-bottom 1px solid #0988ff
  trb()
  &:hover
    color #0988ff
    border-color transparent
  &._sign-up
    position: relative
    &:before
      vr()
      top: 2px
      right: -25px
      width: 19px
      height: 19px
      border-radius: 6px
      border 1px solid #0988ff
    &:after
      vr()
      right: -19px
      top: 3px
      width: 6px
      height: 8px
      border-top 4px solid transparent
      border-left 6px solid #0988ff
      border-bottom 4px solid transparent
.i-close-link
  font-size: 13px
  color rgba(#000,0.59)
  border-bottom 1px dotted rgba(#000,0.59)
  position: relative
  trb()
  &:hover
    color rgba(#000,0.59)
    border-color transparent
  &:before
    transform rotate(45deg)
  &:after
    transform rotate(-45deg)
  &:before
  &:after
    vr()
    right: -10px
    width: 1px
    height: 10px
    transform-origin center
    background #696969
.i-attention
  vam()
  width: 32px
  height: 32px
  background us() -100px top no-repeat
.i-exclamation-point
  vam()
  background red
  width: 20px
  height: 20px
.i-pro
  border-radius: 6px
  background #ffba00
  border 1px solid #f4af2a
  vam()
  color #000000
  font-weight: 600
  line-height: 20px
  padding 0 12px
  font-size: 13px
  &._king
    padding-left: 28px
    position: relative
    margin-right: 9px
    &:before
      vr()
      width: 14px
      height: 8px
      left: 7px
      background us() -100px -200px
.i-thumb
  vam()
  width: 17px
  height: 18px
  background us() -25px -75px no-repeat
.i-eye
  width: 17px
  height: 10px
  vam()
  background us() -25px -63px no-repeat
.i-active-card
  vam()
  position: relative
  font-size: 14px
  font-weight: 700
  color #51d134
  text-transform: uppercase;
  padding-left: 27px
  margin-right 21px
  &:before
    vr()
    left: 0
    width: 18px
    height: 18px
    border-radius: 50%
    background #51d134
  &._inactive
    color red
    &:before
      background red
.i-graf
  vam()
  width: 28px
  height: 27px
  background us() -100px -50px
.i-calendar
  vam()
  width: 28px
  height: 28px
  background us() -100px -100px
.i-time-red
  color #ff3b00
  font-size: 13px
  padding-left: 22px
  line-height: 18px
  position: relative
  &:before
    vr()
    left: 0
    width: 15px
    height: 18px
    background us() -125px -150px
.i-time-green
  color #5dc548
  font-size: 13px
  padding-left: 22px
  line-height: 18px
  position: relative
  &:before
    vr()
    left: 0
    width: 15px
    height: 18px
    background us() -175px -150px
.i-time
  vam()
  width: 22px
  height: 26px
  background us() -100px -150px
.i-swap
  vam()
  width: 19px
  height: 24px
  background us() -50px -150px
.i-passengers
  width: 32px
  height: 16px
  vam()
  background us() -150px top
.i-checkllist
  padding-left: 22px
  position: relative
  margin-bottom: 8px
  font-size: 13px
  color #8d8d8d
  &:before
    vr()
    left: 0
    width: 15px
    height: 15px
    border-radius: 50%
    border 1px solid #5fd544
  &:after
    vr()
    transform rotate(-45deg)
    height: 3px
    width: 7px
    left: 4px
    border-left 1px solid #5fd544
    border-bottom 1px solid #5fd544
.i-usd
  width: 14px
  height: 14px
  border-radius: 50%
  border 1px solid #a6a6a6
  text-align: center
  position: relative
  line-height: 12px
  vam()
  &:before
    hvr()
    content '$'
    font-size: 10px
    color #a6a6a6
.i-more
  vam()
  height: 41px
  width: 44px
  background #fff
  border-radius: 4px 4px 0 0
  position: relative
  &:before
    hvr()
    width: 16px
    height: 28px
    background us() -150px -25px no-repeat
  span
    position: absolute
    top: -30px
    color #fff
    left: -30px
    width: 100px
    font-size: 12px
    text-align: center
.i-help
  vam()
  padding 0 25px 0 20px
  font-size: 14px
  line-height: 45px
  background #fff
  font-weight: 700
  border-radius 4px 0 0 4px
  color #09b1ff
  text-transform: uppercase;
  position: fixed
  right: 0
  top: 140px
  z-index: 2
  box-shadow -1px 1px 1px 1px rgba(#000,0.15)
  span
    border-bottom 1px dotted #09b1ff
    trb()
  &:before
    ps()
    content '?'
    right: 11px
    line-height: 45px
    color #1b6d93
  &:hover
    color #09b1ff
    span
      border-color transparent
.i-exclamation-point
  width: 18px
  height: 18px
  background us() -150px -150px
  vam()
.i-repurchase
  vam()
  font-size: 14px
  font-weight: 700
  color #fff
  background #ffba00
  line-height: 32px
  border-radius: 5px
  padding 0 35px 0 23px
  text-transform: uppercase;
  position: relative
  tro()
  &:before
    vr()
    width: 7px
    height: 17px
    background us() -40px -175px
    right: 14px
  &:hover
    opacity 0.8
    color #fff

.i-close
  font-size: 13px
  color rgba(#000,0.59)
  border-bottom 1px dotted rgba(#000,0.59)
  position: relative
  trb()
  &:hover
    color rgba(#000,0.59)
    border-color transparent
  &:before
    vr()
    right: -14px
    transform rotate(45deg)
    transform-origin center
    height: 10px
    width: 1px
    background #ff6969
  &:after
    vr()
    right: -14px
    transform rotate(-45deg)
    transform-origin center
    height: 10px
    width: 1px
    background #ff6969
.i-refuse
  font-size: 13px
  color rgba(#000,0.59)
  border-bottom 1px dotted rgba(#000,0.59)
  position: relative
  margin-right: 13px
  trb()
  &:hover
    color rgba(#000,0.59)
    border-color transparent
  &:before
    vr()
    right: -9px
    transform rotate(45deg)
    transform-origin center
    height: 10px
    width: 1px
    background #ff6969
  &:after
    vr()
    right: -9px
    transform rotate(-45deg)
    transform-origin center
    height: 10px
    width: 1px
    background #ff6969

.i-be-first
  color #0988ff
  vam()
  padding-left: 28px
  text-decoration: underline
  font-size: 13px
  border 0
  line-height: 19px
  position: relative
  &:before
    vr()
    left: 0
    width: 19px
    height: 19px
    background us() -50px -200px
  &:hover
    text-decoration: none
    color #0988ff

.i-denied
  vam()
  padding-left: 18px
  position: relative
  line-height: 15px
  font-size: 13px
  padding-right: 7px
  color #8d8d8d
  &:before
    vr()
    width: 15px
    height: 15px
    background us() -100px -225px
    left: 0
  &__info
    display: none
    width: 418px
    position: absolute
    top: 25px
    padding 15px 20px
    background: #fff;
    right: 7px
    z-index: 2
    border-radius: 6px
    text-align: left;
    box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
    &:before
      ps()
      width: 10px
      height: 10px
      right: 70px
      top: -4px
      background #fff
      transform-origin: center
      transform rotate(-135deg)
      box-shadow 1px 1px 2px 0 rgba(0,64,94,0.07)
    &:after
      ps()
      height: 15px
      top: -15px
      left: 0
      width: 100%
  &__dt
    font-size: 13px
    color #000
  &__dd
    margin-left: 4px
    color #8d8d8d
  &__text
    margin-top: 10px
    color #8d8d8d

  &:hover
    color #8d8d8d
    .i-denied__info
      display: block

.i-add-delivery
  width: 23px
  height: 26px
  background us() -50px -275px
  vam()

.i-phone
  vam()
  line-height: 46px
  background url("../img/pattern-msg.png") 0 0 repeat
  border-radius: 6px
  padding 0 32px 0 45px
  font-size: 14px
  font-weight: 700
  color #000
  position: relative
  &:before
    vr()
    left: 18px
    width: 19px
    height: 19px
    background us() -75px -275px

.i-question
  border-radius: 50%
  width: 28px
  height: 28px
  border 2px solid #0f8bff
  line-height: 24px
  font-weight: 700
  font-size: 18px
  color #0f8bff
  text-align: center
  vam()

.i-percent
  vam()
  line-height: 18px
  width: 38px
  text-align: center
  border-radius: 4px
  color #fff
  font-size: 11px
  &._green
    background #51d134
  &._yellow
    background #ffc600
  &._orange
    background #ff6600
  &._red
    background #ff0000

.i-status
  vam()
  border-radius: 6px
  color #fff
  font-weight: 600
  line-height: 20px
  padding 0 12px
  font-size: 13px
  &._green
    background #51d134
  &._red
    background #ff0000

.i-count
  vam()
  width: 18px
  height: 18px
  font-size: 11px
  color #fff
  border-radius: 50%
  background #0988ff
  line-height: 18px
  font-weight: 700
  text-align: center
  tro()
  &:hover
    color #fff
    opacity .8