.msg-change-phone
  background url(../img/pattern-msg.png) 0 0 repeat
  padding: 15px 10px 13px
  font-size: 14px
  line-height: 17px
  color #000
.msg-box
  border-radius: 6px
  padding 16px 19px 14px
  margin-bottom: 14px
  background url(../img/pattern-msg.png) 0 0 repeat
  position: relative
  &__close
    display: block
    width: 20px
    height: 20px
    border-radius: 50%
    background #fff
    position: absolute
    right: -7px
    top: -7px
    z-index: 1
    box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
    &:before
      transform rotate(-45deg)
    &:after
      transform rotate(45deg)
    &:before
    &:after
      hvr()
      width: 10px
      height: 1px
      background #696969
      transform-origin: center

  &._bottom
    padding 13px 19px 15px
    margin-top: 19px
    &:before
      ps()
      width: 17px
      height: 9px
      background us() -75px -150px no-repeat
      top: -9px
      left: 26px
  &._posa
    position: absolute
    top: 10px
    right: 15px
  &._pro
    padding-left: 73px
  .i-pro
    position: absolute
    left: 14px
    top: 13 px
  &._thumb
    position: relative
    padding 14px 19px 17px 45px
  .i-thumb
    position: absolute
    left: 16px
    top: 13px
  &__text
    line-height: 18px
    font-size: 13px
    color #000
    margin-bottom: -3px;
  .i-link
    margin-left: 5px
  &._attention
    padding 14px 20px 21px 51px
    position: relative
    text-align: left;
    &:before
      ps()
      width: 18px
      height: 18px
      background us() -150px -150px
      top: 14px;
      left: 16px;
