<div class="p-cabinet">
    <section class="s-cabinet-a">
        <div class="container"><a href="" ui-sref="app.orders.list" class="i-back"><span>К базе заказов</span></a>
            <h1>Добро пожаловать в личный кабинет,<span class="_light">{{currentUser.profileData.firstName}}</span>!</h1>
            <nav class="m-site">
                <ul class="m-site__ul">
                    <li class="m-site__li"><a href="#" tab-state ui-sref="app.profile.main" class="m-site__link"><span>Главная</span></a>
                    </li>
                    <li class="m-site__li" ng-if="isAuthorized(USER_ROLES.CARRIER)"><a href="#" tab-state ui-sref="app.profile.bids" class="m-site__link"><span>Мои ставки</span></a>
                    </li>
                     <li class="m-site__li" ng-if="isAuthorized(USER_ROLES.CARRIER)"><a href="#" tab-state ui-sref="app.profile.documents" class="m-site__link"><span>Мои Документы</span></a>
                    </li>
                     <li class="m-site__li" ng-if="isAuthorized(USER_ROLES.CARRIER)"><a href="#" tab-state ui-sref="app.profile.transport.list" class="m-site__link"><span>Мой Транспорт</span></a>
                    </li>
                    <li class="m-site__li" ng-if="isAuthorized(USER_ROLES.CUSTOMER)"><a href="#" tab-state ui-sref="app.profile.orders" class="m-site__link"><span>Мои заказы</span></a>
                    </li>
                    <li class="m-site__li">
                        <a href="#" tab-state ui-sref="app.profile.messages" class="m-site__link">
                            <span>Мои сообщения
                                <object class="m-site__object" data="" type="count">
                                    <a href="#" class="i-count">2</a>
                                </object>
                            </span>
                        </a>
                    </li>
                    <li class="m-site__li" ><a href="#" tab-state ui-sref="app.profile.edit" class="m-site__link"><span>Редактирование профиля</span></a>
                    </li>
                    <li class="m-site__li"><a href="#" tab-state ui-sref="app.profile.reviews" class="m-site__link"><span>Отзывы</span></a>
                    </li>
                    <li class="m-site__li _pro" ng-if="isAuthorized(USER_ROLES.CARRIER)">
                        <div class="b-pro">
                            <div class="b-pro__title">есть PRO До <span>23.10.2015</span></div>
                            <a href="" class="b-pro__link">Продлить pro-аккаунт</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="s-cabinet__table">
                <div class="s-cabinet-a__left">
                    <ui-view>
                </div>
                <div class="s-cabinet-a__right">
                    <gf-balance ng-if="isAuthorized(USER_ROLES.CARRIER)"></gf-balance>
                    <div class="b-profile-total" ng-if="isAuthorized(USER_ROLES.CUSTOMER)">
                        <div class="b-profile-total__top">
                            <div class="b-profile-total__title">Ваш профиль</div>
                            <div class="b-progress">
                                <div class="b-progress__outer">
                                    <div style="width: 90%;" class="b-progress__inner"></div>
                                </div>
                                <div class="b-progress__count">90%</div>
                            </div>
                        </div>
                        <div class="b-profile-total__middle">
                            <div class="b-profile-total__row"><a href="" ui-sref="app.profile.edit" class="i-link">Добавьте фотографию</a><span class="b-profile-total__percent">10%</span>
                            </div>
                            <div class="b-profile-total__row"><a href="#" ui-sref="app.profile.edit" class="i-link">Заполните дату рождения</a><span class="b-profile-total__percent">10%</span>
                            </div>
                            <div class="b-profile-total__row"><a href="#" ui-sref="app.profile.edit" class="i-link">Заполните информацию о себе</a><span class="b-profile-total__percent">10%</span>
                            </div>
                            <div class="b-profile-total__row"><a href="#" ui-sref="app.profile.edit" class="i-link">Заполните стаж вождения</a><span class="b-profile-total__percent">10%</span>
                            </div>
                            <div class="b-profile-total__row"><a href="#" ui-sref="app.profile.edit" class="i-link">Заполните страну проживания</a><span class="b-profile-total__percent">10%</span>
                            </div>
                        </div>
                        <div class="b-profile-total__bottom">
                            <div class="b-profile-total__text _thumb">
                                <div class="i-thumb"></div>Полностью заполненный профиль повышает доверие у заказчиков<a href="#" class="i-link-a">Читать F.A.Q.</a>
                            </div>
                        </div>
                    </div>
                    <div class="b-profile-rate">
                        <div class="b-profile-rate__top">
                            <div class="b-profile-rate__title">Общий рейтинг:</div>
                            <div class="b-profile-rate__total">89</div>
                        </div>
                        <div class="b-profile-rate__middle">
                            <div class="b-profile-rate__row">
                                <div class="b-profile-rate__dt">Надёжность/Комфорт</div>
                                <div class="b-progress">
                                    <div class="b-progress__outer">
                                        <div style="width: 75%;" class="b-progress__inner"></div>
                                    </div>
                                    <div class="b-progress__count">75%</div>
                                </div>
                            </div>
                            <div class="b-profile-rate__row">
                                <div class="b-profile-rate__dt">Ответственность</div>
                                <div class="b-progress _yellow">
                                    <div class="b-progress__outer">
                                        <div style="width: 50%;" class="b-progress__inner"></div>
                                    </div>
                                    <div class="b-progress__count">50%</div>
                                </div>
                            </div>
                            <div class="b-profile-rate__row">
                                <div class="b-profile-rate__dt">Пунктуальность</div>
                                <div class="b-progress _orange">
                                    <div class="b-progress__outer">
                                        <div style="width: 15%;" class="b-progress__inner"></div>
                                    </div>
                                    <div class="b-progress__count">15%</div>
                                </div>
                            </div>
                            <div class="b-profile-rate__row">
                                <div class="b-profile-rate__dt">Вежливость</div>
                                <div class="b-progress _red">
                                    <div class="b-progress__outer">
                                        <div style="width: 0%;" class="b-progress__inner"></div>
                                    </div>
                                    <div class="b-progress__count">0%</div>
                                </div>
                            </div>
                            <div class="b-profile-rate__row">
                                <div class="b-profile-rate__dt">Рейтинг GOFAST</div>
                                <div class="b-progress">
                                    <div class="b-progress__outer">
                                        <div style="width: 75%;" class="b-progress__inner"></div>
                                    </div>
                                    <div class="b-progress__count">75%</div>
                                </div>
                            </div>
                        </div>
                        <div class="b-profile-rate__bottom"><a href="#" class="i-link">На чем вообще основывается рейтинг?</a>
                        </div>
                    </div>
                    <div class="b-profile-total" ng-if="isAuthorized(USER_ROLES.CARRIER)">
                        <div class="b-profile-total__top">
                            <div class="b-profile-total__title">Ваш профиль</div>
                            <div class="b-progress">
                                <div class="b-progress__outer">
                                    <div style="width: 90%;" class="b-progress__inner"></div>
                                </div>
                                <div class="b-progress__count">90%</div>
                            </div>
                        </div>
                        <div class="b-profile-total__middle">
                            <div class="b-profile-total__row"><a href="" ui-sref="app.profile.edit" class="i-link">Добавьте фотографию</a><span class="b-profile-total__percent">10%</span>
                            </div>
                            <div class="b-profile-total__row"><a href="#" ui-sref="app.profile.edit" class="i-link">Заполните дату рождения</a><span class="b-profile-total__percent">10%</span>
                            </div>
                            <div class="b-profile-total__row"><a href="#" ui-sref="app.profile.edit" class="i-link">Заполните информацию о себе</a><span class="b-profile-total__percent">10%</span>
                            </div>
                            <div class="b-profile-total__row"><a href="#" ui-sref="app.profile.edit" class="i-link">Заполните стаж вождения</a><span class="b-profile-total__percent">10%</span>
                            </div>
                            <div class="b-profile-total__row"><a href="#" ui-sref="app.profile.edit" class="i-link">Заполните страну проживания</a><span class="b-profile-total__percent">10%</span>
                            </div>
                        </div>
                        <div class="b-profile-total__bottom">
                            <div class="b-profile-total__text _thumb">
                                <div class="i-thumb"></div>Полностью заполненный профиль повышает доверие у заказчиков<a href="#" class="i-link-a">Читать F.A.Q.</a>
                            </div>
                        </div>
                    </div>

                    <a href="#" class="bnr">
                        <img src="http://placehold.it/240x400">
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>