<div class="wrapper p-cabinet">
    <section class="s-profile-a">
        <div class="container"><!-- <a href="#" class="i-back"><span>Вернуться к списку перевозчиков</span></a>
 -->
            <div class="s-profile-a__top"><!-- <a href="#" class="btn-d _green _plus">Пригласить в аукцион</a> -->

                <h1>{{carrier.userProfile.firstName + ' ' + carrier.userProfile.lastName}},<span class="_light">{{getCountYearsFromBirthday(carrier.userProfile.birthday)}} Лет</span></h1>
            </div>
            <div class="s-profile-a__table">
                <div class="s-profile-a__left">
                    <!--include ../blocks/b-profile-delivery-->
                    <div class="pr-d-user">
                        <div class="pr-d-user__table">
                            <div class="pr-d-user__left">
                                <img src="{{carrier.userProfile.imageUrl}}" class="pr-d-user__img">
                            </div>
                            <div class="pr-d-user__right">
                                <div class="pr-d-user__row"><span class="pr-d-user__name">
                        <div class="i-pro _king">Pro</div></span>
                                </div>
                                <div class="pr-d-user__row"><span class="pr-d-user__dt">Размещено заказов:</span><span
                                        class="pr-d-user__dd"><a href="#" class="i-link">{{carrier.userProfile.completedOrders}}</a></span>
                                </div>
                                <div class="pr-d-user__row">
                                    <p class="pr-d-user__quote">{{carrier.userProfile.notes}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="pr-d-user__bottom">
                            <div class="pr-d-user__dl-a-row">
                                <div class="pr-d-user__dl-a-dt">Возможные регионы поездок:</div>
                                <div class="pr-d-user__dl-a-dd">{{getAvailableAreasList(carrier.areasOfTrips)}}
                                </div>
                            </div>
                            <div class="pr-d-user__dl-a-row">
                                <div class="pr-d-user__dl-a-dt">Оказываемые услуги:</div>
                                <div class="pr-d-user__dl-a-dd">
                                    <div ng-repeat="service in carrier.servicesProvided" class="b-card__dop-info" ng-class="{_pogr: service.serviceType == 1, _pak: service.serviceType == 2, _child: service.serviceType == 3}">
                                        {{service.serviceName}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="s-profile-a__title">Категории заказов</div>
                    <div class="l-type-route">
                        <div class="l-type-route__col-wrap">
                            <div class="l-type-route__col" ng-repeat="category in carrier.orderCategories">
                                <a href="" class="b-type-route">
                                    <img ng-src="{{category.img}}"><span>{{::category.name}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="l-auto-profile">
                        <div class="l-auto-profile__top">
                            <div ng-repeat="auto in carrier.cars track by $index" class="l-auto-profile__tab" ng-class="{_active: activeAuto.id == auto.id}" ng-click="getActiveAuto($index)">{{auto.name}}</div>
                        </div>
                        <div class="l-auto-profile__bottom">
                            <div class="b-auto _active">
                                <div class="b-auto__table">
                                    <div class="b-auto__left">
                                        <div class="b-slider">
                                            <div class="b-slider__top">
                                                <img ng-repeat="img in activeAuto.imageUrls track by $index" src="{{img.url}}" class="b-slider__img" ng-class="{_active: activeAutoImg.id == img.id}"/>
                                            </div>
                                            <div class="b-slider__bottom">
                                                <a href="" class="b-slider__controls _prev" ng-click="prevAutoImg()"></a>
                                                <a ng-repeat="img in activeAuto.imageUrls track by $index" href="" ng-click="getActiveAutoImg($index);"
                                                   class="b-slider__controls _slide" ng-class="{_active: activeAutoImg.id == img.id}">{{$index + 1}}</a>
                                                <a href="" class="b-slider__controls _next" ng-click="nextAutoImg()"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-auto__right">
                                        <div class="b-auto__title">{{auto.name}}</div>
                                        <!-- TODO: rename to modelName -->
                                        <!--<a href="#" class="i-link">Редактировать</a>-->
                                        <dl class="b-auto__dl">
                                            <div class="b-auto__dl-row">
                                                <dt class="b-auto__dt">Модель:</dt>
                                                <dt class="b-auto__dd">{{activeAuto.model}}</dt>
                                            </div>
                                            <div class="b-auto__dl-row">
                                                <dt class="b-auto__dt">Год выпуска:</dt>
                                                <dt class="b-auto__dd">{{activeAuto.year}}</dt>
                                            </div>
                                            <div class="b-auto__dl-row">
                                                <dt class="b-auto__dt">Грузоподъемность:</dt>
                                                <dt class="b-auto__dd">{{activeAuto.load}} кг</dt>
                                            </div>
                                            <div class="b-auto__dl-row">
                                                <dt class="b-auto__dt">Тип кузова:</dt>
                                                <dt class="b-auto__dd">{{activeAuto.bodyType}}</dt>
                                            </div>
                                            <div class="b-auto__dl-row">
                                                <dt class="b-auto__dt">Способ погрузки:</dt>
                                                <dt class="b-auto__dd">{{activeAuto.loadingMethod}}</dt>
                                            </div>
                                            <div class="b-auto__dl-row">
                                                <dt class="b-auto__dt">Габариты кузова:</dt>
                                                <!-- TODO: restructure sizes to be on acttiveAuto, not in size object -->
                                                <dt class="b-auto__dd">{{activeAuto.size.width}} х {{activeAuto.size.length}} х {{activeAuto.size.depth}}</dt>
                                            </div>
                                        </dl>
                                    </div>
                                </div>
                                <div class="b-auto__bottom">
                                    <div class="b-auto__bottom-top">
                                        <div class="b-auto__spec">Боковая</div>
                                        <div class="b-auto__spec">Боковая</div>
                                        <div class="b-auto__spec">Боковая</div>
                                        <div class="b-auto__spec">Боковая</div>
                                        <div class="b-auto__spec">Боковая</div>
                                        <div class="b-auto__spec">Боковая</div>
                                    </div>
                                    <div class="b-auto__bottom-bottom">
                                        <div class="b-auto__auto-about">{{activeAuto.notes}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="t-profile">
                        <div class="t-profile__top">
                            <div class="t-profile__top-left">
                                <a href="" class="i-link" ng-class="{_active: activeMenu == true}" ng-click="activeMenu = true">Отзывы</a>
                                <a href="" class="i-link" ng-class="{_active: activeMenu == false}" ng-click="activeMenu = false">Выполненные перевозки</a>
                            </div>
                            <div class="t-profile__top-right" ng-show="activeMenu == false">
                                <button class="i-link _arrow" ng-click="sortBy('category')" ng-class="{'_arrow-down':reverse}">По типу перевозки</button>
                                <button class="i-link _arrow" ng-click="sortBy('route.parts[0].length')" ng-class="{'_arrow-down':reverse}">По маршруту</button>
                            </div>
                        </div>
                        <div class="t-profile__bottom">
                            <div class="t-profile__item" ng-repeat="trans in carrier.transportations" ng-show="activeMenu == false">
                                <div class="t-profile__item-top">
                                    <div class="pr-xs-user">
                                        <div class="pr-xs-user__table">
                                            <div class="pr-xs-user__left">
                                                <img src="http://placehold.it/41x41" class="pr-xs-user__img">
                                            </div>
                                            <div class="pr-xs-user__right">
                                                <div class="pr-xs-user__name">{{carrier.userProfile.firstName + ' ' + carrier.userProfile.lastName}}</div>
                                                <div class="b-progress">
                                                    <div class="b-progress__outer">
                                                        <div style="width: 98%;" class="b-progress__inner"></div>
                                                    </div>
                                                    <div class="b-progress__count">98%</div>
                                                </div>
                                                <div class="pr-xs-user__lot-count">
                                                    <div class="pr-xs-user__lot-dt">Заказов:</div>
                                                    <div class="pr-xs-user__lot-dd">{{carrier.transportations.length}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="i-status _green">Успешно завершена</div> -->
                                </div>
                                <div class="t-profile__item-bottom">
                                    <div class="t-profile__item-bottom-td">
                                        <div class="l-order__short-info">
                                            <img src="{{trans.image}}" class="l-order__type-img">

                                            <div class="l-order__name">{{trans.name}}</div>
                                            <dl class="l-order__dl">
                                                <div class="l-order__dl-row">
                                                    <dt class="l-order__dt">Масса:</dt>
                                                    <dd class="l-order__dd">{{trans.weight}} кг</dd>
                                                </div>
                                                <div class="l-order__dl-row">
                                                    <dt class="l-order__dt">Габариты:</dt>
                                                    <dd class="l-order__dd">{{trans.size.width}}см х {{trans.size.length}}см х {{trans.size.depth}}см</dd>
                                                </div>
                                                <div class="l-order__dl-row">
                                                    <div class="b-card__dop-info _pogr">Требуются погрузка и разгрузка
                                                    </div>
                                                </div>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="t-profile__item-bottom-td">
                                        <div class="l-order__route">
                                            <div class="l-order__route-row"><span class="l-order__direction _fl">{{trans.route.parts[0].from.address.country}}, {{trans.route.parts[0].from.address.city}}</span><span
                                                    class="l-order__direction _fr">{{trans.route.parts[0].to.address.country}}, {{trans.route.parts[0].to.address.city}}</span>
                                            </div>
                                            <div class="l-order__route-row">
                                                <time class="l-order__date _fl">{{trans.route.parts[0].departureTime[0] | date:'dd.MM.yyyy'}},</time>
                                                <time class="l-order__time _fl">{{trans.route.parts[0].departureTime[0] | date:'HH:mm'}}</time>
                                                <span class="l-order__arrow"></span><span class="l-order__range">{{trans.route.parts[0].length}} км</span><span
                                                    class="l-order__arrow"></span>
                                                <time class="l-order__time _fr">{{trans.route.parts[0].arrivalTime[0] | date:'HH:mm'}}</time>
                                                <time class="l-order__date _fr">{{trans.route.parts[0].arrivalTime[0] | date:'dd.MM.yyyy'}},</time>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="t-profile__item-bottom-td">
                                        <div class="t-profile__price">
                                            <div class="i-usd"></div>{{trans.price.expected}} руб.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                    <div class="b-chat__bottom" ng-show="activeMenu == true">
                            <div class="b-answer" ng-repeat="comment in carrier.comments">
                                <div class="b-answer__left">
                                    <img src="{{comment.imgUrl}}">
                                </div>
                                <div class="b-answer__right">
                                    <div class="b-answer__content">
                                        <div class="b-answer__name">{{comment.firstName}} {{comment.lastName}}</div>
                                        <time class="b-answer__time">{{comment.time | date:'dd.MM.yyyy'}} {{comment.time | date:'HH:mm'}}</time>
                                        <p class="b-answer__text">{{comment.text}}</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="t-profile__content" ng-show="activeMenu == true">
                            <div class="t-profile__message" ng-repeat="comment in carrier.comments">
                                <div class="t-profile__message-top">
                                    <div class="pr-xs-user">
                                        <div class="pr-xs-user__table">
                                            <div class="pr-xs-user__left">
                                                <img src="http://placehold.it/41x41" class="pr-xs-user__img">
                                            </div>
                                            <div class="pr-xs-user__right">
                                                <div class="pr-xs-user__name">{{comment.firstName}} {{comment.lastName}}</div>
                                                <div class="b-progress">
                                                    <div class="b-progress__outer">
                                                        <div style="width: 98%;" class="b-progress__inner"></div>
                                                    </div>
                                                    <div class="b-progress__count">{{comment.ownRating}}%</div>
                                                </div>
                                                <div class="pr-xs-user__lot-count">
                                                    <div class="pr-xs-user__lot-dt">Заказов:</div>
                                                    <div class="pr-xs-user__lot-dd">{{comment.shippings}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="t-profile__message-time">{{comment.createdDateTime | date: 'dd.MM.yyyy HH:mm'}}</div>
                                </div>
                                <div class="t-profile__message-bottom">
                                    <div class="t-profile__message-title">{{comment.header}}
                                        <div class="i-percent _green">{{comment.rating}}%</div>
                                    </div>
                                    <div class="t-profile__message-text">{{comment.text}}</div>
                                </div>
                            </div>
                            <!-- <form name="newCommentForm" novalidate>
                                <div class="f-message-profile" ng-init="setForm(newCommentForm)">
                                    <div class="f-default__row">
                                        <input type="text" name="header" required ng-model="newComment.header" placeholder="Заголовок" class="f-default__field" ng-class="{'input-error': fieldHasError(newCommentForm.header)}">
                                    </div>
                                    <div class="f-default__row">
                                        <textarea type="text" name="text" required ng-model="newComment.text" placeholder="Текст комментария" rows="4" class="f-default__textarea" ng-class="{'input-error': fieldHasError(newCommentForm.text)}"></textarea>
                                    </div>
                                    <div class="f-default__row"><span class="f-end-order__text">Надежность/Комфорт</span>
                                        <div class="b-stars">
                                            <a href="" class="b-stars__star" ng-repeat="star in 5 | range" ng-click="newComment.rating.comfort=($index+1)*20" ng-class="{ '_active' : ($index+1)<=newComment.rating.comfort/20 }"></a>
                                        </div>
                                        <input type="text" readonly value="{{newComment.rating.comfort}}%" class="f-default__field _w-54 _green">
                                    </div>
                                    <div class="f-default__row"><span class="f-end-order__text">Ответственность</span>
                                        <div class="b-stars">
                                            <a href="" class="b-stars__star" ng-repeat="star in 5 | range" ng-click="newComment.rating.responsibility=($index+1)*20" ng-class="{ '_active' : ($index+1)<=newComment.rating.responsibility/20 }"></a>
                                        </div>
                                        <input type="text" readonly value="{{newComment.rating.responsibility}}%" class="f-default__field _w-54 _yellow">
                                    </div>
                                    <div class="f-default__row"><span class="f-end-order__text">Пунктуальность</span>
                                        <div class="b-stars">
                                            <a href="" class="b-stars__star" ng-repeat="star in 5 | range" ng-click="newComment.rating.punctuality=($index+1)*20" ng-class="{ '_active' : ($index+1)<=newComment.rating.punctuality/20 }"></a>
                                        </div>
                                        <input type="text" readonly value="{{newComment.rating.punctuality}}%" class="f-default__field _w-54">
                                    </div>
                                    <div class="f-default__row"><span class="f-end-order__text">Вежливость</span>
                                        <div class="b-stars">
                                            <a href="" class="b-stars__star" ng-repeat="star in 5 | range" ng-click="newComment.rating.politeness=($index+1)*20" ng-class="{ '_active' : ($index+1)<=newComment.rating.politeness/20 }"></a>
                                        </div>
                                        <input type="text" readonly value="{{newComment.rating.politeness}}%" class="f-default__field _w-54 _orange">
                                    </div>
                                    <div class="f-default__row">
                                        <button class="btn-d" ng-disabled="submitted && !validateNewComment()" ng-click="comment(newComment.header, newComment.text)" ng-class="{'submit-disabled': submitted && !validateNewComment()}">Оставить комментарий</button>
                                    </div>
                                </div>
                            </form> -->
                        </div>
                    </div>
                </div>
                <div class="s-profile-a__right">
                    <div class="b-profile-rate">
                        <div class="b-profile-rate__top">
                            <div class="b-profile-rate__title">Общий рейтинг:</div>
                            <div class="b-profile-rate__total">89</div>
                        </div>
                        <div class="b-profile-rate__middle">
                            <div class="b-profile-rate__row">
                                <div class="b-profile-rate__dt">Надежность/Комфорт
                                </div>
                                <div class="b-progress">
                                    <div class="b-progress__outer">
                                        <div style="width: 75%;" class="b-progress__inner"></div>
                                    </div>
                                    <div class="b-progress__count">75%</div>
                                </div>
                            </div>
                            <div class="b-profile-rate__row">
                                <div class="b-profile-rate__dt">Ответственность</div>
                                <div class="b-progress _yellow">
                                    <div class="b-progress__outer">
                                        <div style="width: 50%;" class="b-progress__inner"></div>
                                    </div>
                                    <div class="b-progress__count">50%</div>
                                </div>
                            </div>
                            <div class="b-profile-rate__row">
                                <div class="b-profile-rate__dt">Пунктуальность</div>
                                <div class="b-progress _orange">
                                    <div class="b-progress__outer">
                                        <div style="width: 15%;" class="b-progress__inner"></div>
                                    </div>
                                    <div class="b-progress__count">15%</div>
                                </div>
                            </div>
                            <div class="b-profile-rate__row">
                                <div class="b-profile-rate__dt">Вежливость</div>
                                <div class="b-progress _red">
                                    <div class="b-progress__outer">
                                        <div style="width: 0%;" class="b-progress__inner"></div>
                                    </div>
                                    <div class="b-progress__count">0%</div>
                                </div>
                            </div>
                            <div class="b-profile-rate__row">
                                <div class="b-profile-rate__dt">Рейтинг GOFAST</div>
                                <div class="b-progress">
                                    <div class="b-progress__outer">
                                        <div style="width: 75%;" class="b-progress__inner"></div>
                                    </div>
                                    <div class="b-progress__count">75%</div>
                                </div>
                            </div>
                        </div>
                        <div class="b-profile-rate__bottom"><a href="#" class="i-link">На чем вообще основывается
                            рейтинг?</a>
                        </div>
                    </div>
                    <div class="pr-docs">
                        <div class="pr-docs__top">
                            <div class="pr-docs__title">Документы</div>
                            <div class="pr-docs__dl">
                                <div class="pr-docs__dt">Стаж вождения:</div>
                                <div class="pr-docs__dd">13 лет</div>
                            </div>
                        </div>
                        <div class="pr-docs__bottom">
                            <div class="pr-docs__dl">
                                <div class="pr-docs__dl-row">
                                    <div class="pr-docs__dl-dt">Свидетельство о регистрации авто</div>
                                    <div class="pr-docs__dl-dd _true"></div>
                                </div>
                                <div class="pr-docs__dl-row">
                                    <div class="pr-docs__dl-dt">Свидетельство ИП или Юр. Лица</div>
                                    <div class="pr-docs__dl-dd _false"></div>
                                </div>
                                <div class="pr-docs__dl-row">
                                    <div class="pr-docs__dl-dt">Лицензия на перевозку людей</div>
                                    <div class="pr-docs__dl-dd _true"></div>
                                </div>
                                <div class="pr-docs__dl-row">
                                    <div class="pr-docs__dl-dt">Водительское удостоверение</div>
                                    <div class="pr-docs__dl-dd _true"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="bnr">
                        <img src="http://placehold.it/240x400">
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>