<div class="b-docs">
    <div class="b-docs__top"><a href="#" class="b-docs__tab">Мои документы<div class="i-question"></div></a><a href="#" class="b-docs__tab">Заполнение вручную</a>
    </div>
    <div class="b-docs__bottom">
        <div class="f-doc-drop f-default">
            <div class="f-doc-drop__fieldset">
                <div class="f-default__title">Свидетельство о регистрации автотранспорта</div>
                <div class="b-dropzone"></div>
                <label class="f-default__file">Загрузить другой скан
                    <input type="file">
                </label>
            </div>
            <div class="f-doc-drop__fieldset">
                <div class="f-default__title">Свидетельство о гос. регистрации юр. лица либо ИП</div>
                <div class="b-dropzone"></div>
                <label class="f-default__file">Загрузить другой скан
                    <input type="file">
                </label>
            </div>
            <div class="f-doc-drop__fieldset">
                <div class="f-default__title">Лицензия на пассажирские перевозки (если есть)</div>
                <div class="b-dropzone"></div>
                <label class="f-default__file">Загрузить другой скан
                    <input type="file">
                </label>
            </div>
            <div class="f-doc-drop__fieldset">
                <div class="f-default__title">Водительское удостоверение</div>
                <div class="b-dropzone"></div>
                <label class="f-default__file">Загрузить другой скан
                    <input type="file">
                </label>
            </div>
            <div class="f-doc-drop__fieldset">
                <button class="f-doc-drop__submit btn-f">Сохранить документы</button>
            </div>
        </div>
        <div class="f-doc-hand f-default">
            <div class="f-doc-hand__fieldset">
                <div class="f-default__text _light">Только для перевозчиков РБ</div>
            </div>
            <div class="f-doc-hand__fieldset">
                <div class="f-default__title">Водительское удостоверение</div>
                <div class="f-default__row">
                    <input type="text" class="f-default__field">
                </div>
                <div class="f-default__row">
                    <div class="f-default__col _1-3">
                        <select>
                            <option>AngularJS</option>
                        </select>
                    </div>
                    <div class="f-default__col _1-3">
                        <select>
                            <option>AngularJS</option>
                        </select>
                    </div>
                    <div class="f-default__col _1-3">
                        <select>
                            <option>AngularJS</option>
                        </select>
                    </div>
                </div>
                <div class="f-default__row">
                    <div class="f-default__col _1-3">
                        <select>
                            <option>AngularJS</option>
                        </select>
                    </div>
                    <div class="f-default__col _1-3">
                        <select>
                            <option>AngularJS</option>
                        </select>
                    </div>
                    <div class="f-default__col _1-3">
                        <select>
                            <option>AngularJS</option>
                        </select>
                    </div>
                </div>
                <div class="f-default__row">
                    <div class="f-offer__checkboxes">
                        <label class="f-default__ch-label">Категория A
                            <input type="checkbox"><span class="f-default__ck-box"></span>
                        </label>
                        <label class="f-default__ch-label">Категория B
                            <input type="checkbox"><span class="f-default__ck-box"></span>
                        </label>
                        <label class="f-default__ch-label">Категория C
                            <input type="checkbox"><span class="f-default__ck-box"></span>
                        </label>
                        <label class="f-default__ch-label">Все категории
                            <input type="checkbox"><span class="f-default__ck-box"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="f-doc-hand__fieldset">
                <div class="f-default__title">Техпаспорт на машину</div>
                <div class="f-default__row">
                    <input type="text" class="f-default__field">
                </div>
                <div class="f-default__row">
                    <select>
                        <option>AngularJS</option>
                    </select>
                </div>
                <div class="f-default__row">
                    <div class="f-default__col _1-3">
                        <select>
                            <option>AngularJS</option>
                        </select>
                    </div>
                    <div class="f-default__col _1-3">
                        <select>
                            <option>AngularJS</option>
                        </select>
                    </div>
                    <div class="f-default__col _1-3">
                        <select>
                            <option>AngularJS</option>
                        </select>
                    </div>
                </div>
                <div class="f-default__row">
                    <input type="text" class="f-default__field">
                </div>
            </div>
            <div class="f-doc-hand__fieldset">
                <div class="f-default__title">Номер ИНН</div>
                <div class="f-default__row">
                    <div class="f-default__col _1-3">
                        <select>
                            <option>AngularJS</option>
                        </select>
                    </div>
                    <div class="f-default__col _1-3">
                        <select>
                            <option>AngularJS</option>
                        </select>
                    </div>
                    <div class="f-default__col _1-3">
                        <select>
                            <option>AngularJS</option>
                        </select>
                    </div>
                </div>
                <div class="f-default__row">
                    <input type="text" class="f-default__field">
                </div>
            </div>
            <div class="f-doc-hand__fieldset">
                <div class="f-default__title">Лицензия пассажирского перевозчика</div>
                <div class="f-default__row">
                    <div class="f-default__col _1-3">
                        <select>
                            <option>AngularJS</option>
                        </select>
                    </div>
                    <div class="f-default__col _1-3">
                        <select>
                            <option>AngularJS</option>
                        </select>
                    </div>
                    <div class="f-default__col _1-3">
                        <select>
                            <option>AngularJS</option>
                        </select>
                    </div>
                </div>
                <div class="f-default__row">
                    <div class="f-default__col _1-3">
                        <select>
                            <option>AngularJS</option>
                        </select>
                    </div>
                    <div class="f-default__col _1-3">
                        <select>
                            <option>AngularJS</option>
                        </select>
                    </div>
                    <div class="f-default__col _1-3">
                        <select>
                            <option>AngularJS</option>
                        </select>
                    </div>
                </div>
                <div class="f-default__row">
                    <input type="text" class="f-default__field">
                </div>
            </div>
            <div class="f-doc-hand__fieldset">
                <button class="f-doc-hand__submit btn-f">Сохранить документы</button>
                <div class="f-default__text">Ваши документы будут соответствовать гос. документам РБ. Вы можете<a href="#" class="i-link-a">предварительно просмотреть документ</a>во
                    избежании ошибок.</div>
            </div>
        </div>
    </div>
</div>