<div ng-init="showAdvice1 = true; showAdvice2 = true">
    <div class="msg-box _thumb" ng-show="showAdvice1">
    <div class="i-thumb"></div>
    <div class="msg-box__text">Мы гарантируем конфеденциальность ваших данных, никакая информация не будет передана третьим лицам</div>
    <a href="" class="msg-box__close" ng-click="showAdvice1=!showAdvice1"></a>
    </div>
    <div class="msg-box _thumb" ng-show="showAdvice2">
        <div class="i-thumb"></div>
        <div class="msg-box__text">Ваша информация нужна, чтобы регистрировались только легальные перевозчики. Выполните следующие действия,
            чтобы доказать, что вы надежный перевозчик. При заполнении Ваш профиль повышает доверие заказчиков
            и увеличивает<a href="" class="i-link">рейтинг &laquo;Gofast&raquo;</a>
        </div>
        <a href="" class="msg-box__close" ng-click="showAdvice2=!showAdvice2"></a>
    </div>
</div>
<form name="form" ng-submit="save(form)" class="f-profile f-default">
    <div class="f-profile__fieldset">
        <div class="f-profile__title">Данные пользователя</div><a href="" ng-click="openChangePasswordModal()" class="i-link _fr">Смена пароля</a>
    </div>
    <div class="f-profile__fieldset">
        <div class="f-profile__table">
            <div class="f-profile__left">
                <!-- TODO: fix ngf-drag-over-class not applying 'dragover' class to photo circle -->
                <div class="b-dropzone" ng-model="profile.image" ngf-drop ngf-drag-over-class="'dragover'" ngf-fix-orientation="false" ngf-pattern="'image/*'"
                ng-class="{'_photo-circle': !profile.image}">
                    <img ng-if="profile.image" ngf-thumbnail="profile.image" ngf-size="{width: 156, height: 156, quality: 0.9}" />
                </div>
                <a href="#" ngf-select ng-model="profile.image" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="5MB" class="i-link">Загрузить фотографию</a>
            </div>
            <div class="f-profile__right">
                <div class="f-default__row">
                    <input type="text" ng-model="profile.fullName" name="fullName" placeholder="ФИО" class="f-default__field">
                </div>
                <div class="f-default__row">
                    <input type="text" ng-model="profile.login" name="login" placeholder="Ваш логин" class="f-default__field">
                </div>
                <div class="f-default__row _m-8">
                        <div class="f-default__date">
                        <input name="birthday" type="text" placeholder="День Рождения" class="f-default__field _date" uib-datepicker-popup ng-model="profile.birthday" ng-click="isBirthdayDatePickerOpen = !isBirthdayDatePickerOpen" is-open="isBirthdayDatePickerOpen" max-date="datepickerOptions.maxDate" datepicker-options="datepickerOptions"/>
                            <!-- <input type="text" ng-model="profile.worksFrom" class="f-default__field _date"> -->
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="f-profile__fieldset">
        <div class="f-default__title">Информация для работы с сервисом</div>
        <div class="f-default__row _width-296">
            <div class="f-default__label">Номер телефона</div>
            <div class="f-default__row _m-4">
                <div class="f-default__col _37-100">
                    <ui-select readonly name="phoneCode" ng-model="profile.phoneCode" theme="bootstrap" search-enabled="false">
                        <ui-select-match placeholder="Код">{{$select.selected.name}} +{{$select.selected.code}}</ui-select-match>
                        <ui-select-choices repeat="code.code as code in phoneCodes" position="down">
                            <div ng-bind-html="code.name">{{code.name}} +{{code.code}}</div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="f-default__col _63-100 _relative">
                    <input type="text" readonly ng-model="profile.phone" ui-mask="99-999-99-99" ui-mask-placeholder ui-mask-placeholder-char="X"
                    placeholder="ваш номер ХХ-ХХХ-ХХ-ХХ" class="f-default__field">
                    <div class="msg-change-phone">
                        <div class="i-exclamation-point"></div>Внимание, смена номера телефона, важный момент!
                    </div>
                </div>
            </div>
        </div>
        <div class="f-default__row _width-296">
            <div class="f-default__label">Электронный адрес</div>
            <input name="email" readonly type="email" ng-model="profile.email" required placeholder="Введите электронный адрес" class="f-default__field">
        </div>
        <div class="f-default__row _width-296">
            <div class="f-default__label">Стаж работы</div><span class="f-default__text _lh-34">C</span>
            <div class="f-default__date">
                <!-- <input type="text" ng-model="profile.worksFrom" class="f-default__field _date"> -->
                <input name="worksFrom" type="text" class="f-default__field _date" uib-datepicker-popup ng-model="profile.worksFrom" ng-click="isWorksFromDatePickerOpen = !isWorksFromDatePickerOpen" is-open="isWorksFromDatePickerOpen" max-date="datepickerOptions.maxDate" datepicker-options="datepickerOptions"/>
            </div>
        </div>
    </div>
    <div class="f-profile__fieldset">
        <div class="f-default__title">Способы расчета с вами</div>
        <div class="f-offer__checkboxes">
            <label class="f-default__ck-label">Наличный расчет
                <input type="checkbox" checklist-model="profile.paymentMethods" checklist-value="cash"><span class="f-default__ck-box"></span>
            </label>
            <label class="f-default__ck-label">По карточке
                <input type="checkbox" checklist-model="profile.paymentMethods" checklist-value="by_card"><span class="f-default__ck-box"></span>
            </label>
            <label class="f-default__ck-label">Безналичный расчет
                <input type="checkbox" checklist-model="profile.paymentMethods" checklist-value="cashless"><span class="f-default__ck-box"></span>
            </label>
        </div>
    </div>
    <div class="f-profile__fieldset">
        <div class="f-default__title">Оказываемые услуги</div>
        <div class="f-offer__checkboxes">
            <label class="f-default__ck-label">Упаковка
                <input type="checkbox" ng-model="profile.additionalServices.packing"><span class="f-default__ck-box"></span>
            </label>
            <label class="f-default__ck-label">Детское кресло
                <input type="checkbox" ng-model="profile.additionalServices.babyChair"><span class="f-default__ck-box"></span>
            </label>
            <label class="f-default__ck-label">Погрузка/Выгрузка
                <input type="checkbox" ng-model="profile.additionalServices.loading"><span class="f-default__ck-box"></span>
            </label>
            <label class="f-default__ck-label">Сборка мебели
                <input type="checkbox" ng-model="profile.additionalServices.furnitureAssembly"><span class="f-default__ck-box"></span>
            </label>
        </div>
    </div>
    <div class="s-profile-a__title">Категории заказов</div>
    <div class="l-type-route">
        <div class="l-type-route__col-wrap">
            <div class="l-type-route__col" ng-repeat="category in profile.orderCategories">
                <a href="" class="b-type-route">
                    <img ng-src="{{category.img}}"><span>{{::category.name}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="f-profile__fieldset">
        <div class="f-default__title">Уведомления</div>
        <div class="f-default__row">
            <div class="f-default__col _1-3">
                <div class="f-default__text _mb-8">Новые предложения</div>
                <div class="f-offer__checkboxes">
                    <label class="f-default__ck-label">СМС
                        <input type="checkbox" checklist-model="profile.notifications.newOffers" checklist-value="sms"><span class="f-default__ck-box"></span>
                    </label>
                    <label class="f-default__ck-label">Электронная почта
                        <input type="checkbox" checklist-model="profile.notifications.newOffers" checklist-value="email"><span class="f-default__ck-box"></span>
                    </label>
                </div>
            </div>
            <div class="f-default__col _1-3">
                <div class="f-default__text _mb-8">Новые комментарии</div>
                <div class="f-offer__checkboxes">
                    <label class="f-default__ck-label">СМС
                        <input type="checkbox" checklist-model="profile.notifications.newComments" checklist-value="sms"><span class="f-default__ck-box"></span>
                    </label>
                    <label class="f-default__ck-label">Электронная почта
                        <input type="checkbox" checklist-model="profile.notifications.newComments" checklist-value="email"><span class="f-default__ck-box"></span>
                    </label>
                </div>
            </div>
            <div class="f-default__col _1-3">
                <div class="f-default__text _mb-8">Новостные рассылки</div>
                <div class="f-offer__checkboxes">
                    <label class="f-default__ck-label">СМС
                        <input type="checkbox" checklist-model="profile.notificationTypes.newsLetters" checklist-value="sms"><span class="f-default__ck-box"></span>
                    </label>
                    <label class="f-default__ck-label">Электронная почта
                        <input type="checkbox" checklist-model="profile.notificationTypes.newsLetters" checklist-value="email"><span class="f-default__ck-box"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="f-profile__fieldset">
        <button class="btn-c">Сохранить</button>
    </div>
</form>