<div class="l-events">
    <div class="l-events__top">
        <div class="l-events__title">События</div>
    </div>
    <div class="l-events__middle"><a href="#" class="btn-e _active">Сегодня</a><a href="#" class="btn-e">За 7 дней</a><a href="#" class="btn-e">За месяц</a>
        <a href="#" class="btn-e">За год</a>
    </div>
    <div class="l-events__bottom">
        <div class="b-event">
            <div class="b-event__left">
                <div class="b-event__text">Пользователь<a href="#" class="i-link-a">Horek66</a>оставил отзыв по заказу<a href="#" class="i-link-a">Холодильник №536</a>
                </div>
                <time class="b-event__date">Сегодня в 15.33</time>
            </div>
            <div class="b-event__right"><a href="#" class="btn-a">К заказу</a>
            </div>
        </div>
        <div class="b-event">
            <div class="b-event__left">
                <div class="b-event__text">Пользователь<a href="#" class="i-link-a">Horek66</a>оставил отзыв по заказу<a href="#" class="i-link-a">Холодильник №536</a>
                </div>
                <time class="b-event__date">Сегодня в 15.33</time>
            </div>
            <div class="b-event__right">
            </div>
        </div>
        <div class="b-event">
            <div class="b-event__left">
                <div class="b-event__text">Пользователь<a href="#" class="i-link-a">Horek66</a>оставил отзыв по заказу<a href="#" class="i-link-a">Холодильник №536</a>
                </div>
                <time class="b-event__date">22 сентября 2015</time>
            </div>
            <div class="b-event__right">
            </div>
        </div>
        <div class="b-event">
            <div class="b-event__left">
                <div class="b-event__text">Пользователь<a href="#" class="i-link-a">Horek66</a>оставил отзыв по заказу<a href="#" class="i-link-a">Холодильник №536</a>
                </div>
                <time class="b-event__date">22 сентября 2015</time>
            </div>
            <div class="b-event__right"><a href="#" class="btn-a">К заказу</a>
            </div>
        </div>
        <div class="b-event">
            <div class="b-event__left">
                <div class="b-event__text">Пользователь<a href="#" class="i-link-a">Horek66</a>оставил отзыв по заказу<a href="#" class="i-link-a">Холодильник №536</a>
                </div>
                <time class="b-event__date">22 сентября 2015</time>
            </div>
            <div class="b-event__right">
            </div>
        </div>
        <div class="b-event">
            <div class="b-event__left">
                <div class="b-event__text">Пользователь<a href="#" class="i-link-a">Horek66</a>оставил отзыв по заказу<a href="#" class="i-link-a">Холодильник №536</a>
                </div>
                <time class="b-event__date">22 сентября 2015</time>
            </div>
            <div class="b-event__right">
            </div>
        </div>
        <div class="b-event">
            <div class="b-event__left">
                <div class="b-event__text">Пользователь<a href="#" class="i-link-a">Horek66</a>оставил отзыв по заказу<a href="#" class="i-link-a">Холодильник №536</a>
                </div>
                <time class="b-event__date">22 сентября 2015</time>
            </div>
            <div class="b-event__right"><a href="#" class="btn-a">К заказу</a>
            </div>
        </div>
        <div class="b-event">
            <div class="b-event__left">
                <div class="b-event__text">Пользователь<a href="#" class="i-link-a">Horek66</a>оставил отзыв по заказу<a href="#" class="i-link-a">Холодильник №536</a>
                </div>
                <time class="b-event__date">22 сентября 2015</time>
            </div>
            <div class="b-event__right">
            </div>
        </div>
        <div class="b-event">
            <div class="b-event__left">
                <div class="b-event__text">Пользователь<a href="#" class="i-link-a">Horek66</a>оставил отзыв по заказу<a href="#" class="i-link-a">Холодильник №536</a>
                </div>
                <time class="b-event__date">22 сентября 2015</time>
            </div>
            <div class="b-event__right">
            </div>
        </div>
        <div class="b-event">
            <div class="b-event__left">
                <div class="b-event__text">Пользователь<a href="#" class="i-link-a">Horek66</a>оставил отзыв по заказу<a href="#" class="i-link-a">Холодильник №536</a>
                </div>
                <time class="b-event__date">22 сентября 2015</time>
            </div>
            <div class="b-event__right"><a href="#" class="btn-a">К заказу</a>
            </div>
        </div>
        <div class="b-event">
            <div class="b-event__left">
                <div class="b-event__text">Пользователь<a href="#" class="i-link-a">Horek66</a>оставил отзыв по заказу<a href="#" class="i-link-a">Холодильник №536</a>
                </div>
                <time class="b-event__date">22 сентября 2015</time>
            </div>
            <div class="b-event__right">
            </div>
        </div>
        <div class="b-event">
            <div class="b-event__left">
                <div class="b-event__text">Пользователь<a href="#" class="i-link-a">Horek66</a>оставил отзыв по заказу<a href="#" class="i-link-a">Холодильник №536</a>
                </div>
                <time class="b-event__date">22 сентября 2015</time>
            </div>
            <div class="b-event__right">
            </div>
        </div>
        <div class="b-event">
            <div class="b-event__left">
                <div class="b-event__text">Пользователь<a href="#" class="i-link-a">Horek66</a>оставил отзыв по заказу<a href="#" class="i-link-a">Холодильник №536</a>
                </div>
                <time class="b-event__date">22 сентября 2015</time>
            </div>
            <div class="b-event__right"><a href="#" class="btn-a">К заказу</a>
            </div>
        </div>
        <div class="b-event">
            <div class="b-event__left">
                <div class="b-event__text">Пользователь<a href="#" class="i-link-a">Horek66</a>оставил отзыв по заказу<a href="#" class="i-link-a">Холодильник №536</a>
                </div>
                <time class="b-event__date">22 сентября 2015</time>
            </div>
            <div class="b-event__right">
            </div>
        </div>
        <div class="b-event">
            <div class="b-event__left">
                <div class="b-event__text">Пользователь<a href="#" class="i-link-a">Horek66</a>оставил отзыв по заказу<a href="#" class="i-link-a">Холодильник №536</a>
                </div>
                <time class="b-event__date">22 сентября 2015</time>
            </div>
            <div class="b-event__right">
            </div>
        </div>
        <div class="b-event">
            <div class="b-event__left">
                <div class="b-event__text">Пользователь<a href="#" class="i-link-a">Horek66</a>оставил отзыв по заказу<a href="#" class="i-link-a">Холодильник №536</a>
                </div>
                <time class="b-event__date">22 сентября 2015</time>
            </div>
            <div class="b-event__right"><a href="#" class="btn-a">К заказу</a>
            </div>
        </div>
        <div class="b-event">
            <div class="b-event__left">
                <div class="b-event__text">Пользователь<a href="#" class="i-link-a">Horek66</a>оставил отзыв по заказу<a href="#" class="i-link-a">Холодильник №536</a>
                </div>
                <time class="b-event__date">22 сентября 2015</time>
            </div>
            <div class="b-event__right">
            </div>
        </div>
    </div>
</div>