<div ng-init="showAdvice1 = true; showAdvice2 = true">
	<div class="msg-box _thumb" ng-show="showAdvice1">
    <div class="i-thumb"></div>
    <div class="msg-box__text">ВАЖНАЯ ИНФОРМАЦИЯ ДЛЯ ЗАКАЗЧИКА</div>
    <a href="" class="msg-box__close" ng-click="showAdvice1=!showAdvice1"></a>
	</div>
	<div class="msg-box _thumb" ng-show="showAdvice2">
	    <div class="i-thumb"></div>
	    <div class="msg-box__text">ВАЖНАЯ ИНФОРМАЦИЯ ДЛЯ ЗАКАЗЧИКА
	    </div>
	    <a href="" class="msg-box__close" ng-click="showAdvice2=!showAdvice2"></a>
	</div>
</div>
<div class="b-bets">
	<div class="b-bets__top">
		<div class="b-bets__title">Мои Заказы</div>
		<div class="b-bets__top-right"><a href="#" ng-class="{'_active': dateRange == DATE_RANGES.DAY}" ng-click="setDateRange(DATE_RANGES.DAY, $event)" class="btn-h _active">Сегодня</a>
			<a
			href="#" ng-class="{'_active': dateRange == DATE_RANGES.WEEK}" ng-click="setDateRange(DATE_RANGES.WEEK, $event)" class="btn-h">За 7 дней</a><a href="#" ng-click="setDateRange(DATE_RANGES.MONTH, $event)" ng-class="{'_active': dateRange == DATE_RANGES.MONTH}"
				class="btn-h">За месяц</a>
				<a href="#" ng-click="setDateRange(DATE_RANGES.YEAR, $event)" ng-class="{'_active': dateRange == DATE_RANGES.YEAR}" class="btn-h">За год</a>
		</div>
	</div>
	<div class="b-bets__middle">
		<div class="f-search-a">
			<input type="text" placeholder="Введите ключевые слова или номер заказа" ng-model="searchStr" class="f-default__field">
			<button class="btn-d">Поиск</button>
		</div>
	</div>
	<div class="b-bets__bottom">
		<div ng-scrollbar class="b-bets__wrap">
			<div class="b-bet" ng-repeat="bid in bids | filter: searchStr">
				<div class="b-bet__row">
					<div class="b-bet__row-left">
						<div class="l-order__short-info">
							<img src="/img/fridge.png" class="l-order__type-img">
							<div class="l-order__name">{{bid.order.name}}</div>
							<div class="i-status _red" ng-if="!bid.order.isActive">Завершенная</div>
							<div class="i-status _green" ng-if="bid.order.isActive">Активная</div>
							<div class="l-order__dl-row" ng-if="bid.order.accessibleOnlyForPro">
								<div class="i-pro">Только для Pro</div>
							</div>
						</div>
					</div>
					<div class="b-bet__row-right">
						<div class="l-order__route">
							<div class="l-order__route-row"><span class="l-order__direction _fl">{{bid.order.route.from.address.country}}, {{bid.order.route.from.address.city}}</span>
								<span class="l-order__direction _fr">{{bid.order.route.to.address.country}}, {{bid.order.route.to.address.city}}</span>
							</div>
							<div class="l-order__route-row">
								<time class="l-order__date _fl">{{bid.order.departureTime | date:'dd.MM.yyyy'}},</time>
								<time class="l-order__time _fl">{{bid.order.departureTime | date:'HH:mm'}}</time>
								<span class="l-order__arrow"></span><span class="l-order__range">{{bid.order.route.length}} км</span>
								<span class="l-order__arrow"></span>
								<time class="l-order__date _fr">{{bid.order.arrivalTime | date:'dd.MM.yyyy'}},</time>
								<time class="l-order__time _fr">{{bid.order.arrivalTime | date:'HH:mm'}}</time>
							</div>
						</div>
					</div>
				</div>
				<div class="b-bet__row">
					<div class="b-bet__dl">
						<div class="b-bet__dt">Ваша ставка цена:</div>
						<div class="b-bet__dd">{{bid.bid | currency: ""}}</div>
					</div>
					<a ui-sref="app.orders.details({orderId: bid.order.id})" class="btn-d b-bet__dl _green _arrow">Подробнее</a>
					<a ng-if="!bid.order.isActive" class="btn-d _green _arrow">Оставить отзыв</a>
				</div>
			</div>
		</div>
	</div>
</div>