<section class="s-order-b">
        <div class="container">
                <div class="s-order-b__col-wrap">
                        <div class="s-order-b__col" ng-if="step == 1">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>Сколько стоит размещение заявки?</span>
                                        </div>
                                        <div class="b-questions__text">Пользование сервисом GoFast для заказчиков и перевозчиков абсолютно бесплатно. Будем
                                                рады помочь вам сэкономить время и деньги</div>
                                </div>
                        </div>
                        <div class="s-order-b__col" ng-if="step == 1">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>Сколько займет поиск перевозчика?</span>
                                        </div>
                                        <div class="b-questions__text">Уже через 15 минут после размещения заявки вам начнут поступать первые предложения.</div>
                                </div>
                        </div>
                        <div class="s-order-b__col" ng-if="step == 1">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>Что можно перевезти?</span>
                                        </div>
                                        <div class="b-questions__text">С GoFast вы сможете найти транспорт для любого груза или маршрута. Наши перевозчики
                                                доставят как автомобиль, мотоцикл, личные вещи, мебель, строительные материалы,
                                                так и даже ваших любимых домашних животных.</div>
                                </div>
                        </div>
                        <div class="s-order-b__col" ng-if="step == 1">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>Как дополнительно сэкономить с GoFast?</span>
                                        </div>
                                        <div class="b-questions__text">Вам повезет, если ваш груз окажется попутным или перевозчик ищет себе заказ в обратную
                                                дорогу. В таком случае вам удастся сэкономить до 50% средств.</div>
                                </div>
                        </div>
                        <div class="s-order-b__col" ng-if="step == 2">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>Что необходимо указать в заявке?</span>
                                        </div>
                                        <div class="b-questions__text">Не забудьте уточнить габариты того, что нужно перевезти. В том числе, укажите, нужно ли упаковывать ваши вещи, а также услуги по погрузке, разгрузке, подъебу их на этаж.</div>
                                </div>
                        </div>
                        <div class="s-order-b__col" ng-if="step == 2">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>Что такое Fast цена?</span>
                                        </div>
                                        <div class="b-questions__text">Если Вам необходимо перевезти груз срочно, то при заполнении заявки укажите свою Fast цену. Первый же ответивший перевозчик со статусом Pro или рейтингом выше 50% - получит ваши контактные данные (Fast цена - цена, по которой вы готовы заплатить, не тратя время на аукцион).</div>
                                </div>
                        </div>
                         <div class="s-order-b__col" ng-if="step == 2">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>Я не знаю вес и объем груза. Что делать?</span>
                                        </div>
                                        <div class="b-questions__text">Можно указать примерный вес перевозимых вещей. Опишите подробно вещи, чтобы потенциальные исполнители смогли рассчитать объем будущей перевозки. Предпочтительо добавить фотографию груза, так как по статистике такие запросы получат больше предложений.</div>
                                </div>
                        </div>
                         <div class="s-order-b__col" ng-if="step == 2">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>Кто такие Pro-перевозчики? </span>
                                        </div>
                                        <div class="b-questions__text">Это наиболее профессиональные и надежные перевозчики с собственным автопарком, они быстрее отреагируют на ваш запрос.</div>
                                </div>
                        </div>
                         <div class="s-order-b__col" ng-if="step == 3">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>Что необходимо указать в заявке?</span>
                                        </div>
                                        <div class="b-questions__text">Не забудьте уточнить габариты того, что нужно перевезти. В том числе, укажите, нужно ли упаковывать ваши вещи, а также услуги по погрузке, разгрузке, подъему их на этаж.</div>
                                </div>
                        </div>
                        <div class="s-order-b__col" ng-if="step == 3">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>Как получить больше предложений?</span>
                                        </div>
                                        <div class="b-questions__text">Разместить запрос на перевозку за 1-2 дня до предполагаемой даты совершения сделки.</div>
                                </div>
                        </div>
                        <div class="s-order-b__col" ng-if="step == 3">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>За что я плачу?</span>
                                        </div>
                                        <div class="b-questions__text">Предложение (ставка) перевозчика - полная стоимость выполнения заказа: перевозка, а также все услуги, заявленные вами в заказе (погрузка/разгрузка, сборка/разборка мебели и т.д.). Стоимость, указанная на сайте окончательная. Если перевозчик требует доплаты, то вы вправе оставить о нем соответствующий отзыв.</div>
                                </div>
                        </div>
                        <div class="s-order-b__col" ng-if="step == 3">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>Каким образом защищены мои данные?</span>
                                        </div>
                                        <div class="b-questions__text">Все ваши контактные данные заказчика будут защищены самым современным SSL - сертификатом. Другими словами, эта информация не попадет в руки третьим лицам.</div>
                                </div>
                        </div>
                          <div class="s-order-b__col" ng-if="step == 4">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>Как определиться с перевозчиком?</span>
                                        </div>
                                        <div class="b-questions__text">Выберите оптимальное предложение по соотношению цена-качество. Качество услуг перевозчика отражает его реальный рейтинг и отзывы на GoFast</div>
                                </div>
                        </div>
                         <div class="s-order-b__col" ng-if="step == 4">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>Как перевозчик подтвердит, что заказ принят?</span>
                                        </div>
                                        <div class="b-questions__text">После того как вы выбрали перевозчика: и вам, и ему в специаольном окне откроются контактные данные(телефон)</div>
                                </div>
                        </div>
                          <div class="s-order-b__col" ng-if="step == 4">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>Сколько ценовых предложений от перевозчиков я получу?</span>
                                        </div>
                                        <div class="b-questions__text">На GoFast самый полный список проверенных и ответственных перевозчиков. На каждый запрос выдвигается сразу 5-6 предложений.</div>
                                </div>
                        </div>
                          <div class="s-order-b__col" ng-if="step == 4">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>Каким образом защищены мои данные?</span>
                                        </div>
                                        <div class="b-questions__text">Все ваши контактные данные заказчика будут защищены самым современным SSL - сертификатом. Другими словами, эта информация не попадет в руки третьим лицам.</div>
                                </div>
                        </div>
                        
                        <div class="s-order-b__col" ng-if="step == 5 || step == 6">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>Мне будут звонить и предлагать услуги?</span>
                                        </div>
                                        <div class="b-questions__text">Нет, все предложения по вашему заказу вы сможете просмотреть на странице заказа, а также получите уведомления по электронной почте. Подтверждение телефонноо номера понадобится только когда вы сами выберете единственного перевозчика</div>
                                </div>
                        </div>
                        <div class="s-order-b__col" ng-if="step == 5 || step == 6">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>Как рассчитаться с перевозчиком?</span>
                                        </div>
                                        <div class="b-questions__text">Способ оплаты за оказанные услуги по грузо- или пассажирской перевозке определяется по вашей договоренности с исполнителем.</div>
                                </div>
                        </div>
                        <div class="s-order-b__col" ng-if="step == 5 || step == 6">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>Зачем оставлять отзывы?</span>
                                        </div>
                                        <div class="b-questions__text">Именно ваш отзыв об исполнителе и качестве его работы упростит в будущем посетителям сервиса GoFast выбор и позволит делать его еще быстрее. Именно благодаря вам в нашем списке остаются только добросовестные перевозчики, аккаунты с негативной оценкой навсегда удаляются.</div>
                                </div>
                        </div>
                        <div class="s-order-b__col" ng-if="step == 5 || step == 6">
                                <div class="b-questions">
                                        <div class="b-questions__title"><span>Обязан ли я принять предложение?</span>
                                        </div>
                                        <div class="b-questions__text">Нет, не обязаны. Сервис GoFast создан для того, чтобы вы могли узнать цену на перевозку, а при необходимости воспользоваться лучшим предложением.</div>
                                </div>
                        </div>
                       
                </div>
        </div>
</section>