<div class="b-order-steps">
    <div class="b-order-steps__col-wrap">
        <div class="b-order-steps__col" ng-class="{'_active':step == 1, '_completed': (step == 2 || step == 3 || step == 4 || step == 5 || step == 6)}">
            <div class="b-order-steps__step-count">1</div>
            <div class="b-order-steps__text"><span ng-if="item.category">{{item.category}}</span><span ng-if="!item.category">Выберите тип перевозки</span></div>
        </div>
        <div class="b-order-steps__col " ng-class="{'_active':step == 2, '_completed': (step == 3 || step == 4 || step == 5 || step == 6)}">
            <div class="b-order-steps__step-count">2</div>
            <div class="b-order-steps__text">Подробности заказа</div>
        </div>
        <div class="b-order-steps__col" ng-class="{'_active':step == 3, '_completed': (step == 4 || step == 5 || step == 6)}">
            <div class="b-order-steps__step-count">3</div>
            <div class="b-order-steps__text">Маршрут заказа</div>
        </div>
        <div class="b-order-steps__col" ng-class="{'_active':step == 4, '_completed': (step == 5 || step == 6)}">
            <div class="b-order-steps__step-count">4</div>
            <div class="b-order-steps__text">Просмотр лота</div>
        </div>
        <div class="b-order-steps__col" ng-class="{'_active':step == 5, '_completed': (step == 6)}">
            <div class="b-order-steps__step-count">5</div>
            <div class="b-order-steps__text">Размещение заказа</div>
        </div>
    </div>
</div>