<div class="p-registration">
    <section class="s-registration-a">
        <div class="s-registration-a__top">
            <div class="container">
                <h1>Вход</h1><a href="#" class="i-close-link">Закрыть</a>
                <form class="f-sign-up f-default">
                    <div class="f-sign-up__bottom">
                        <div class="f-sign-up__content">
                            <div class="f-sign-up__step">
                                <div class="f-sign-up__table">
                                    <div class="f-sign-up__left">
                                        <div class="f-default__row">
                                            <input ng-model="credentials.username" type="text" placeholder="Логин" class="f-default__field">
                                        </div>
                                        <div class="f-default__row">
                                            <div class="f-default__pass">
                                                <input ng-model="credentials.password" type="password" placeholder="Пароль" class="f-default__field">
                                                <div class="f-default__pass-eye"></div>
                                            </div>
                                        </div>
                                        <div class="f-default__row _mb-0">
                                            <button ng-click="login()" class="btn-c">Войти</button>
                                        </div>
                                    </div>
                                    <div class="f-sign-up__right"><a href="#" class="btn-s _ok">Одноклассники</a><a href="#" class="btn-s _gm">гугл почта</a>
                                        <a
                                        href="#" class="btn-s _vk">Вконтакте</a><a href="#" class="btn-s _fb">Фэйсбук</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="s-registration-a__text">Пользуясь нашим приложением вы принимаете<a href="#">Публичную оферту</a>и<a href="#">Политику конфеденциальности</a>
                </div>
            </div>
        </div>
        <div class="s-registration-a__bottom">
            <div class="container">
                <div class="b-vantage">
                    <div class="b-vantage__col-wrap">
                        <div class="b-vantage__col">
                            <div class="b-vantage__img-wrap">
                                <img src="img/shield.png" class="b-vantage__img">
                            </div>
                            <h3 class="b-vantage__title">Безопасность</h3>
                            <p class="b-vantage__text">Перевозка грузов производится различными видами транспорта. Безопасность — наиболее важный фактор.</p>
                        </div>
                        <div class="b-vantage__col">
                            <div class="b-vantage__img-wrap">
                                <img src="img/time.png" class="b-vantage__img">
                            </div>
                            <h3 class="b-vantage__title">Время</h3>
                            <p class="b-vantage__text">Доверие (между людьми) — это уверенность в поступке другого человека определённым образом.</p>
                        </div>
                        <div class="b-vantage__col">
                            <div class="b-vantage__img-wrap">
                                <img src="img/money.png" class="b-vantage__img">
                            </div>
                            <h3 class="b-vantage__title">Деньги</h3>
                            <p class="b-vantage__text">Переезд недорого – вот два заветных слова для любого человека, меняющего место жительства либо
                                организующего переезд офиса.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>