/*
p -- page
s -- section
b -- block
pr -- block preview (pr-xxs, pr-xs, pr-s, pr-m, pr) if different sizes on site
f -- form
m -- menu
l -- list
i -- img links, lone links, logos, svg
t -- tables
title -- default titles
btn -- buttons
msg -- message - not content
_error*
_success*
*/

.owl-item
  transform translateZ(0)
._fr
  float: right
._fl
  float: left
._relative
  position: relative

a
a:hover
a:focus
a:active
  text-decoration: none



img
  display block
button
  background transparent
input,textarea
  font-family: 'Open Sans', sans-serif;
  -webkit-appearance none
  border-radius: 0
  &::placeholder
    font-family: 'Open Sans', sans-serif;

// 1. Prevent iOS text size adjust after orientation change, without disabling user zoom.
// 2. Remove highlite on mobile devices.
html,body
  height 100%
  font-size 16px
  font-weight 400
  font-family: 'Open Sans', sans-serif;
  -ms-text-size-adjust 100%                       // 1
  -webkit-text-size-adjust 100%                   // 1
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  -webkit-overflow-scrolling touch
  -webkit-tap-highlight-color rgba(0,0,0,0)	  	  // 2
  -webkit-focus-ring-color rgba(255,255,255,0)	  // 2
body._oh
  overflow: hidden
.dropdown-menu
  top: 0
.dropdown
  position: relative;
  min-height: 34px;
.form-control
  box-shadow none


@media only screen and (max-width: 1200px)
  body
    width: 1200px;