$breakpoints = ( '' 1024 768 640 )
$breakpoints-length = 3 //first child = ''
$columnsArr-length = 1 //first child = 12

// todo сделать количество брейкпоинтов для каждой колоночности отдельно
// todo протестить safari

.f-wrap
  //fallback
  display: block
  font-size: 0

  //flex
  display flex
  flex-flow row wrap

.f-col
  //fallback
  display inline-block

  //flex
  flex 0 0 auto

for $currentColumns in 12 6   // <== set need grid columns count

  //default cols
  for $index in (1..$currentColumns)
    .col-{$index}-{$currentColumns}
      //fallback
      width ((100%*$index)/$currentColumns)

      //flex
      flex-basis ((100%*$index)/$currentColumns)
      max-width ((100%*$index)/$currentColumns)

  //default offset
  for $index in (1..($currentColumns - 1))
    .col-offset-{$index}-{$currentColumns}
      margin-left ((100%*$index)/$currentColumns)

  //breakpoints cols & offsets
  for $point in (1..$breakpoints-length)

    @media only screen and (max-width: $breakpoints[$point]px)

      //breakpoints cols
      for $index in (1..$currentColumns)
        .col-{$breakpoints[$point]}-{$index}-{$currentColumns}
          //fallback
          width ((100%*$index)/$currentColumns)

          //flex
          flex-basis ((100%*$index)/$currentColumns)
          max-width ((100%*$index)/$currentColumns)

      //breakpoints offsets
      for $index in (0..($currentColumns - 1))
        .col-{$breakpoints[$point]}-offset-{$index}-{$currentColumns}
          margin-left ((100%*$index)/$currentColumns)