<div class="f-sign-up__bottom">
    <div class="f-sign-up__content">
        <div class="f-sign-up__step _vam-out">
            <div class="f-sign-up__step-wrap">
                <div class="f-default__title">Поздравляем, ваша регистрация успешно завершена</div>
                <div class="f-default__title">Ваш ник на Gofast: <span class="_light">{{userData.username}}</span>
                <div class="f-default__title">Через несколько секунд на +{{userData.phoneCode}}{{userData.phone}} придёт код подтверждения.</div>
                
                </div><a ui-sref="app.registration.new" class="i-link">Я ошибся и хочу изменить свои данные</a>
                <div class="f-default__row">
                    <input type="text" ng-model="code" placeholder="Четырехзначный код" class="f-default__field _width-355" 
                        ng-class="{'has-error': wrongCode, 'success': confirmed}"/>
                </div>
                <div ng-if="wrongCode" class="f-sign-up__attention error-text">
                    Неверный код.
                </div>
                <div class="f-default__row">
                    <button ng-click="confirmCode(code)" class="btn-c">Завершить регистрацию</button>
                </div>
                <div class="f-sign-up__attention">
                    <div class="i-attention"></div>Ваш номер телефона не передается третьим лицам
                </div>
            </div>
        </div>
    </div>
</div>