<div class="f-sign-up__bottom">
    <div class="f-sign-up__content">
        <div class="f-sign-up__step _vam-out">
            <div class="f-sign-up__step-wrap">
                <div class="f-default__title">Поздравляем, ваша регистрация успешно завершена</div>
                <div class="f-default__title _mb-20">Ваш ник на Gofast, {{userData.username}}/div>
                <div class="f-sign-up__text">Введите свой номер телефона для подтверждения регистрации.</div>
                <div class="f-sign-up__text _mb-20">Через несколько секунд вам придет код для подтверждения.</div>
                <div class="f-default__row _width-463">
                    <div class="f-default__col _24-100">
                        <ui-select ng-model="selectPhoneArea" theme="bootstrap" search-enabled="false" required="">
                            <ui-select-match placeholder="Please select">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="phone in selectPhone" position="down">
                                <div ng-bind-html="phone">{{phone}}</div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="f-default__col _41-100">
                        <input type="tel" ng-model="phone" placeholder="ваш номер ХХ-ХХХ-ХХ-ХХ" class="f-default__field">
                    </div>
                    <div class="f-default__col _35-100">
                        <buttom ng-click="sendConfirmationCode(phone)" class="f-default__submit-3 btn-d">Отправить код</buttom>
                    </div>
                </div>
                <div class="f-default__row _width-455">
                    <div class="f-sign-up__code" ng-class="{'_success': confirmed}">
                        <input type="text" ng-model="code" placeholder="Четырехзначный код" class="f-default__field" ng-class="{'has-error': wrongCode, 'success': confirmed}">
                    </div>
                </div>
                <div ng-if="wrongCode" class="f-sign-up__attention error-text">
                    Неверный код :(
                </div>
                <div ng-if="!confirmed" class="f-default__row">
                    <button ng-click="confirmCode(code)" class="btn-c">Завершить регистрацию</button>
                </div>
                <div ng-if="confirmed" class="f-default__row">
                    <button ui-sref="app.login" class="btn-c">Войти</button>
                </div>
                <div class="f-sign-up__attention">
                    <div class="i-attention"></div>Ваш номер телефона не передается третьим лицам
                </div>
            </div>
        </div>
    </div>
</div>