<div class="p-registration">
    <section class="s-registration-a">
        <div class="s-registration-a__top">
            <div class="container">
                <h1>Регистрация</h1><a href="#" class="i-close-link">Закрыть</a>
                <div class="f-sign-up f-default">
                    <ui-view/>
                </div>
                <div class="s-registration-a__text">Создавая аккаунт, вы принимаете<a href="#">Публичную оферту</a>и<a href="#">Политику конфеденциальности</a>
                </div>
            </div>
        </div>
        <div class="s-registration-a__bottom">
            <div class="container">
                 <div class="b-vantage" ng-if="userData.type == USER_ROLES.CUSTOMER">
                     <div class="b-vantage__col-wrap">
                        <div class="b-vantage__col">
                            <div class="b-vantage__img-wrap">
                                <img src="/img/shield.png" class="b-vantage__img">
                            </div>
                            <h3 class="b-vantage__title">Надежность</h3>
                            <p class="b-vantage__text">Выбрать ответственного перевозчика поможет его реальный рейтинг и отзывы.</p>
                        </div>
                        <div class="b-vantage__col">
                            <div class="b-vantage__img-wrap">
                                <img src="/img/time.png" class="b-vantage__img">
                            </div>
                            <h3 class="b-vantage__title">Быстро и удобно</h3>
                            <p class="b-vantage__text">Теперь не нужно перебирать огромное количество объявлений. Разместите свою заявку у нас и дождитесь лучшего предложения, первые начнут поступать уже через 10 минут.</p>
                        </div>
                        <div class="b-vantage__col">
                            <div class="b-vantage__img-wrap">
                                <img src="/img/money.png" class="b-vantage__img">
                            </div>
                            <h3 class="b-vantage__title">Деньги</h3>
                            <p class="b-vantage__text">С помощью нашего сервиса вы сэкономите не только нервы, но и деньги. Только здесь перевозчики, торгуясь между собой, предложат минимальную цену за ваш заказ.</p>
                        </div>
                    </div>
            </div>
            <div class="b-vantage" ng-if="userData.type != USER_ROLES.CUSTOMER">
                <div class="b-vantage__col-wrap">
                    <div class="b-vantage__col">
                        <div class="b-vantage__img-wrap">
                            <img src="/img/wallet-2.png" class="b-vantage__img">
                        </div>
                        <h3 class="b-vantage__title">Прямые заказы</h3>
                        <p class="b-vantage__text">Здесь вы найдете большое количество прямых заказов.</p>
                    </div>
                    <div class="b-vantage__col">
                        <div class="b-vantage__img-wrap">
                            <img src="/img/percent.png" class="b-vantage__img">
                        </div>
                        <h3 class="b-vantage__title">Честные условия</h3>
                        <p class="b-vantage__text">Комиссия сервиса GoFast - не более 5% и только от выполненных заказов.</p>
                    </div>
                    <div class="b-vantage__col">
                        <div class="b-vantage__img-wrap">
                            <img src="/img/time.png" class="b-vantage__img">
                        </div>
                        <h3 class="b-vantage__title">Быстро и удобно</h3>
                        <p class="b-vantage__text">Зарегестрируйтесь бесплатно и вы будете получать уведомления о новых заказах в SMS и на e-mail.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>