<div class="f-sign-up__top">
    <a ng-click="setType(USER_ROLES.CUSTOMER)" ng-class="{'_active':userData.type == USER_ROLES.CUSTOMER}" class="f-sign-up__tab">Перевезти груз или доехать</a><a ng-click="setType(USER_ROLES.CARRIER)" ng-class="{'_active':userData.type == USER_ROLES.CARRIER}" class="f-sign-up__tab">Я являюсь перевозчиком</a>
</div>
<div class="f-sign-up__bottom">
    <div class="f-sign-up__content">
        <div class="f-sign-up__step">
            <div class="f-sign-up__table">
                <div class="f-sign-up__left">
                <form name="registerForm" ng-submit="register(registerForm)">
                        <div class="f-default__row">
                            <input type="text" name="firstName" ng-model="userData.firstName" required placeholder="Имя" class="f-default__field">
                        </div>
                        <div class="f-default__row">
                            <input type="text" name="lastName" ng-model="userData.lastName" required placeholder="Фамилия" class="f-default__field">
                        </div>
                        <div class="f-default__row">
                            <input type="text" name="username" ng-model="userData.username" required placeholder="Логин (будет являться вашим ником)" class="f-default__field">
                        </div>
                        <div class="f-default__row">
                            <input type="email" name="email" ng-model="userData.email" required placeholder="Ваш e-mail" class="f-default__field">
                        </div>
                        <div class="f-default__row _m-8">
                            <div class="f-default__col _39-100">
                                <ui-select name="phoneCode" ng-model="userData.phoneCode" theme="bootstrap" search-enabled="false">
                                    <ui-select-match placeholder="Код">{{$select.selected.name}} +{{$select.selected.code}}</ui-select-match>
                                    <ui-select-choices repeat="code.code as code in phoneCodes" position="down">
                                        <div ng-bind-html="code.name">{{code.name}} +{{code.code}}</div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="f-default__col _61-100">
                                <input type="tel" name="phone" ng-model="userData.phone" required ui-mask="99-999-99-99" ui-mask-placeholder ui-mask-placeholder-char="X" placeholder="Ваш номер ХХ-ХХХ-ХХ-ХХ" class="f-default__field">
                            </div>
                        </div>
                        <div class="f-default__row">
                            <div class="f-default__pass" ng-init="showPassword = false">
                                <input ng-if="!showPassword" type="password" name="password" required ng-model="userData.password" placeholder="Придумайте пароль" class="f-default__field">
                                <input ng-if="showPassword" type="text" name="text" required ng-model="userData.password" placeholder="Придумайте пароль" class="f-default__field">
                                <div class="f-default__pass-eye" ng-click="showPassword = !showPassword"></div>
                            </div>
                        </div>
                        <div class="f-default__row _mb-0">
                            <input type="submit" class="btn-c" value="Зарегистрироваться"/>
                        </div>
                    </form>
                </div>
                <div class="f-sign-up__right"><a class="btn-s _ok">Одноклассники</a><a class="btn-s _gm">гугл почта</a>
                    <a class="btn-s _vk">Вконтакте</a><a class="btn-s _fb">Фэйсбук</a>
                    <div class="f-sign-up__text">Есть аккаунт в социальных сетях? Регистрируйтесь в один клик!</div>
                </div>
            </div>
        </div>
    </div>
</div>