.f-add-auto
  background #fff
  border-radius: 6px
  padding 15px 30px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  &__bottom
    padding 10px 0
    border-top 1px dotted #b8b8b8
  &__top
    border-bottom 1px dotted #b8b8b8
    margin-bottom: 10px
    padding-bottom: 10px
  &__title
    font-size: 30px
    color #000
    text-transform: uppercase;
    font-weight: 700
  &__group
    width: 495px
  .col-wrap
    margin-left: -14px
  .col3
  .col2-3
    padding-left: 14px
  ._size
    width: 76px
    padding 0 10px
    text-align: center
    vam()
    &+.f-default__text
      vam()
      margin-left: 10px
      margin-right: 10px
  .f-default__ck-label
    width: 227px
    padding-right: 8px
  .f-offer__checkboxes
    padding-top: 15px
  ._green
    line-height: 45px
    padding 0 18px
    margin-right: 19px
  .i-link
    vam()