.f-base-map
  background #fff
  border-radius: 6px 6px 0 0
  text-align: center
  position: relative
  z-index: 1
  margin-bottom: 1px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  .i-passengers
    margin-left: 4px
  ._size
    vam()
    width: 76px
    text-align: center
    padding 0 11px
  &__size-wrap
    vam()
    margin-left: 18px
    position: relative
    &:before
      vr()
      width: 1px
      height: 72px
      border-left 1px dotted #9fb0b8
  .f-default__text
    vam()
    margin 0 7px 0 10px
  &__row
    cf()
    &+&
      margin-top 27px
  &__top
    padding 26px 29px 13px
  &__bottom
    background #d0ebf7

    .f-base-map__dt
      padding-right: 10px
    .btn-d
      margin-left: 10px
    .f-base-map__left
    .f-base-map__right
      width auto
      font-size: 0
    .f-default__ck-box
      background #fff
    .f-default__field
      background #fff
      vam()
    .f-default__ck-label
      margin: 0
      vam()
    .f-base-map__row
      text-align: left;
      font-size: 0
      padding 28px 18px
      margin: 0
      &:last-child
        padding: 28px 32px;
      &+.f-base-map__row
        border-top 1px solid #bbd3de
  &__pass-count
    vam()
    width: 196px
    margin 0 40px 0 11px
  &__dropdown
    display: none
    background #fff
    padding: 10px
    border 1px solid #dddddd
    border-radius: 5px
    &:before
      ps()
      width: 8px
      height: 8px
      background #fff
      box-shadow 0 -1px 0 0 #dddddd
      transform rotate(45deg)
      transform-origin center
      top: -4px;
      right: 10px;
    .f-default__ck-label
      display: block
      text-align: left;
      margin-bottom: 0
      &+.f-default__ck-label
        margin 14px 0 0 0
  &__text
    font-size: 13px
    vam()
    padding-left: 8px
  &__alyselect
    vam()
    position: relative
    width: 248px
    &+&
      margin-left: 9px
    .f-base-map__ck-alyselect
      display: none
      &:checked~.f-base-map__dropdown
        display: block
        position: absolute
        z-index: 1
        top: calc(100% + 8px)
        left: 0
        width: 100%
    .f-base-map__ck-alyselect-label
      height: 34px
      border 1px solid grC
      text-align: left;
      font-weight: 400
      border-radius: 4px
      display: block
      width: 100%
      padding 0 17px 0 12px
      background #fff
      cursor pointer
      line-height: 34px
      position: relative
      font-size: 13px
      box-shadow inset 0 1px 1px 0 rgba(#000,0.15)
      &:before
        vr()
        width: 9px
        height: 12px
        background us() -50px -175px
        right: 7px
  &__left
    float: left;
    width: 520px
  &__right
    float: right;
    width: 590px
  &__dt
    vam()
    font-weight: 700
    text-transform: uppercase;
    font-size: 14px
    line-height: 32px
  &__table
  &__table-a
    dt()
  &__table-left
    width: 75px
    text-align: right
    padding-right: 15px
    dtct()
  &__table-a-left
    width: 146px
    text-align: right
    padding-right: 15px
    dtct()
    .i-swap
      margin-right: 34px
  &__table-right
  &__table-a-right
    text-align: left;
    dtct()
    font-size: 0
    .ui-select-container
      width: 50%
      vam()
      &:first-child
        .btn
          border-radius 5px 0 0 5px
      &:last-child
        .btn
          border-radius 0 5px 5px 0
          border-left 0
  .f-default__date
    width: 161px
    &+.f-base-map__dt
      padding 0 15px 0 16px
      vam()