.f-cargo-info
  padding 31px 30px
  background #fff
  border-radius: 6px
  margin 0 auto
  max-width 490px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  a.i-link
    float none
  .i-link+.i-link
    margin-left: 20px
  ._size._height
    vam()
    width: 68px
    padding 0 10px
    text-align: center
  ._size._length
  ._size._width
    vam()
    width 76px
    padding 0 10px
    text-align: center
  ._size+.f-default__text
    padding-left: 10px
  .f-default__text
    vam()
    padding 0 0 0 0
  .f-default__date
    width: 195px
    &+.f-default__text
      margin 0 13px
  .f-default__textarea
    margin-bottom: 10px
  .f-default__direction
    margin-left: 17px
    &:first-child
      margin-left: 0
  .b-dropzone
    width: 100%
    height 120px
    border 1px dotted lightgrey
    border-radius: 6px
  .msg-box
    right auto
    top auto
    position: relative
  &__bottom
    padding 26px 0 0
    position: relative
    cf()
    .i-back
      margin: 0
    .btn-d
      float: right
    &:before
      ps()
      left: -3%
      width: 106%
      height: 1px
      border-top 1px dotted lightgrey
      top: 0
  .b-dropzone
    height: 75px
    padding-left: 70px
    border 1px dotted #474747
    border-radius: 6px
    position: relative
    margin-bottom: 10px
    &:before
      vr()
      width: 32px
      left: 20px
      height: 32px
      background us() -150px -75px
    span
      line-height: 73px
      font-size: 13px
      color rgba(#000,0.6)
  ._w-227
    width: 227px
    margin-right: 12px
    vam()