.f-change-pass
  vam()
  width: 350px
  background #fff
  border-radius: 6px
  padding 40px 40px 20px
  position: relative
  box-shadow 0 4px 15px 0 rgba(#000,0.15)
  &__close
    font-size: 16px
    text-transform: uppercase;
    position: absolute
    right: 15px
    top: 10px
    color red
    font-weight: 700
    trc()
    &:hover
      color grey