.f-denied
  background #fff
  width: 418px
  border-radius: 6px
  position: absolute
  right: 0
  top 72px
  padding: 11px
  z-index: 2
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  &:before
    ps()
    width: 10px
    height: 10px
    right: 30px
    top: -4px
    background #fff
    transform-origin: center
    transform rotate(-135deg)
    box-shadow 1px 1px 2px 0 rgba(0,64,94,0.07)
  &__row
    &+&
      margin-top: 14px
