.f-default
  &__row
    margin-bottom: 26px
    font-size: 0
    cf()
    .i-link
      float: right
    &._mb-0
      margin-bottom: 0
    &._mb-44
      margin-bottom: 44px
    &._p-0-32
      padding 0 32px
      font-size: 0
      margin-bottom: 19px;
    &._width-296
      width: 296px
    &._width-400
      width: 400px
    &._width-455
      width: 455px
      margin 0 auto 26px
      .i-link
        margin-top: 8px;
    &._width-463
      width: 463px
      margin 0 auto 26px
      .f-default__col
        padding 0 4px
    &._m-4
      margin 0 -4px 26px
      .f-default__col
        padding 0 4px
    &._m-8
      margin 0 -8px 26px
      .f-default__col
        padding 0 8px
  &__title
    font-size: 14px
    line-height: 17px
    font-weight: 700
    color #000
    margin-bottom: 7px
    text-transform: uppercase;
    ._light
      color #969696
  &__label
    font-size: 13px
    color #000
    margin-bottom: 12px
  &__textarea
    border 1px solid grC
    border-radius: 4px
    display: block
    width: 100%
    box-shadow inset 0 1px 1px 0 rgba(#000,0.15)
    padding 12px 17px
    font-size: 13px
    &::placeholder
      color #8d8d8d
      font-size: 13px
    &._h-123
      height: 123px
    &._h-130
      height: 130px
  &__direction
    margin 0 13px 0 15px
    vam()
    &._height
      width: 9px
      height: 27px
      border-top 1px solid #cccccc
      border-bottom 1px solid #cccccc
      position: relative
      &:before
        hvr()
        width: 1px
        height: 20px
        background #aeaeae
      &:after
        hr()
        width: 3px
        top: 4px
        background #aeaeae
        height: 1px
    &._length
      height: 9px
      width: 23px
      border-left 1px solid #cccccc
      border-right 1px solid #cccccc
      position: relative
      &:before
        hvr()
        width: 17px
        height: 1px
        background #aeaeae
      &:after
        vr()
        width: 1px
        height: 3px
        right: 3px
        background #aeaeae
    &._width
      height: 9px
      width: 23px
      border-left 1px solid #cccccc
      border-right 1px solid #cccccc
      position: relative
      transform-origin: center
      transform rotate(-45deg)
      &:before
        hvr()
        width: 17px
        height: 1px
        background #aeaeae
      &:after
        vr()
        width: 1px
        height: 3px
        right: 3px
        background #aeaeae

  &__field
    height: 34px
    border 1px solid grC
    border-radius: 4px
    display: block
    width: 100%
    padding 0 17px
    font-size: 13px
    box-shadow inset 0 1px 1px 0 rgba(#000,0.15)
    &::placeholder
      color #8d8d8d
    &._date
    &._time
      padding 0 12px 0 30px
      text-align: right
    &._width-355
      width: 355px
      margin 0 auto
    &._green
      border-color #51d134
    &._yellow
      border-color #ffc600
    &._orange
      border-color #fc6500
    &._red
      border-color #ff0000
    &._w-54
      vam()
      text-align: center
      width: 54px
      padding 0 5px
    &._w-58
      width: 58px
    &._w-75
      width: 75%
      margin-right: 10px
      vam()
    &._w-85
      width: 85%
      margin-right: 10px
      vam()
    &._w-90
      width: 90%
      margin-right: 13px
      vam()
    &._height
      width: 68px
  &__text
    font-size: 13px
    color #000
    &._dash
      margin 0 14px
    &._mb-8
      margin-bottom: 8px
    &._mr-40
      margin-right: 40px
    &._light
      color rgba(#000,0.6)
  &__checkboxes
    font-size: 0
  &__ck-label
    font-size: 14px
    padding-left: 24px
    position: relative
    padding-right: 25px
    cursor: pointer
    font-weight: 400
    margin-bottom: 14px
    input
      display: none
      &:checked
        &~.f-default__ck-box
          &:before
            vr()
            right: 2px
            bottom: 2px
            transform rotate(-45deg)
            width: 9px
            height: 5px
            border-left 2px solid #6bd0ff
            border-bottom 2px solid #6bd0ff
  &__ck-box
    display: block
    left: 0
    top: 3px
    position: absolute
    width: 16px
    height: 16px
    border-radius: 3px
    border 1px solid grC
    box-shadow inset 0 1px 3px 0 #eaeaea
  &__ck-label-a
    font-size: 14px
    padding-left: 11px
    position: relative
    padding-right: 25px
    cursor: pointer
    font-weight: 400
    margin-bottom: 14px
    text-align: left;
    width: 213px
    line-height: 31px
    border 1px solid #c9e5f1
    border-radius 4px
    &+&
      margin-left: 15px
    input
      display: none
      &:checked
        &~.f-default__ck-box-a
          &:before
            vr()
            right: 2px
            bottom: 2px
            transform rotate(-45deg)
            width: 9px
            height: 5px
            border-left 2px solid #6bd0ff
            border-bottom 2px solid #6bd0ff
  &__ck-box-a
    display: block
    right 10px
    top: 8px
    position: absolute
    width: 16px
    height: 16px
    border-radius: 3px
    border 1px solid grC
    box-shadow inset 0 1px 3px 0 #eaeaea
  &__rd-label-a
    font-size: 14px
    padding-left: 11px
    position: relative
    padding-right: 25px
    cursor: pointer
    font-weight: 400
    margin-bottom: 14px
    text-align: left;
    width: 213px
    line-height: 31px
    border 1px solid #c9e5f1
    border-radius 4px
    &+&
      margin-left: 15px
    input
      display: none
      &:checked
        &~.f-default__rd-box-a
          &:before
            hvr()
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background #6bd0ff
  &__rd-box-a
    display: block
    right 10px
    top: 8px
    position: absolute
    width: 16px
    height: 16px
    border-radius: 50%
    border 1px solid grC
    box-shadow inset 0 1px 3px 0 #eaeaea
  &__date
    vam()
    position: relative
    &:before
      vr()
      width: 14px
      height: 14px
      left: 10px
      background us() left -75px no-repeat
    &::placeholder
      color rgba(#000,0.6)
  &__time
    vam()
    position: relative
    &:before
      vr()
      width: 13px
      height: 13px
      left: 10px
      background us() left -100px no-repeat
    &::placeholder
      color rgba(#000,0.6)
  &__pass
    position: relative
    &-eye
      vr()
      cursor: pointer
      width: 20px
      height: 11px
      right: 9px
      background us() -25px -50px no-repeat
  &__file
    color #0988ff
    font-weight: 400
    font-size: 13px
    border-bottom 1px dotted #0988ff
    input
      display: none
  &__col
    vat()
    &._error
      .btn-default
        border-color: red;

    &._24-100
      width: 24%
    &._33-100
      width: 33.3333%
    &._35-100
      width: 35%
    &._37-100
      width: 37%
    &._39-100
      width: 39%
    &._41-100
      width: 41%
    &._59-100
      width: 59%
    &._61-100
      width: 61%
    &._63-100
      width: 63%