.f-doc-hand
  padding 10px 30px
  background #fff
  border-radius: 0 0 6px 6px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  &__group
    width: 490px
  &__bottom
    padding 10px 0
    border-top 1px dotted #b8b8b8
  ._rb
    padding-left: 38px
    line-height: 19px
    position: relative
    margin-bottom: 20px
    &:before
      vr()
      left: 0
      width: 24px
      height: 18px
      background us() left -300px
  .col-wrap
    margin-left: -14px
  .col3
    padding-left: 14px
  .f-offer__checkboxes
    margin-right: -20px
  .f-default__ck-label
    padding-right: 15px
  .btn-d
    line-height: 45px
    padding 0 18px
    &+.f-default__text
      width: 500px
      float: right
      margin-top: 3px
  .f-default__title
    margin-bottom: 20px
  .f-default__text
    vam()