.f-doc-drop
  padding 10px 30px
  background #fff
  border-radius: 0 0 6px 6px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  &__fieldset
    margin-bottom: 20px
  .b-dropzone
    margin-bottom: 10px
  .btn-d
    line-height: 45px
    padding 0 18px
  &__bottom
    padding 10px 0
    border-top 1px dotted #b8b8b8
  ._attention
    vam()
    margin-left: 23px
    float: right
    width: 488px
    padding: 14px 20px 16px 51px;
    margin-bottom: 0
    &:after
      vr()
      width: 9px
      left: -8px
      height: 17px
      background us() -65px -175px