.f-end-order
  width: 830px
  vam()
  border-radius: 6px
  background #fff
  padding 48px 40px 37px
  .f-default__row
    margin-bottom: 23px;
  &__title
    font-size: 38px
    color #000
    font-weight: 700
    text-align: center
    text-transform: uppercase;
    margin-bottom: 22px
    span
      color #797979
      margin-left: 7px
  &__fieldset
    width: 434px
    margin 0 auto
  &__text
    vam()
    font-size: 13px
    line-height: 18px
    color #8d8d8d
    width: 138px
    text-align: left;
    &._mustage
      position: relative
      &:before
        vr()
        right: 0
        width: 8px
        height: 21px
        background us() -150px -125px
  .b-stars
    margin-right: 28px
    margin-left: 23px