.f-offer
  max-width 490px
  background #fff
  margin 0 auto
  padding 30px 31px 29px
  border-radius: 4px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  &._popup
    padding 30px 100px
    width: 630px
    max-width: 630px
    position: relative
    text-align: left;
  .i-close
    position: absolute
    top: 20px
    right: 40px
  &__title
    font-size: 38px
    color #000
    text-transform: uppercase;
    margin-bottom: 15px
    font-weight: 700
    text-align: center
  .msg-box
    text-align: left;
    white-space nowrap
  &__top
    margin-bottom: -5px;
  &__bottom
    position: relative
    padding: 29px 0 0
    cf()
    &:before
      ps()
      width: 104%
      height: 1px
      top: 0
      left: -2%
      border-top 1px dotted grC
    .btn-d
      float: right
    .i-back
      margin: 8px 0 0 0;
  &__select
    vam()
    width: 93px
    margin-right: 11px
    &._wide
      width: 227px
  .f-default__ck-label
    width: 44%
  .f-default__text
    vam()
  ._date
  ._time
    width: 140px
  .f-default__field
    padding: 0 12px;
  .f-default__textarea
    padding: 9px 12px;
  .f-default__title
    margin-bottom: 15px;