.f-order
  max-width 860px
  margin 0 auto
  text-align: center
  border-radius: 6px
  background #fff
  padding 26px 30px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  &__top
    margin-bottom: 26px
  &__bottom
    border-top 1px dotted #cacaca
    padding-top: 26px
  div.msg-box
    margin-bottom: 26px
    position relative
    right auto
    top auto
  .btn-c
    margin-bottom: 30px
  ._line-bottom
    margin-bottom: 47px
    position: relative
    text-align: center
    &:before
      ps()
      width: 96%
      left: 3%
      height: 1px
      border-top 1px dotted #cacaca
      bottom: -28px
  .f-sign-up__code
    width: 319px
    margin-right: 10px
    float none
    vam()
    &+.i-link
      float none
      vam()
      margin: 0