.f-order-info
  padding 26px 30px
  background #fff
  border-radius: 6px
  margin 0 auto 30px
  max-width 420px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  &__row
    &+&
      margin-top: 26px
  .f-default__ck-label
    padding-right: 20px;
  .f-default__text
    vam()
  &__bottom
    padding 26px 0 0
    position: relative
    cf()
    .i-back
      margin: 0
    .btn-d
      float: right
    &:before
      ps()
      left: -3%
      width: 106%
      height: 1px
      border-top 1px dotted lightgrey
      top: 0