.f-order-routes
  background #fff
  border-radius: 6px
  margin-bottom: 30px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  &__top
    padding 26px 30px
  &__middle
    background #d0ebf7
    padding 26px 30px
  &__bottom
    cf()
    padding 26px 30px
    .btn-d
      float: right
    a.i-back
      margin: 0
  &__row
    cf()
    &+&
      margin-top 27px
  &__left
    float: left;
    width: 500px
  &__right
    float: right;
    width: 500px
  &__dt
    vam()
    font-weight: 700
    text-transform: uppercase;
    font-size: 14px
    line-height: 32px
  &__table
    dt()
  &__table-left
    width: 75px
    text-align: right
    padding-right: 15px
    dtct()
    position: relative
    .i-swap
      position: absolute
      left: -40px
      top: 5px
  &__table-right
    text-align: left
    dtct()
    .f-order-routes__row
      font-size: 0
  ._date
  ._time
    width: 140px
    background #fff
  .f-default__ck-box
    background #fff
  .f-default__text
    margin 0 14px
  &__select-a
    vam()
    width: 93px
    margin-right: 11px
  &__select-b
    display: block
  .col2
    &:first-child .f-order-routes__select-b
      .btn
        border-radius 4px 0 0 4px
    &:last-child .f-order-routes__select-b
      .btn
        border-left: 0
        border-radius 0 4px 4px 0
    &._error
      .btn-default
        border-color: red;
  ._w-60
    width: 60px
    padding 0 10px
    text-align: center
    margin-right: 11px
  ._w-85
    width: 85px
    padding 0 10px
    text-align: center
    margin-right: 0

  ._w-187
    width: 187px
    margin-right: 11px
  ._w-217
    vam()
    width: 217px
    margin-right: 28px
  .f-offer__checkboxes
    vam()
  .f-default__ck-label
    padding-right: 0
    margin-bottom: 0