.f-profile
  margin-top: 30px;
  background #fff
  padding 11px 20px 0px 30px
  border-radius: 4px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  &__fieldset
    cf()
    padding-bottom: 8px
    &+&
      padding-top: 28px
      padding-bottom: 24px;
      border-top 1px dotted #b8b8b8
    .i-link
      margin-top: 12px
      &+.i-link
        margin-right: 22px
  &__title
    vam()
    text-transform: uppercase
    font-size: 30px
    font-weight: 700
  &__table
    dt()
  &__left
    dtct()
    padding-right: 40px
    width: 197px
  &__right
    padding-right: 60px
    dtct()
  .msg-change-phone
    position: absolute
    top: -4px
    width: 430px
    padding-left: 49px
    border-radius: 5px
    left: 110%
    &:before
      vr()
      width: 9px
      height: 17px
      left: -9px
      background us() -64px -175px
    .i-exclamation-point
      position: absolute
      left: 14px
      top: 15px
  .f-default__text
    line-height: 19px
  .f-default__date
    width: 270px
    float: right
  ._width-296
    cf()
  .f-default__row
    margin-bottom: 0
    &+.f-default__row
      margin-top: 26px
  .f-default__title
    margin-bottom: 14px
  .f-default__ck-label
    margin-bottom: 0
    padding-right: 19px;
  ._lh-34
    line-height: 34px