.f-search
  position: relative
  margin-bottom: 4px
  &__field
    display: block
    width: 100%
    background #fff
    border-radius: 4px
    height: 34px
    padding 0 100px 0 15px
    border 1px solid #74b8f8
    box-shadow 0 4px 15px 0 rgba(#0c89ff,0.26)
    &::placeholder
      color rgba(#797979,0.8)
  .i-close
    position: absolute
    right: 28px
    top: 10px