.f-sign-up
  width: 660px
  margin 0 auto 40px
  .f-default__title
    margin-bottom: 0
    &._mb-20
      margin-bottom: 20px
  &__top
    border-radius 4px 4px 0 0
  &__bottom
    position: relative
    border-radius 4px
    padding 29px 30px
    background #fff
    box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  &__tab
    vam()
    background blD
    width: 50%
    text-align: center
    font-size: 14px
    padding: 21px 0 18px;
    text-transform: uppercase;
    color bl1
    font-weight: 700
    position: relative
    &:after
      ps()
      width: 100%
      bottom: -7px
      background blD
      left: 0
      height: 7px
    &:first-child
      border-radius 4px 0 0 0
      &:before
        ps()
        width: 12px
        height: 100%
        right: -6px
        top: 0
        background blD
    &:last-child
      border-radius 0 4px 0 0
      &:before
        ps()
        width: 12px
        height: 100%
        left: -6px
        top: 0
        background blD
    &._active
      color #000
      background #fff
      z-index: 1
      border-radius 4px 4px 0 0
      box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
      &:first-child
        &:before
          left: 0
          border-radius 0 4px 0 0
      &:last-child
        &:before
          right: 0
          left auto
          border-radius 4px 0 0 0
      &:before
        width: 200%
        height: 15px
        bottom: -15px
        top auto
        background #fff
      &:after
        hr()
        bottom: 0
        width: 290px
        height: 1px
        background transparent
        border-top 1px dotted #cacaca
  &__table
    dt()
  &__left
    dtct()
    padding-right: 28px
  &__right
    border-left 1px dotted #bdbdbd
    width: 218px
    padding-left: 32px
    dtct()
  &__text
    font-size: 13px
    line-height: 18px
    color #8a8a8b
    &._mb-20
      margin-bottom: 20px
  &__step
    &._vam-out
      height 375px
      text-align: center
      vam_out()
  &__step-wrap
    vam()
    .i-link
      margin: 15px 0 22px;
  &__attention
    font-size: 13px
    color #8a8a8b
    line-height: 32px
    .i-attention
      margin-right: 13px
  .btn-d
    width: 100%
  &__code
    float: left;
    width: 318px
    vam()
    &+.i-link
      margin 12px 0 0
    &._success
      position: relative
      &:after
        vr()
        bottom: 7px;
        right: 10px
        width: 16px
        height: 8px
        border-left 2px solid gn5
        transform rotate(-45deg)
        border-bottom 2px solid gn5
