<div class="b-help">
    <a href="" ng-click="close()" class="b-help__close"></a>
    <div style="background-image: url(/img/lady.png)" class="b-help__top">
        <div class="b-help__title">Колцентр&nbsp;<span>Круглосуточно</span>
        </div><a href="tel:+375293243411" class="b-help__phone">+375 (29) 324-34-11</a><a href="tel:+375441232312" class="b-help__phone">+375 (44) 123-23-12</a><a href="tel:+375295431211" class="b-help__phone">+375 (29) 543-12-11</a><a href="email:support@gofast.by" class="b-help__phone">support@gofast.by</a>
    </div>
    <div class="b-help__middle">
        <div class="b-help__question" ng-init="showPrice = false" ng-click="showPrice = !showPrice">Как мне узнать стоимость перевозки?</div>
        <div class="b-help__answer" ng-if="showPrice">Какие гарантии я</div>
        <div class="b-help__question" ng-init="showTimeEconomy = false" ng-click="showTimeEconomy = !showTimeEconomy">Как «GoFast» экономит моё время?</div>
        <div class="b-help__answer" ng-if="showTimeEconomy">Какие гарантии я</div>
        <div class="b-help__question" ng-init="showMoneyEconomy = false" ng-click="showMoneyEconomy = !showMoneyEconomy">Как «GoFast» экономит мои деньги?</div>
        <div class="b-help__answer" ng-if="showMoneyEconomy">Какие гарантии я</div>
        <div class="b-help__question" ng-init="showGuarantees = false" ng-click="showGuarantees = !showGuarantees">Какие гарантии я получаю, заказывая транспорт через сервис?</div>
        <div class="b-help__answer" ng-if="showGuarantees">Какие гарантии я</div>
        <div class="b-help__question" ng-init="showTerritory = false" ng-click="showTerritory = !showTerritory">На какой территории работает сервис?</div>
        <div class="b-help__answer" ng-if="showTerritory">Какие гарантии я</div>
    </div>
    <div class="b-help__bottom">
        <div class="f-write-us">
            <div class="f-default__title">Напишите нам</div>
            <div class="f-default__row">
                <input type="email" placeholder="Ваш электронный адрес" class="f-default__field" />
            </div>
            <div class="f-default__row">
                <textarea rows="6" placeholder="Введите ваш текст" class="f-default__textarea"></textarea>
            </div>
            <button ng-click="close()" class="btn-n">Отправить</button>
        </div>
    </div>
</div>