.l-auto
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  background #fff
  border-radius: 6px
  padding 15px 28px
  &__top
    padding-bottom: 10px
    margin-bottom: 10px
    border-bottom 1px dotted #c1c1c1
  &__title
    font-weight: 700
    font-size: 30px
    text-transform: uppercase;
    color #000
  ._green
    line-height: 45px
    padding 0 18px
    font-size: 14px
    font-weight: 700
  &__bottom
    border-top 1px dotted #c1c1c1
    padding 10px 0