.l-auto-profile
  position: relative
  margin-bottom: 40px
  &:before
    ps()
    width: 100%
    height: 20px
    top: 60px
    background #fff
    z-index: 1;
    border-radius 6px 6px 0 0
  &:after
    ps()
    width: 100%
    height: 20px
    top: 60px
    background #d0ebf7
    z-index: 0;
  &__top
    text-align: center
    border-radius: 4px 4px 0 0
    display: table
    background #d0ebf7
    width: 100%
    position: relative
    padding-bottom: 10px
  &__tab
    dtcm()
    padding 20px 0
    text-transform: uppercase;
    color #28657f
    cursor: pointer
    font-size: 14px
    font-weight: 700
    position relative
    &:before
      vr()
      left: 0
      width: 1px
      height: 40px
      border-left 1px dotted #28657f
    &:first-child
      &:before
        display none
    &._active
      color #000
      background #fff
      border-radius: 4px 4px 0 0
      box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
      &:after
        ps()
        left: 4%
        width: 92%
        height: 1px
        bottom: 0
        border-top 1px dotted #b8b8b8
      &:before
        ps()
        width: 100%
        height: 10px
        background #fff
        left: 0
        top: 70px
        border-left 0
        z-index: 2
      &+.l-auto-profile__tab
        &:before
          display: none
  &__bottom
    background #fff
    border-radius 4px
    padding 25px
    box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  .b-auto
    display: none
    &._active
      display: block
      margin: 0