.l-customers
  font-size: 0
  margin: 0 -15px;
  &__col
    width: 25%
    vat()
    img
      border-radius: 50%
      width: 130px
      height 130px
      margin 0 auto 25px
  &__name
    text-transform: uppercase
    font-weight: 700
    color #28657f
    font-size: 16px