.l-events
  padding 10px 18px
  background #fff
  border-radius: 6px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  &__top
    padding 10px 12px
    border-bottom 1px dotted #b8b8b8
  &__middle
    padding 10px 12px
  &__bottom
    padding 10px 12px
    border-top 1px dotted #b8b8b8
  &__bottom-wrap
    max-height 860px
  &__title
    font-size: 30px
    font-weight: 700
    color #000
    text-transform: uppercase;

.b-event
  height: 90px
  padding-left: 48px
  position: relative
  padding-top: 15px
  &._big
    &:before
      ps()
      width: 21px
      height: 21px
      border-radius: 50%
      border 3px solid #dace9f
      left: 11px
  &:before
    ps()
    width: 11px
    height: 11px
    border-radius: 50%
    border 2px solid #dace9f
    left: 15px
  &:after
    ps()
    width: 1px
    height: 59px
    top: 40px
    left: 20px
    background #93885b
  &__text
    font-size: 13px
    color #000
    margin-right: 180px
    a
      margin 0 4px
  &__date
    font-size: 13px
    color #8d8d8d
  .btn-d
    float: right
    margin-right: 52px