.l-messages
  padding 10px 18px
  background #fff
  border-radius: 6px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  &__top
    padding 10px 12px
    border-bottom 1px dotted #b8b8b8
    cf()
    &-right
      float: right
  &__bottom
    padding 10px 12px 10px 0
  &__bottom-table
    dt()
  &__bottom-table-left
    dtct()
    border-right 1px solid #b8b8b8
    width: 318px
  &__bottom-table-right
    dtct()
    .btn-d
      width: 156px

  &__wrap
    max-height: 950px
    &._top
      max-height 710px
      margin-bottom: 20px
  &__title
    font-size: 30px
    font-weight: 700
    color #000
    text-transform: uppercase;
    vam()
  .ngsb-container
    padding-right: 20px
  .ngsb-wrap .ngsb-scrollbar .ngsb-thumb-container
    bottom: 10px;
  &__person
    border-bottom 1px dotted #b8b8b8
    padding 10px 0
    &-avatar
      vam()
      width: 41px
      height: 41px
      border-radius: 50%
      margin-right: 10px
    &-ib
      vam()
    &-name
      font-size: 13px
      color #000
    &-date
      color #000
      font-size: 13px
      span
        color #8d8d8d
  .f-message
    margin-left: 18px
.b-message
  border 1px solid #add7fe
  border-radius: 4px
  position: relative
  width: 80%
  clear both
  margin 0 13px 20px
  padding: 10px
  &._right
    float: right
    border-color #b6ebb1
    &:before
      border-left 7px solid #b6ebb1
      border-right 0
      right: -7px
      left auto
  &:before
    ps()
    width: 7px
    height: 11px
    left: -7px
    top: 12px
    border-right 7px solid #add7fe
    border-top 5px solid transparent
    border-bottom 5px solid transparent
  &__date
    float: right
    color #000
    font-size: 13px
    span
      color #8d8d8d
  &__name
    font-size: 13px
    color #000
    vam()
  &__text
    font-size: 13px
    line-height: 18px
    margin-top: 10px