.l-offer
  margin-bottom: 49px
  display: table
  width: 100%
  border-top 1px dotted #b8b8b8
  &__row
    display: table-row
  &__title
    text-transform: uppercase;
    font-weight: 700
    color #000
    font-size: 14px
  &__tdm
  &__td
    dtct()
    font-size: 13px
    color #000
    padding: 33px 0 26px
    &:last-child
      width: 292px
      text-align: right
      position: relative
    &:first-child
      position: relative
      width: 400px
      &:before
        ps()
        height: 1px
        width: 1170px
        bottom: 0
        left: 0
        border-bottom 1px dotted #b8b8b8
  &__tdm
    vertical-align: middle
    padding: 22px 0 21px;
  ._light
    color #8d8d8d
    vab()
    margin 0 4px
  ._db
    display: block
  .btn-d
    margin-right: 10px