.l-opinions
  &__table
    margin-bottom: 28px
    dt()
    &._rtl
      direction rtl
      ._text-block
        &:before
          right: -10px
          border-right 0
          border-left 10px solid blue
    &._1
      ._text-block
        background #09b1ff
        &:before
          border-right-color #09b1ff
    &._2
      ._text-block
        background #2e60a3
        &:before
          border-left-color #2e60a3
    &._3
      ._text-block
        background #4a86a0
        &:before
          border-right-color #4a86a0
  &__side
    dtct()
    background-size cover
    &._text-block
      width: 400px
      height: 330px
      position: relative
      background blue
      padding 36px 30px
      text-align: left;
      &:before
        vr()
        width: 10px
        left: -10px
        z-index: 1
        height: 20px
        border-top 10px solid transparent
        border-bottom 10px solid transparent
        border-right 10px solid blue
  &__name
    text-transform: uppercase
    font-size: 14px
    font-weight: 700
    color #fff
    margin-bottom: 20px
  &__text
    font-style: italic
    color #fff
    left: 20px
    font-size: 13px
    line-height: 24px