.l-order
  display: table
  width: 100%
  margin-bottom: 30px
  position: relative
  ._sign-up
    position: absolute
    width: 1170px
    top: 25px
    left: 0
    padding: 29px 0 33px 33px;
    .btn-a
      border: 0;
      position: absolute;
      right: 32px;
      top: 0;
      bottom: 0;
      height: 45px;
      line-height: 45px;
      margin: auto 0;
    .msg-box__text
      width: 715px
      position: relative
      &:before
        vr()
        right: -120px
        width: 120px
        height: 20px
        background us() -50px -250px
  ._add-order
    position: absolute
    width: 1170px
    top: 25px
    left: 0
    padding: 20px 0 24px 33px;
    .btn-set-offer
      border: 0;
      position: absolute;
      right: 32px;
      top: 0;
      bottom: 0;
      height: 45px;
      line-height: 45px;
      margin: auto 0;
    .msg-box__text
      width: 690px
      position: relative
      &:before
        vr()
        right: -120px
        width: 120px
        height: 20px
        background us() -50px -250px
  &__row
    display: table-row
    &:first-child
      .l-order__td
        dtcm()
        padding 15px 0 28px;
    &+&
      border-top 1px dotted #b8b8b8
  &__td-row
    height: 150px
    position: relative
    &:before
      ps()
      width: 1170px
      left: 0
      bottom: 0
      height: 1px
      border-top 1px dotted #b8b8b8
  &__td
    dtct()
    padding 24px 0
    &:first-child
      width: 295px
      position: relative
      &:before
        ps()
        width: 1170px
        left: 0
        bottom: 0
        height: 1px
        border-top 1px dotted #b8b8b8
    &:last-child
      text-align: right
      width: 75px
  &__title
    font-size: 14px
    font-weight: 700
    color #000
    text-transform: uppercase;
    ._light
      margin-left: 4px
      color #797979
  .i-link+.i-link
    margin-left: 38px
  &__text
    font-size: 13px
    color #000
    .i-usd
      top: -1px
      margin-right: 5px
    &._light
      color #a7a7a7
  &__short-info
    padding-left: 46px
    position: relative
  &__type-img
    position: absolute
    left: 0;
    top: 6px;
  &__name
    font-weight: 600
    font-size: 13px
    margin-bottom: 5px
    .i-pro
      margin-left: 9px
  &__dl-row
    margin-bottom: 7px
  &__dt
    font-size: 13px
    color #8d8d8d
    font-weight: 400
    vam()
  &__dd
    vam()
    font-size: 13px
    margin-left: 4px
    color #000
  &__direction
    font-size: 13px
    font-weight: 600
  &__date
    color #797979
    font-size: 13px
  &__time
    font-size: 13px
    font-weight: 600
    color #000
    margin-left: 4px
  &__rout
    margin-bottom: 8px;
  &__route-row
    max-width 420px
    text-align: center
    cf()
    &+&
      margin-top 12px
  &__range
    font-size: 13px
    color #797979
    margin 0 8px
  &__arrow
    width: 51px
    height: 2px
    vam()
    position: relative
    background #7ed5fc
    &:before
      hr()
      height: 10px
      top: -4px
      width: 7px
      border-left 7px solid #7ed5fc
      border-top 5px solid transparent
      border-bottom 5px solid transparent
  &__route
    margin-bottom: 8px;
  .i-time-red
    margin-bottom: 2px
  .i-pro
    position: relative
    top: -1px
  .i-be-first
    margin-bottom: 5px