.l-pr-steps
  text-align: center
  &__step
    dt()
    width: 81%;
    margin: 0 auto 90px
    &._c-1
    &._s-1
      position: relative
      .l-pr-steps__side-a
        &:before
          ps()
          top: 64%;
          left: 40px;
          width: 991px
          height: 244px
          background url(../img/dots-1.png) 0 0 no-repeat
    &._c-2
    &._s-2
    &._s-3
      position: relative
      .l-pr-steps__side-a
        &:before
          ps()
          top: 87%;
          left: 155px;
          width: 484px
          height: 171px
          background url(../img/dots-2.png) 0 0 no-repeat
    &._s-3
      .l-pr-steps__side-a
        &:before
          transform rotateY(180deg)
    &._c-3
    &._s-4
      position: relative
      .l-pr-steps__side-a
        &:before
          ps()
          top: 88%;
          left: 460px;
          width: 179px
          height: 100px
          background url(../img/dots-3.png) 0 0 no-repeat
    &._s-4
      .l-pr-steps__side-a
        &:before
          left: 240px;
          transform rotateY(180deg)
  ._rtl
    direction rtl
    .l-pr-steps__side-b
      padding: 78px 170px 70px 0;
  &__side-a
    width: 330px
    dtcm()
  &__side-b
    dtcm()
    padding: 80px 80px 94px 80px;
    text-align: left;
  &__img
    border-radius: 50%
    width: 100%
    height auto
    border 1px solid #d0d0d0
  &__title
    font-size: 30px
    line-height: 40px
    font-weight: 300
    color #000
    text-transform: uppercase
    margin-bottom: 13px
  &__text
    color #6c6c6c
    font-size: 13px
    line-height: 24px
  .i-link-a
    margin-top: 19px
  .btn-g
    margin-top: 30px
    padding: 0 36px;
    line-height: 51px;
    &:before
      display: none