.l-reviews
  padding 10px 18px
  background #fff
  border-radius: 6px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  &__top
    padding 10px 12px
    border-bottom 1px dotted #b8b8b8
    cf()
    &-right
      float: right
  &__bottom
    padding 10px 12px 10px 0
  &__bottom-wrap
    max-height 950px
    padding 10px 0 10px 12px
  &__title
    font-size: 30px
    font-weight: 700
    color #000
    text-transform: uppercase;
    vam()
  .ngsb-container
    padding-right: 20px
  .ngsb-wrap .ngsb-scrollbar .ngsb-thumb-container
    bottom: 10px;
.b-review
  padding 10px 0
  &+&
    border-top 1px dotted #b8b8b8
  &__avatar
    width: 41px
    height: 41px
    border-radius: 50%
    margin-right: 10px
    vam()
  &__user-about
    vam()
  &__name
    font-size: 13px
    color #000
  &__date
    float: right
    font-size: 13px
    color #000
    margin-right: 30px
    span
      color #8d8d8d
  &__row
    margin-bottom: 20px
  &__title
    font-size: 13px
    color #000
    font-weight: 600
    line-height: 18px
    margin-bottom: 8px
    .i-percent
      margin-left: 10px
      position: relative
      top: -1px
  &__type
    font-size: 13px
    color #989898
    margin-bottom: 8px
  &__text
    font-size: 13px
    color #000
    line-height: 18px