.l-social
  font-size: 0
  &__social
    width: 30px
    height: 30px
    vam()
    border-radius: 50%
    border 1px solid gr8
    position: relative
    &+&
      margin-left: 10px
    &:before
      hvr()
      background us() no-repeat
    &._fb:before
      width: 6px
      height: 13px
      background-position -50px top
    &._tw:before
      width: 13px
      height: 11px
      background-position -50px -25px
    &._vk:before
      width: 8px
      height: 10px
      background-position -50px -50px
    &._in:before
      width: 13px
      height: 13px
      background-position -50px -75px
