.l-type-route
  border-radius: 6px
  background #fff
  padding 30px 30px 0
  margin-bottom: 30px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  &__col-wrap
    margin 0 -15px
    font-size: 0
  &__col
    padding 0 15px
    vam()
    width: 25%
    margin-bottom: 30px
