.t-profile
  margin 0 -50px 0 -10px
  &__top
    border-bottom 1px dotted #b8b8b8
    padding 10px 10px
    cf()
  &__top-left
    float: left;
    .i-link
      font-size: 14px
      font-weight: 700
      text-transform: uppercase;
      &+.i-link
        margin-left: 20px
      &._active
        color #000
        border 0
  &__top-right
    float: right
    .i-link
      &+.i-link
        margin-left: 43px
  &__item
    border-bottom 1px dotted #b8b8b8
    padding 20px 10px
  &__item-top
    margin-bottom: 30px
    cf()
    .i-status
      float: right
  .b-card__dop-info
    width: 175px
  .l-order__route
    width: 430px
  &__item-bottom
    display: table
    width: 100%
  &__item-bottom-td
    dtct()
  &__price
    font-size: 13px
    color #000
    white-space nowrap
  .i-usd
    margin-right: 4px
    top: -2px;
  &__message
    padding 15px 0
    &+&
      border-top 1px dotted grey
    &-top
      margin-bottom: 15px
    &-title
      font-weight: 600
      color #000
      font-size: 13px
      margin-bottom: 10px
    .i-percent
      margin-left: 10px
    &-route-type
      color #989898
      font-size: 13px
      margin-bottom: 10px
    &-text
      font-size: 13px
      line-height: 18px
      color #000
    &-time
      font-size: 13px
      color #000
      float: right
      span
        color #8d8d8d

  .f-message-profile
    margin-top: 25px
