.m-main
  float: left;
  margin-left: 15px;
  font-size: 0
  padding-top: 22px
  &__link
    vam()
    font-size: 14px
    font-weight: 700
    color #fff
    line-height: 30px
    text-transform: uppercase;
    text-decoration: underline
    padding 0 11px 0 39px
    position: relative
    &:before
      vr()
      left: 10px
    &:hover
      color #fff
      text-decoration: none
    &._shelude
      &:before
        width: 19px
        height: 16px
        opacity 0.69
        background us() left -50px no-repeat
    &._order-list
      &:before
        width: 19px
        height: 17px
        background us() left -25px no-repeat
    &._delivers
      &:before
        width: 25px
        height: 16px
        opacity 0.69
        background us() left top no-repeat