.m-site
  border-radius: 6px
  margin-bottom: 30px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  &__ul
    display: table
    width: 100%
  &__li
    dtcm()
    position: relative
    &:first-child
      .m-site__link
        border-radius: 6px 0 0 6px;
    &._pro
      text-align: center
      padding 0 20px
      background #ffac00
      border-radius: 0 6px 6px 0;
      background-image: repeating-linear-gradient(-45deg, #ffac00, #ffac00 10px, #ffba00 10px, #ffba00 20px);
  &__link
    padding 21px 20px 20px
    width: 100%
    vam()
    font-weight: 600
    font-size: 13px
    text-align: center
    color #0988ff
    &._active
      position: relative
      background bl5
      color #fff
      &:hover
        color #fff
      span
        border 0
      &:before
        hr()
        width: 12px
        height: 12px
        background bl5
        transform-origin center
        transform rotate(45deg)
        bottom: -5px
    span
      border-bottom 1px dotted bl5
      trb()
    &:hover
      color bl5
      span
        border-color transparent
  &__object
    position: relative
    display: inline-block
    vertical-align: middle
    .i-count
      position: absolute;
      top: -17px;
      right: -12px;