<section class="s-order-a">
    <div class="container"><a href="#" class="i-back">На главную</a>
        <div class="msg-box">
            <div class="msg-box__text">Разместите заказ всего за 2 минуты. Абсолютно бесплатно.</div>
            <div class="msg-box__text">Размещая заказ на GOFAST вы экономите на перевозке.</div>
        </div>
        <h1>Разместите заказ всего за 2 минуты</h1>
        <section>
            <div ng-include="'/app/views/orders/create/shared/steps.html'"></div>

            <form class="f-order-info" name="step2form" ng-if="step==2">
                <div class="f-order-info__top">
                    <div class="f-default__row reduce-margin">
                        <input type="text" name="name" required ng-model="order.name" placeholder="Введите заголовок вашего заказа" class="f-default__field" ng-class="{'input-error' : fieldHasError(step2form.name)}">
                        <div ng-show="fieldHasError(step2form.name)" class="form-error">{{getErrorText(step2form.name)}}</div>
                    </div>
                    <div class="f-default__row passangers-tags">
                        <a href="" ng-repeat="tag in tags" ng-click="order.name = order.name + ' '+ tag" class="i-link">{{tag}}</a>
                    </div>
                    <div class="f-default__row">
                        <input type="number" name="count" required ng-model="order.passengersQuantity" placeholder="Введите количество человек" min="1" max="10" class="f-default__field" ng-class="{'input-error' : fieldHasError(step2form.count)}">
                        <div ng-show="fieldHasError(step2form.count)" class="form-error">{{getErrorText(step2form.count)}}</div>
                    </div>
                    <div class="f-default__row">
                        <textarea name="description" ng-model="order.description" required placeholder="Опишите подробно что нужно перевезти" class="f-default__textarea _h-130" ng-class="{'input-error' : fieldHasError(step2form.description)}"></textarea>
                        <div ng-show="fieldHasError(step2form.description)" class="form-error">{{getErrorText(step2form.description)}}</div>
                    </div>
                    <div class="f-default__row">
                        <input type="number" name="price" required ng-model="order.expectedPrice" min="1" placeholder="Введите ожидаемую сумму" class="f-default__field _w-75" ng-class="{'input-error' : fieldHasError(step2form.price)}">
                        <span class="f-default__text">бел. руб.</span>
                        <div ng-show="fieldHasError(step2form.price)" class="form-error">{{getErrorText(step2form.price)}}</div>
                    </div>
                    <div class="f-default__row">
                        <div class="f-offer__checkboxes">
                            <label class="f-default__ck-label">Необходимо детское кресло
                                <input type="checkbox" ng-model="order.additionalInfo.needsBabyChair" ng-checked="order.additionalInfo.needsBabyChair"><span class="f-default__ck-box"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div ng-init="set2Form(step2form)" class="f-order-info__bottom">
                    <!-- <a ui-sref="app.orders.create.ship" class="i-back">Предыдущий шаг</a> -->
                    <button class="btn-d" ng-click="setStep(3, $event)" ng-disabled="step2form.$invalid" ng-class="{'submit-disabled' : step2form.$invalid}">Следующий шаг</button>
                </div>
            </form>

            <form name="step3form" class="f-order-routes" ng-if="step==3">
                <div class="f-order-routes__top">
                    <div class="f-order-routes__row">
                        <div class="f-order-routes__left">
                            <div class="f-order-routes__table">
                                <div class="f-order-routes__table-left"><span class="f-order-routes__dt">Откуда</span>
                                </div>
                                <div class="f-order-routes__table-right">
                                    <div class="f-order-routes__row">
                                        <div class="col-wrap">
                                            <div class="col2" ng-class="{'_error': step3submitted && !order.route.from.country}">
                                                <ui-select ng-model="order.route.from.country" theme="bootstrap" class="f-order-routes__select-b">
                                                    <ui-select-match placeholder="Страна">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="country in countries | filter: $select.search" refresh="searchCountries($select.search)" refresh-delay="300" position="down">
                                                        <div ng-bind-html="country.name">{{country.name}}</div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                            <div class="col2" ng-class="{'_error': step3submitted && !order.route.from.city}">
                                                <ui-select ng-model="order.route.from.city" theme="bootstrap" class="f-order-routes__select-b">
                                                    <ui-select-match placeholder="Город">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="city in cities | filter: $select.search" refresh="searchCities(order.route.from.country.id, $select.search)" refresh-delay="300" position="down">
                                                        <div ng-bind-html="city.name">{{city.name}}</div>
                                                        <div ng-if="city.area" ng-bind-html="city.area">{{city.area}}</div>
                                                        <div ng-if="city.region" ng-bind-html="city.region">{{city.region}}</div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="f-order-routes__row">
                                       <div class="f-default__col">
                                            <ui-select ng-model="order.route.from.street" theme="bootstrap" class="_w-187">
                                                <ui-select-match placeholder="Улица">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="street in streets | filter: $select.search" refresh="searchStreets(order.route.from.country.id, order.route.from.city.id, $select.search)" refresh-delay="300" position="down">
                                                    <div ng-bind-html="street.name">{{street.name}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="f-default__col">
                                            <!-- <input type="text" name="fromHouse" required ng-model="order.route.from.house" placeholder="Дом" class="f-default__field _w-60" ng-class="{'input-error' : fieldHasError(step3form.fromHouse) || (step3submitted && !order.route.from.house)}"> -->
                                            <input type="text" name="fromHouse" ng-model="order.route.from.house" placeholder="Дом" class="f-default__field _w-60" >
                                        </div>
                                        <div class="f-default__col">
                                            <input type="number" ng-model="order.route.from.floor" placeholder="Этаж" class="f-default__field _w-60">
                                        </div>
                                        <div class="f-default__col">
                                            <input type="number" ng-model="order.route.from.flat" placeholder="Квартира" class="f-default__field _w-85">
                                        </div>
                                    </div>
<!--                                     <div class="address-form-error" ng-show="!validateAddressFrom()">
                                        Информация обязательна
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="f-order-routes__right">
                            <div class="f-order-routes__table">
                                <div class="f-order-routes__table-left">
                                    <a class="i-swap"></a><span class="f-order-routes__dt">Куда</span>
                                </div>
                                <div class="f-order-routes__table-right">
                                    <div class="f-order-routes__row">
                                        <div class="col-wrap">
                                            <div class="col2" ng-class="{'_error': step3submitted && !order.route.to.country}">
                                                <ui-select ng-model="order.route.to.country" theme="bootstrap" required="" class="f-order-routes__select-b">
                                                    <ui-select-match placeholder="Страна">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="country in countries | filter: $select.search" refresh="searchCountries($select.search)" refresh-delay="300" position="down">
                                                        <div ng-bind-html="country.name">{{country.name}}</div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                            <div class="col2" ng-class="{'_error': step3submitted && !order.route.to.city}">
                                                <ui-select ng-model="order.route.to.city" theme="bootstrap" required="" class="f-order-routes__select-b">
                                                    <ui-select-match placeholder="Населенный пункт">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="city in cities | filter: $select.search" refresh="searchCities(order.route.to.country.id, $select.search)" refresh-delay="300" position="down">
                                                        <div ng-bind-html="city.name">{{city.name}}</div>
                                                        <div ng-if="city.area" ng-bind-html="city.area">{{city.area}}</div>
                                                        <div ng-if="city.region" ng-bind-html="city.region">{{city.region}}</div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="f-order-routes__row">
                                        <div class="f-default__col">
                                            <ui-select ng-model="order.route.to.street" theme="bootstrap" class="_w-187">
                                            <ui-select-match placeholder="Улица">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="street in streets | filter: $select.search" refresh="searchStreets(order.route.to.country.id, order.route.to.city.id, $select.search)" refresh-delay="300" position="down">
                                                    <div ng-bind-html="street.name">{{street.name}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="f-default__col">
                                            <input type="text" name="toHouse" ng-model="order.route.to.house" placeholder="Дом" class="f-default__field _w-60">
                                        </div>
                                        <div class="f-default__col">
                                            <input type="text" ng-model="order.route.to.floor" placeholder="Этаж" class="f-default__field _w-60">
                                        </div>
                                        <div class="f-default__col">
                                            <input type="text" ng-model="order.route.to.flat" placeholder="Квартира" class="f-default__field _w-85">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="f-order-routes__middle">
                    <div class="f-order-routes__row">
                        <div class="f-order-routes__left">
                            <div class="f-order-routes__table">
                                <div class="f-order-routes__table-left">
                                    <div class="f-order-routes__dt">Выезд</div>
                                </div>
                                <div class="f-order-routes__table-right">
                                    <div class="f-default__row">
                                        <ui-select ng-model="model.dateTypeFrom" theme="bootstrap" on-select="selectDepartureRange(model.dateTypeFrom.id==2)" required="" class="f-order-routes__select-a">
                                            <ui-select-match placeholder="Дата">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="selection in dateTypes" position="down">
                                                <div ng-bind-html="selection.name">{{selection.name}}</div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <div class="f-default__date">
                                            <div class="dropdown datetime-picker">
                                                <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="">
                                                    <div class="input-group">
                                                        <input type="text" name="dateFrom1" class="form-control datepicker-input" data-ng-model="order.route.departureTime[0]" ng-class="{'input-error' : !validateDatesFrom()}" date-formatter>
                                                            <span class="input-group-addon datetime-icon">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker data-ng-model="order.route.departureTime[0]" data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }" data-on-set-time="setDirty(step3form.dateFrom1)"/>
                                                </ul>
                                            </div>
                                        </div>
                                        <span class="f-default__text" ng-show="model.dateTypeFrom.id == 2">&mdash;</span>
                                        <div class="f-default__date" ng-show="model.dateTypeFrom.id == 2">
                                            <div class="dropdown datetime-picker">
                                                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="">
                                                    <div class="input-group">
                                                        <input type="text" name="dateFrom2" class="form-control datepicker-input" data-ng-model="order.route.departureTime[1]" ng-class="{'input-error' : !validateDatesFrom()}" date-formatter>
                                                            <span class="input-group-addon datetime-icon">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker data-ng-model="order.route.departureTime[1]" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" data-on-set-time="setDirty(step3form.dateFrom2)"/>
                                                </ul>
                                            </div>
                                        </div>
                                        <div ng-show="!validateDatesFrom()" class="form-error">{{datesFromErrorText}}</div>
                                    </div>
                                    <div class="f-default__row">
                                        <div class="f-offer__checkboxes">
                                            <label class="f-default__ck-label">Требуется помощь с загрузкой поклажи(ручной клади)
                                                <input type="checkbox" ng-model="order.additionalInfo.needsLoading" ng-checked="order.additionalInfo.needsLoading"><span class="f-default__ck-box"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="f-order-routes__right">
                            <div class="f-order-routes__table">
                                <div class="f-order-routes__table-left">
                                    <a class="i-swap"></a>
                                    <div class="f-order-routes__dt">Приезд</div>
                                </div>
                                <div class="f-order-routes__table-right">
                                    <div class="f-default__row">
                                        <ui-select ng-model="model.dateTypeTo" on-select="selectArrivalRange(model.dateTypeTo.id==2)" theme="bootstrap" required="" class="f-order-routes__select-a">
                                            <ui-select-match placeholder="Дата">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="selection in dateTypes" position="down">
                                                <div ng-bind-html="selection.name">{{selection.name}}</div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <div class="f-default__date">
                                            <div class="dropdown datetime-picker">
                                                <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#" href="">
                                                    <div class="input-group">
                                                        <input type="text" name="dateTo1" class="form-control datepicker-input" data-ng-model="order.route.arrivalTime[0]" ng-class="{'input-error' : !validateDatesTo()}" date-formatter>
                                                            <span class="input-group-addon datetime-icon">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker data-ng-model="order.route.arrivalTime[0]" data-datetimepicker-config="{ dropdownSelector: '#dropdown3' }" data-on-set-time="setDirty(step3form.dateTo1)"/>
                                                </ul>
                                            </div>
                                        </div>
                                        <span class="f-default__text" ng-show="model.dateTypeTo.id == 2">&mdash;</span>
                                        <div class="f-default__date" ng-show="model.dateTypeTo.id == 2">
                                            <div class="dropdown datetime-picker">
                                                <a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown" data-target="#" href="">
                                                    <div class="input-group">
                                                        <input type="text" name="dateTo2" class="form-control datepicker-input" data-ng-model="order.route.arrivalTime[1]" ng-class="{'input-error' : !validateDatesTo()}" date-formatter>
                                                            <span class="input-group-addon datetime-icon">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker data-ng-model="order.route.arrivalTime[1]" data-datetimepicker-config="{ dropdownSelector: '#dropdown4' }" data-on-set-time="setDirty(step3form.dateTo2)"/>
                                                </ul>
                                            </div>
                                        </div>
                                        <div ng-show="!validateDatesTo()" class="form-error">{{datesToErrorText}}</div>
                                    </div>                                  
                                    <div class="f-default__row">
                                        <div class="f-offer__checkboxes">
                                            <label class="f-default__ck-label">Требуется помощь с выгрузкой поклажи(ручной клади) 
                                                <input type="checkbox" ng-model="order.additionalInfo.needsUnloading" ng-checked="order.additionalInfo.needsUnloading"><span class="f-default__ck-box"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="!validateBothDates()" class="address-form-error">Проверьте даты! Дата выезда должна быть меньше даты приезда!</div>
                </div>
                <div class="f-order-routes__bottom" ng-init="set3form(step3form)">
                <button class="i-back" ng-click="setStep(2, $event)">На предыдущий шаг</button>
                <button class="btn-d" ng-click="submitStep3(); setStep(4, $event);" ng-disabled="!validateStep3Form()" ng-class="{'submit-disabled' : !validateStep3Form()}">Перейти к следущему шагу</button>
                </div>
            </form>

            <div class="b-card _preview" ng-if="step == 4">
                <div class="b-card__row">
                    <h1>{{order.name}}</h1>
                </div>
                <div class="b-card__row">
                    <p>Пассажирские перевозки</p>
                </div>
                <div class="b-card__row _mb-24">
                    <div class="b-card__stat">
                        <div class="b-card__stat-dt">№</div>
                        <div class="b-card__stat-dd">3343435</div>
                    </div>
                </div>
                <div class="b-card__row">
                    <div class="b-card__table">
                        <div class="b-card__left">
                            <img src="http://placehold.it/300x300" class="b-card__img">
                        </div>
                        <div class="b-card__right">
                            <div class="b-card__group-title">Описание</div>
                            <div class="b-card__col-wrap">
                                <div class="b-card__col _1-3">
                                    <dl class="b-card__dl _70-30">
                                        <div class="b-card__dl-row">
                                            <dt class="b-card__dt">Ожидаемая цена:</dt>
                                            <dd class="b-card__dd">{{order.expectedPrice}} руб</dd>
                                        </div>
                                    </dl>
                                    <dl class="b-card__dl _70-30">
                                        <div class="b-card__dl-row">
                                            <dt class="b-card__dt">Количество людей:</dt>
                                            <dd class="b-card__dd">{{order.passengersQuantity}}</dd>
                                        </div>
                                    </dl>
                                </div>
                            </div>
                            <div class="b-card__group-title">Маршрут</div>
                            <div class="b-card__direction-wrap">
                                <div class="b-card__direction">
                                    <!-- Адрес погрузки -->
                                    <span class="b-card__direction-route">{{::order.route.from.country.name}},<br>{{::order.route.from.city.name}}<br>
                                        <span class="b-card__text" ng-if="order.route.from.street">
                                            ул.{{::order.route.from.street.name}}<br>
                                            <span ng-if="order.route.from.house">
                                                д.{{::order.route.from.house}}
                                                <span ng-if="order.route.from.floor">
                                                     эт.{{::order.route.from.floor}}
                                                </span>
                                                <span ng-if="order.route.from.flat">
                                                     кв.{{::order.route.from.flat}}
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                    <!-- Если дата погрузки плавающая -->
                                    <span class="b-card__text _tar" ng-if="order.route.departureTime[1]">
                                        <span>Между {{order.route.departureTime[0] | date:'dd.MM.yyyy HH:mm'}}</span>
                                        <br/>
                                        <span>и {{order.route.departureTime[1] | date:'dd.MM.yyyy HH:mm'}}</span>
                                    </span>
                                    <!-- Если дата погрузки точная -->
                                    <span class="b-card__text" ng-if="!order.route.departureTime[1]">
                                        {{order.route.departureTime[0] | date:'dd.MM.yyyy HH:mm'}}
                                    </span>
                                    <!-- Стрелки и длина маршрута -->
                                    <span class="b-card__arrow"></span><span class="b-card__text">{{::order.route.length || 100}} км</span><span class="b-card__arrow"></span>
                                    <!-- Если дата разгрузки плавающая -->
                                    <span class="b-card__text" ng-if="order.route.arrivalTime[1]">
                                        Между {{order.route.arrivalTime[0] | date:'dd.MM.yyyy HH:mm'}}
                                        <br/>
                                        и {{order.route.arrivalTime[1] | date:'dd.MM.yyyy HH:mm'}}
                                    </span>
                                    <!-- Если дата разгрузки точная -->
                                    <span class="b-card__text _tal" ng-if="!order.route.arrivalTime[1]">
                                        {{order.route.arrivalTime[0] | date:'dd.MM.yyyy HH:mm'}}
                                    </span>
                                    <!-- Адрес разгрузки -->
                                    <span class="b-card__direction-route _tar">{{::order.route.to.country.name}},<br> {{::order.route.to.city.name}}<br>
                                        <span class="b-card__text" ng-if="order.route.to.street">
                                            ул.{{::order.route.to.street.name}}<br>
                                            <span ng-if="order.route.to.house">
                                                д.{{::order.route.to.house}}
                                                <span ng-if="order.route.to.floor">
                                                     эт.{{::order.route.to.floor}}
                                                </span>
                                                <span ng-if="order.route.to.flat">
                                                     кв.{{::order.route.to.flat}}
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="b-card__dop-info _pogr" ng-show="order.additionalInfo.needsLoading || order.additionalInfo.needsUnloading">Требуется помощь <span ng-show="order.additionalInfo.needsLoading">c погрузкой</span> <span ng-show="order.additionalInfo.needsLoading && order.additionalInfo.needsUnloading">и</span> <span ng-show="order.additionalInfo.needsUnloading">с разгрузкой</span> багажа</div>
                            <div class="b-card__dop-info _child" ng-show="order.additionalInfo.needsBabyChair"> 
                                Требуется детское кресло
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-card__row">
                    <div class="b-card__group-title">Описание заказа</div>
                    <div class="b-card__text-a">{{order.description}}</div>
                </div>
                <div class="b-card__bottom"><a href="#" ng-click="setStep(3, $event)" class="i-back">На предыдущий шаг</a><a href="#" ng-click="setStep(5, $event)"
                    class="btn-d">Разместить заказ</a>
                </div>
            </div>
            <div ng-if="step == 5">
                <h2>Контакты для связи с перевозчиком</h2>
                <form class="f-sign-up f-default f-order">
                    <div class="f-order__top">
                        <div class="msg-box _thumb">
                            <div class="i-thumb"></div>
                            <div class="msg-box__text">Добавьте немного информации для отслеживания лота и связи с перевозчиком!</div>
                        </div>
                        <div class="f-sign-up__table">
                            <div class="f-sign-up__left">
                                <div class="f-default__row">
                                    <input type="text" placeholder="ФИО" class="f-default__field">
                                </div>
                                <div class="f-default__row">
                                    <input type="text" placeholder="Логин (будет являть вашим ником)" class="f-default__field">
                                </div>
                                <div class="f-default__row">
                                    <input type="email" placeholder="Ваш e-mail" class="f-default__field">
                                </div>
                                <div class="f-default__row">
                                    <div class="f-default__pass">
                                        <input type="password" placeholder="Придумайте пароль" class="f-default__field">
                                        <div class="f-default__pass-eye"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="f-sign-up__right"><a href="#" class="btn-s _ok">Одноклассники</a><a href="#" class="btn-s _gm">гугл почта</a>
                                <a href="#" class="btn-s _vk">Вконтакте</a>
                                <a href="#" class="btn-s _fb">Фэйсбук</a>
                            </div>
                        </div>
                    </div>
                    <div class="f-order__bottom">
                        <div class="msg-box _thumb">
                            <div class="i-thumb"></div>
                            <div class="msg-box__text">На ваш телефон придет смс с кодом с помощью которой вы подтвердите контакты</div>
                        </div>
                        <div class="f-default__row _width-463">
                            <div class="f-default__col _24-100">
                                <ui-select ng-model="selectPhoneArea" theme="bootstrap" search-enabled="false" required="">
                                    <ui-select-match placeholder="Please select">{{$select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="phone in selectPhone" position="down">
                                        <div ng-bind-html="phone">{{phone}}</div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="f-default__col _41-100">
                                <input type="tel" placeholder="ваш номер ХХ-ХХХ-ХХ-ХХ" class="f-default__field">
                            </div>
                            <div class="f-default__col _35-100">
                                <buttom class="f-default__submit-3 btn-d">Отправить код</buttom>
                            </div>
                        </div>
                        <div class="f-default__row _width-455">
                            <div class="f-sign-up__code _success">
                                <input type="text" placeholder="Четырех значный код" class="f-default__field">
                            </div><a href="#" class="i-link">Отправить ещё раз</a>
                        </div>
                        <button class="btn-c" ng-click="setStep(6, $event)">Подтвердить номер</button>
                        <div class="f-sign-up__attention">
                            <div class="i-attention"></div>Ваш номер телефона не передается третьим лицам
                        </div>
                    </div>
                </form>
            </div>


            <div class="b-order-place-success" ng-if="step == 6">
                <div class="b-order-place-success__top">
                    <div class="b-order-place-success__title">Ваш заказ успешно создан!</div>
                    <div class="b-order-place-success__text">
                        <img src="/img/delivery.png" class="i-delivery">Теперь осталось дождаться перевозчика или вы можете
                        сами его выбрать
                    </div>
                </div>
                <div class="b-order-place-success__bottom"><a ui-sref="app.orders.list" ui-sref-opts="{reload: true, notify: true}" class="i-link">Перейти на базу заказов</a><a href="#" class="i-link" ng-click="setStep(1, $event)">Создать ещё один лот</a>
                    <a href="#" class="btn-d" ui-sref="app.orders.details({orderId: item.id})">Посмотреть свой заказ</a>
                </div>
            </div>
        </section>
    </div>
</section>
<div ng-include="'/app/views/orders/create/shared/questions.html'"></div>