<section class="s-order-a">
    <div class="container"><a href="#" class="i-back">На главную</a>
        <div class="msg-box">
            <div class="msg-box__text">Разместите заказ всего за 2 минуты. Абсолютно бесплатно.</div>
            <div class="msg-box__text">Размещая заказ на GOFAST вы экономите на перевозке.</div>
        </div>
        <h1>Разместите заказ всего за 2 минуты</h1>
        <section>
            <div ng-include="'/app/views/orders/create/shared/steps.html'"></div>

            <div class="l-type-route" ng-if="step == 1">
                <div class="l-type-route__col-wrap">
                    <div class="l-type-route__col" ng-repeat="category in categories">
                        <a href="#" class="b-type-route" ng-click="setStep(2, $event, category)">
                            <img ng-src="{{category.img}}"><span>{{category.name}}</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="f-cargo-info" ng-if="step == 2">
                <div class="f-cargo-info__top">
                    <div class="f-default__row">
                        <input class="f-default__textarea" ng-model="item.name" placeholder="Заголовок"></input>
                    </div>
                    <div class="f-default__row">
                        <a href="" ng-repeat="tag in tags" ng-click="item.name = item.name + ' '+ tag" class="i-link">{{tag}}</a>
                    </div>
                    <div class="f-default__row">
                        <textarea class="f-default__textarea" ng-model="item.description" placeholder="Описание вашего груза"></textarea>
                    </div>
                    <div class="f-default__row">
                        <div class="f-default__direction _height"></div>
                        <input type="tel" ng-model="item.size.depth" placeholder="Высота" class="f-default__field _size _height">
                        <div class="f-default__text">см</div>
                        <div class="f-default__direction _length"></div>
                        <input type="tel" ng-model="item.size.length" placeholder="Длина" class="f-default__field _size _length">
                        <div class="f-default__text">см</div>
                        <div class="f-default__direction _width"></div>
                        <input type="tel" ng-model="item.size.width" placeholder="Ширина" class="f-default__field _size _width">
                        <div class="f-default__text">см</div>
                    </div>
                    <div class="f-default__row">
                        <input type="tel" ng-model="item.weight" placeholder="Введите примерую массу" class="f-default__field _w-90">
                        <div class="f-default__text">кг.</div>
                    </div>
                    <div class="f-default__row">
                        <div class="b-dropzone" ngf-drop ngf-multiple=="true" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="5MB" ng-model="item.images">
                            <div ngf-thumbnail="image" ng-repeat="image in item.images">
                                <img ngf-src="image" style="max-width: 74px; max-height: 74px; float: left"/>
                            </div>
                        </div>
                        <a href="#" ngf-select ng-model="item.images" ngf-multiple="true" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="5MB" class="i-link">Загрузить фото вручную</a>
                    </div>
                    <div class="f-default__row">
                        <input type="tel" ng-model="item.price.expected" nks-only-number placeholder="Введите ожидаемую сумму" class="f-default__field _w-85">
                        <div class="f-default__text">бел.руб.</div>
                    </div>
                    <div class="f-default__row">
                        <div class="f-offer__checkboxes">
                            <label class="f-default__ck-label">Только для PRO аккаунтов
                                <input type="checkbox" ng-model="item.accessibleOnlyForPro" ng-checked="item.accessibleOnlyForPro"><span class="f-default__ck-box"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="f-cargo-info__bottom"><a href="#" class="i-back" ng-click="setStep(1, $event)">На предыдущий шаг</a>
                    <button class="btn-d" ng-click="setStep(3, $event)">Следующий шаг</button>
                </div>
            </div>

            <form class="f-order-routes" ng-if="step==3">
                <div class="f-order-routes__top">
                    <div class="f-order-routes__row">
                        <div class="f-order-routes__left">
                            <div class="f-order-routes__table">
                                <div class="f-order-routes__table-left"><span class="f-order-routes__dt">Откуда</span>
                                </div>
                                <div class="f-order-routes__table-right">
                                    <div class="f-order-routes__row">
                                        <ui-select ng-model="item.route.parts[0].from.address.country" theme="bootstrap" class="f-order-routes__select-b">
                                            <ui-select-match placeholder="Страна">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="country in countries | filter: $select.search" refresh="searchCountries($select.search)" refresh-delay="300" position="down">
                                                <div ng-bind-html="country.name">{{country.name}}</div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <ui-select ng-model="item.route.parts[0].from.address.city" theme="bootstrap" class="f-order-routes__select-b">
                                            <ui-select-match placeholder="Город">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="city in cities | filter: $select.search" refresh="searchCities(item.route.parts[0].from.address.country.id, $select.search)" refresh-delay="300" position="down">
                                                <div ng-bind-html="city.name">{{city.name}}</div>
                                                <div ng-if="city.area" ng-bind-html="city.area">{{city.area}}</div>
                                                <div ng-if="city.region" ng-bind-html="city.region">{{city.region}}</div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="f-order-routes__row">
                                        <div class="f-default__col">
                                            <ui-select ng-model="item.route.parts[0].from.address.street" theme="bootstrap" class="_w-187">
                                                <ui-select-match placeholder="Улица">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="street in streets | filter: $select.search" refresh="searchStreets(item.route.parts[0].from.address.country.id, item.route.parts[0].from.address.city.id, $select.search)" refresh-delay="300" position="down">
                                                    <div ng-bind-html="street.name">{{street.name}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="f-default__col">
                                            <input type="text" nks-only-number ng-model="item.route.parts[0].from.address.house" placeholder="Дом" class="f-default__field _w-60">
                                        </div>
                                        <div class="f-default__col">
                                            <input type="text" ng-model="item.route.parts[0].from.address.floor" placeholder="Этаж" class="f-default__field _w-60">
                                        </div>
                                        <div class="f-default__col">
                                            <input type="text" nks-only-number ng-model="item.route.parts[0].from.address.flat" placeholder="Квартира" class="f-default__field _w-85">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="f-order-routes__right">
                            <div class="f-order-routes__table">
                                <div class="f-order-routes__table-left">
                                    <a class="i-swap"></a><span class="f-order-routes__dt">Куда</span>
                                </div>
                                <div class="f-order-routes__table-right">
                                    <div class="f-order-routes__row">
                                        <ui-select ng-model="item.route.parts[0].to.address.country" theme="bootstrap" required="" class="f-order-routes__select-b">
                                            <ui-select-match placeholder="Страна">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="country in countries | filter: $select.search" refresh="searchCountries($select.search)" refresh-delay="300" position="down">
                                                <div ng-bind-html="country.name">{{country.name}}</div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <ui-select ng-model="item.route.parts[0].to.address.city" theme="bootstrap" required="" class="f-order-routes__select-b">
                                            <ui-select-match placeholder="Город">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="city in cities | filter: $select.search" refresh="searchCities(item.route.parts[0].to.address.country.id, $select.search)" refresh-delay="300" position="down">
                                                <div ng-bind-html="city.name">{{city.name}}</div>
                                                <div ng-if="city.area" ng-bind-html="city.area">{{city.area}}</div>
                                                <div ng-if="city.region" ng-bind-html="city.region">{{city.region}}</div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="f-order-routes__row">
                                        <div class="f-default__col">
                                            <ui-select ng-model="item.route.parts[0].to.address.street" theme="bootstrap" required="" class="_w-187">
                                            <ui-select-match placeholder="Улица">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="street in streets | filter: $select.search" refresh="searchStreets(item.route.parts[0].to.address.country.id, item.route.parts[0].to.address.city.id, $select.search)" refresh-delay="300" position="down">
                                                    <div ng-bind-html="street.name">{{street.name}}</div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="f-default__col">
                                            <input type="text" nks-only-number ng-model="item.route.parts[0].to.address.house" placeholder="Дом" class="f-default__field _w-60">
                                        </div>
                                        <div class="f-default__col">
                                            <input type="text" ng-model="item.route.parts[0].to.address.floor" placeholder="Этаж" class="f-default__field _w-60">
                                        </div>
                                        <div class="f-default__col">
                                            <input type="text" nks-only-number ng-model="item.route.parts[0].to.address.flat" placeholder="Квартира" class="f-default__field _w-85">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="f-order-routes__middle">
                    <div class="f-order-routes__row">
                        <div class="f-order-routes__left">
                            <div class="f-order-routes__table">
                                <div class="f-order-routes__table-left">
                                    <div class="f-order-routes__dt">Погрузка</div>
                                </div>
                                <div class="f-order-routes__table-right">
                                    <div class="f-default__row">
                                        <ui-select ng-model="model.dateTypeFrom" theme="bootstrap" on-select="selectDepartureRange(model.dateTypeFrom.id==2)" required="" class="f-order-routes__select-a">
                                            <ui-select-match placeholder="Дата">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="selection in dateTypes" position="down">
                                                <div ng-bind-html="selection.name">{{selection.name}}</div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <div class="f-default__date">
                                            <div class="dropdown datetime-picker">
                                                <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control datepicker-input" data-ng-model="item.route.parts[0].departureTime[0]">
                                                            <span class="input-group-addon datetime-icon">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker data-ng-model="item.route.parts[0].departureTime[0]" data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }" data-on-set-time="onDepartTime1Set(newDate, oldDate)"/>
                                                </ul>
                                            </div>
                                        </div>
                                        <span class="f-default__text" ng-show="model.dateTypeFrom.id == 2">&mdash;</span>
                                        <div class="f-default__date">
                                            <div class="dropdown datetime-picker" ng-show="model.dateTypeFrom.id == 2">
                                                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control datepicker-input" data-ng-model="item.route.parts[0].departureTime[1]">
                                                            <span class="input-group-addon datetime-icon">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker data-ng-model="item.route.parts[0].departureTime[1]" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" data-on-set-time="onDepartTime2Set(newDate, oldDate)"/>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="f-default__row">
                                        <div class="f-offer__checkboxes">
                                            <label class="f-default__ck-label">Требуется погрузка
                                                <input type="checkbox" ng-model="item.additionalInfo.needsLoading" ng-checked="item.additionalInfo.needsLoading"><span class="f-default__ck-box"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="f-order-routes__right">
                            <div class="f-order-routes__table">
                                <div class="f-order-routes__table-left">
                                    <a class="i-swap"></a>
                                    <div class="f-order-routes__dt">Выгрузка</div>
                                </div>
                                <div class="f-order-routes__table-right">
                                    <div class="f-default__row">
                                        <ui-select ng-model="model.dateTypeTo" on-select="selectArrivalRange(model.dateTypeTo.id==2)" theme="bootstrap" required="" class="f-order-routes__select-a">
                                            <ui-select-match placeholder="Дата">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="selection in dateTypes" position="down">
                                                <div ng-bind-html="selection.name">{{selection.name}}</div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <div class="f-default__date">
                                            <div class="dropdown datetime-picker">
                                                <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#" href="">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control datepicker-input" data-ng-model="item.route.parts[0].arrivalTime[0]">
                                                            <span class="input-group-addon datetime-icon">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker data-ng-model="item.route.parts[0].arrivalTime[0]" data-datetimepicker-config="{ dropdownSelector: '#dropdown3' }" data-on-set-time="onArriveTime1Set(newDate, oldDate)"/>
                                                </ul>
                                            </div>
                                        </div>
                                        <span class="f-default__text" ng-show="model.dateTypeTo.id == 2">&mdash;</span>
                                        <div class="f-default__date">
                                            <div class="dropdown datetime-picker" ng-show="model.dateTypeTo.id == 2">
                                                <a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown" data-target="#" href="">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control datepicker-input" data-ng-model="item.route.parts[0].arrivalTime[1]">
                                                            <span class="input-group-addon datetime-icon">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker data-ng-model="item.route.parts[0].arrivalTime[1]" data-datetimepicker-config="{ dropdownSelector: '#dropdown4' }" data-on-set-time="onArriveTime2Set(newDate, oldDate)"/>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>                                  
                                    <div class="f-default__row">
                                        <div class="f-offer__checkboxes">
                                            <label class="f-default__ck-label">Требуется разгрузка
                                                <input type="checkbox" ng-model="item.additionalInfo.needsUnloading" ng-checked="item.additionalInfo.needsUnloading"><span class="f-default__ck-box"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="f-order-routes__bottom"><a href="#" class="i-back" ng-click="setStep(2, $event)">На предыдущий шаг</a><a href="#" class="btn-d" ng-click="setStep(4, $event)">Перейти к следущему шагу</a>
                </div>
            </form>

            <div class="b-card _preview" ng-if="step == 4">
                <div class="b-card__row">
                    <h1>{{item.name}}</h1>
                </div>
                <div class="b-card__row">
                    <p>{{item.category}}</p>
                </div>
                <div class="b-card__row _mb-24">
                    <div class="b-card__stat">
                        <div class="b-card__stat-dt">№</div>
                        <div class="b-card__stat-dd">3343435</div>
                    </div>
                    <div class="i-pro" ng-show="item.accessibleOnlyForPro">Только для PRO</div>
                </div>
                <div class="b-card__row">
                    <div class="b-card__table">
                        <div class="b-card__left">
                            <img src="http://placehold.it/300x300" class="b-card__img">
                        </div>
                        <div class="b-card__right">
                            <div class="b-card__group-title">Описание</div>
                            <div class="b-card__col-wrap">
                                <div class="b-card__col _1-3">
                                    <dl class="b-card__dl">
                                        <div class="b-card__dl-row">
                                            <dt class="b-card__dt">Масса:</dt>
                                            <dd class="b-card__dd">{{item.weight}} кг</dd>
                                        </div>
                                    </dl>
                                    <dl class="b-card__dl">
                                        <div class="b-card__dl-row">
                                            <dt class="b-card__dt">Габариты:</dt>
                                            <dd class="b-card__dd">{{item.size.width}}см х {{item.size.length}}см х {{item.size.depth}}см</dd>
                                        </div>
                                    </dl>
                                </div>
                                <div class="b-card__col _1-3">
                                    <dl class="b-card__dl _70-30">
                                        <div class="b-card__dl-row">
                                            <dt class="b-card__dt">Ожидаемая цена:</dt>
                                            <dd class="b-card__dd">{{item.price.expected}} руб</dd>
                                        </div>
                                    </dl>
                                </div>
                            </div>
                            <div class="b-card__group-title">Маршрут</div>
                            <div class="b-card__direction-wrap">
                                <div class="b-card__direction" ng-repeat="routePart in item.route.parts">
                                    <!-- Адрес погрузки -->
                                    <span class="b-card__direction-route">{{::routePart.from.address.country.name}},<br>{{::routePart.from.address.city.name}}<br>
                                        <span class="b-card__text" ng-if="routePart.from.address.street">
                                            ул.{{::routePart.from.address.street.name}}<br>
                                            <span ng-if="routePart.from.address.house">
                                                д.{{::routePart.from.address.house}}
                                                <span ng-if="routePart.from.address.floor">
                                                     эт.{{::routePart.from.address.floor}}
                                                </span>
                                                <span ng-if="routePart.from.address.flat">
                                                     кв.{{::routePart.from.address.flat}}
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                    <!-- Если дата погрузки плавающая -->
                                    <span class="b-card__text _tar" ng-if="routePart.departureTime[1]">
                                        <span>Между {{routePart.departureTime[0]}}</span>
                                        <br/>
                                        <span>и {{routePart.departureTime[1]}}</span>
                                    </span>
                                    <!-- Если дата погрузки точная -->
                                    <span class="b-card__text" ng-if="!routePart.departureTime[1]">
                                        {{routePart.departureTime[0]}}
                                    </span>
                                    <!-- Стрелки и длина маршрута -->
                                    <span class="b-card__arrow"></span><span class="b-card__text">{{::routePart.length}} км</span><span class="b-card__arrow"></span>
                                    <!-- Если дата разгрузки плавающая -->
                                    <span class="b-card__text" ng-if="routePart.arrivalTime[1]">
                                        Между {{routePart.arrivalTime[0]}}
                                        <br/>
                                        и {{routePart.arrivalTime[1] | date:'dd.MM.yyyy'}}
                                    </span>
                                    <!-- Если дата разгрузки точная -->
                                    <span class="b-card__text _tal" ng-if="!routePart.arrivalTime[1]">
                                        {{routePart.arrivalTime[0]}}
                                    </span>
                                    <!-- Адрес разгрузки -->
                                    <span class="b-card__direction-route _tar">{{::routePart.to.address.country.name}},<br> {{::routePart.to.address.city.name}}<br>
                                        <span class="b-card__text" ng-if="routePart.to.address.street">
                                            ул.{{::routePart.to.address.street.name}}<br>
                                            <span ng-if="routePart.to.address.house">
                                                д.{{::routePart.to.address.house}}
                                                <span ng-if="routePart.to.address.floor">
                                                     эт.{{::routePart.to.address.floor}}
                                                </span>
                                                <span ng-if="routePart.to.address.flat">
                                                     кв.{{::routePart.to.address.flat}}
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="b-card__dop-info _pogr" ng-show="item.additionalInfo.needsLoading || item.additionalInfo.needsUnloading">Требуется <span ng-show="item.additionalInfo.needsLoading">погрузка</span> <span ng-show="item.additionalInfo.needsLoading && item.additionalInfo.needsUnloading">и</span> <span ng-show="item.additionalInfo.needsUnloading">разгрузка</span></div>
                            <div class="b-card__dop-info _pak" ng-show="item.additionalInfo.needsPacking">Требуется упаковка</div>
                            <div class="b-card__dop-info _child" ng-show="item.additionalInfo.needsBabyChair"> Требуется детское кресло</div>
                        </div>
                    </div>
                </div>
                <div class="b-card__row">
                    <div class="b-card__group-title">Описание заказа</div>
                    <div class="b-card__text-a">{{item.description}}</div>
                </div>
                <div class="b-card__bottom"><a href="#" ng-click="setStep(3, $event)" class="i-back">На предыдущий шаг</a><a href="#" ng-click="saveOrder($event)"
                    class="btn-d">Разместить заказ</a>
                </div>
            </div>
            <div ng-if="step == 5">
                <h2>Контакты для связи с перевозчиком</h2>
                <form class="f-sign-up f-default f-order">
                    <div class="f-order__top">
                        <div class="msg-box _thumb">
                            <div class="i-thumb"></div>
                            <div class="msg-box__text">Добавьте немного информации для отслеживания лота и связи с перевозчиком!</div>
                        </div>
                        <div class="f-sign-up__table">
                            <div class="f-sign-up__left">
                                <div class="f-default__row">
                                    <input type="text" placeholder="ФИО" class="f-default__field">
                                </div>
                                <div class="f-default__row">
                                    <input type="text" placeholder="Логин (будет являть вашим ником)" class="f-default__field">
                                </div>
                                <div class="f-default__row">
                                    <input type="email" placeholder="Ваш e-mail" class="f-default__field">
                                </div>
                                <div class="f-default__row">
                                    <div class="f-default__pass">
                                        <input type="password" placeholder="Придумайте пароль" class="f-default__field">
                                        <div class="f-default__pass-eye"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="f-sign-up__right"><a href="#" class="btn-s _ok">Одноклассники</a><a href="#" class="btn-s _gm">гугл почта</a>
                                <a href="#" class="btn-s _vk">Вконтакте</a>
                                <a href="#" class="btn-s _fb">Фэйсбук</a>
                            </div>
                        </div>
                    </div>
                    <div class="f-order__bottom">
                        <div class="msg-box _thumb">
                            <div class="i-thumb"></div>
                            <div class="msg-box__text">На ваш телефон придет смс с кодом с помощью которой вы подтвердите контакты</div>
                        </div>
                        <div class="f-default__row _width-463">
                            <div class="f-default__col _24-100">
                                <ui-select ng-model="selectPhoneArea" theme="bootstrap" search-enabled="false" required="">
                                    <ui-select-match placeholder="Please select">{{$select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="phone in selectPhone" position="down">
                                        <div ng-bind-html="phone">{{phone}}</div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="f-default__col _41-100">
                                <input type="tel" placeholder="ваш номер ХХ-ХХХ-ХХ-ХХ" class="f-default__field">
                            </div>
                            <div class="f-default__col _35-100">
                                <buttom class="f-default__submit-3 btn-d">Отправить код</buttom>
                            </div>
                        </div>
                        <div class="f-default__row _width-455">
                            <div class="f-sign-up__code _success">
                                <input type="text" placeholder="Четырех значный код" class="f-default__field">
                            </div><a href="#" class="i-link">Отправить ещё раз</a>
                        </div>
                        <button class="btn-c" ng-click="setStep(6, $event)">Подтвердить номер</button>
                        <div class="f-sign-up__attention">
                            <div class="i-attention"></div>Ваш номер телефона не передается третьим лицам
                        </div>
                    </div>
                </form>
            </div>

            <div class="b-order-place-success" ng-if="step == 6" ng-init="lastStep()">
                <div class="b-order-place-success__top">
                    <div class="b-order-place-success__title">Ваш заказ успешно размещен!</div>
                    <div class="b-order-place-success__text">
                        <img src="/img/delivery.png" class="i-furniture">Теперь осталось дождаться перевозчика или вы можете
                        сами его выбрать
                    </div>
                </div>
                <div class="b-order-place-success__bottom"><a ui-sref="app.orders.list" ui-sref-opts="{reload: true, notify: true}" class="i-link">Перейти на базу заказов</a><a href="#" class="i-link" ng-click="setStep(1, $event)">Создать ещё один лот</a>
                    <a href="#" class="btn-d" ui-sref="app.orders.details({orderId: item.id})">Посмотреть свой заказ</a>
                </div>
            </div>
        </section>
    </div>
</section>
<div ng-include="'/app/views/orders/create/shared/questions.html'"></div>