<div class="p-offer">
    <section class="s-offer-a">
        <div class="container"><a href="" ui-sref="app.orders.details({orderId: orderId})" class="i-back">Назад</a>
            <div class="msg-box _pro _posa">
                <div class="i-pro">Pro</div>
                <div class="msg-box__text">PRO-аккаунт - не ограничивайте себя в возможностях.</div><a href="#" class="i-link-a">Узнать подробнее</a>
                <a href="#" class="i-close"></a>
            </div>
            <h1>Размещение ставки</h1>
            <form name="createBidForm" class="f-offer f-default" ng-submit="submitBid()">
                <div class="f-offer__top">
                    <div class="f-default__row">
                        <input type="text" placeholder="Введите ставку" input-number max="999999999" required ng-model="bid.price" class="f-default__field _w-85"><span class="f-default__text">бел.руб.</span>
                    </div>
                    <div class="f-default__row">
                        <ui-select ng-model="bid.carrier.car" theme="bootstrap" search-enabled="false">
                            <ui-select-match placeholder="Выберите транспорт">{{$select.selected.modelName}}</ui-select-match>
                            <ui-select-choices repeat="car in currentUser.profileData.cars" position="down">
                                <div ng-bind-html="car.modelName">{{car.modelName}}</div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="f-default__row">
                        <textarea placeholder="Описание предложения" ng-model="bid.description" class="f-default__textarea _h-123"></textarea>
                    </div>
                    <div class="f-default__title">Заберу</div>
                    <div class="f-default__row">
                        <div class="f-default__date">
                             <input name="pickUpDate" type="text" class="f-default__field _date" uib-datepicker-popup ng-model="bid.pickUpDate" ng-click="isPickUpDateDatePickerOpen = !isPickUpDateDatePickerOpen" is-open="isPickUpDateDatePickerOpen" max-date="datepickerOptions.maxDate" datepicker-options="datepickerOptions"/>
                        </div>
                    </div>
<!--                     <div class="f-default__row _mb-44">
                        <ui-select ng-model="selectDelivery" theme="bootstrap" search-enabled="false" class="f-offer__select">
                            <ui-select-match placeholder="Please select">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="time in selectDeliveryArr" position="down">
                                <div ng-bind-html="time">{{time}}</div>
                            </ui-select-choices>
                        </ui-select>
                        <div class="f-default__time">
                            <input type="text" class="f-default__field _time">
                        </div><span class="f-default__text _dash">&mdash;</span>
                        <div class="f-default__time">
                            <input type="text" class="f-default__field _time">
                        </div>
                    </div> -->
                    <div class="f-default__title">Доставлю</div>
                    <div class="f-default__row">
                        <div class="f-default__date">
                             <input name="dropDate" type="text" class="f-default__field _date" uib-datepicker-popup ng-model="bid.dropDate" ng-click="isDropDateDatePickerOpen = !isDropDateDatePickerOpen" is-open="isDropDateDatePickerOpen" max-date="datepickerOptions.maxDate" datepicker-options="datepickerOptions"/>
                        </div>
                    </div>
<!--                     <div class="f-default__row">
                        <div class="f-default__title">Моё предложение актуально</div>
                        <ui-select ng-model="selectOffer" theme="bootstrap" search-enabled="false" class="f-offer__select _wide">
                            <ui-select-match placeholder="Please select">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="offer in selectOfferArr" position="down">
                                <div ng-bind-html="offer">{{offer}}</div>
                            </ui-select-choices>
                        </ui-select><span class="f-default__text _light">Срок активности ставки</span>
                    </div> -->
                    <div class="f-default__row">
                        <div class="f-default__title">Дополнительные услуги</div>
                        <div class="f-offer__checkboxes">
                            <label class="f-default__ck-label">Упаковка
                                <input type="checkbox" ng-model="bid.packing"><span class="f-default__ck-box"></span>
                            </label>
                            <label class="f-default__ck-label">Детское кресло
                                <input type="checkbox" ng-model="bid.babyChair"><span class="f-default__ck-box"></span>
                            </label>
                            <label class="f-default__ck-label">Погрузка
                                <input type="checkbox" ng-model="bid.loading"><span class="f-default__ck-box"></span>
                            </label>
                            <label class="f-default__ck-label">Выгрузка
                                <input type="checkbox" ng-model="bid.unloading"><span class="f-default__ck-box"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="f-offer__bottom"><a href="" ui-sref="app.orders.details({orderId: orderId})" class="i-back"><span>Сброс</span></a>
                    <button class="f-offer__submit btn-d" ng-if="editMode">Сохранить ставку</button>
                    <button class="f-offer__submit btn-d" ng-if="!editMode">Разместить ставку</button>
                </div>
            </form>
        </div>
    </section>
</div>