<div class="p-card">
    <section class="s-card-a">
        <div class="container"><a href="" ng-click="getBackToOrdersList()" class="i-back">К списку заказов</a>
            <div class="b-card">
                <div class="pr-l-user">
                    <div class="pr-l-user__top">
                        <div class="pr-l-user__top-left">
                            <img src="http://placehold.it/49x49">
                        </div>
                        <div class="pr-l-user__top-right">
                            <div class="pr-l-user__name">{{order.userFirstName}} {{order.userLastName}}</div><a href="" ui-sref="app.publicProfile.customer({userId: order.userId})" class="i-link">Посмотреть личные данные</a>
                        </div>
                    </div>
                    <!-- <div class="pr-l-user__bottom">
                        <div class="b-progress">
                            <div class="b-progress__outer">
                                <div style="width: 98%;" class="b-progress__inner"></div>
                            </div>
                            <div class="b-progress__count">98%</div>
                        </div>
                    </div> -->
                </div>
                <div class="b-card__row">
                    <h1>{{::order.name}}</h1>
                </div>
                <div class="b-card__row">
                    <p>{{::order.category}}</p>
                </div>
                <div class="b-card__row _mb-10">
                    <div class="b-card__stat">
                        <div class="b-card__stat-dt">№</div>
                        <div class="b-card__stat-dd">{{::order.id}}</div>
                    </div>
                    <div class="i-active-card" ng-if="order.isActive">Заказ активен</div>
                    <div class="i-active-card _inactive" ng-if="!order.isActive">Заказ неактивен</div>
                    <div class="b-card__stat">
                        <div class="b-card__stat-dt">
                            <div class="i-eye"></div>
                        </div>
                        <div class="b-card__stat-dd">{{::order.views}}</div>
                    </div>
                    <div class="i-pro _king" ng-if="order.accessibleOnlyForPro">Только для PRO</div>
                </div>
                <div class="b-card__row">
                    <div class="b-card__text">Заказ размещен
                        <time>{{ ::order.creationDate | date:'dd.MM.yyyy' }}</time>в
                        <time>{{ ::order.creationDate | date:'hh:mm' }}</time>
                    </div>
                </div>
                <div class="b-card__row">
                    <div class="b-card__table">
                        <div class="b-card__left">
                            <!-- <img ng-if="order.image" ngf-thumbnail="order.image" ngf-size="{width: 300, height: 300, quality: 0.9}" class="b-card__img"> -->
                            <img ng-if="!order.image" src="http://placehold.it/300x300" class="b-card__img"> 
                            <div ng-if="order.image" afkl-lazy-image="{{order.image}}" on-error-src="No Image" on-load="assets/images/pageloader/loader8.GIF" class="b-card__img afkl-lazy-wrapper afkl-img-ratio-1-1"></div>
                        </div>
                        <div class="b-card__right">
                            <div class="b-card__group-title">Описание</div>
                            <div class="b-card__col-wrap">
                                <div class="b-card__col _1-3">
                                    <dl class="b-card__dl">
                                        <div class="b-card__dl-row">
                                            <dt class="b-card__dt">Масса:</dt>
                                            <dd class="b-card__dd">{{::order.weight}} кг</dd>
                                        </div>
<!--                                         <div class="b-card__dl-row">
                                            <dt class="b-card__dt">Блиц-цена:</dt>
                                            <dd class="b-card__dd">{{::order.price.blitz}} руб</dd>
                                        </div>   -->                                      
                                    </dl>
                                </div>
                                <div class="b-card__col _1-3">
                                    <dl class="b-card__dl _70-30">
                                        <div class="b-card__dl-row">
                                            <dt class="b-card__dt">Ожидаемая цена:</dt>
                                            <dd class="b-card__dd">{{::order.price.expected}} руб</dd>
                                        </div>
                                        <div class="b-card__dl-row">
                                            <dt class="b-card__dt">Всего ставок:</dt>
                                            <dd class="b-card__dd">{{::orderBids.length}}</dd>
                                        </div>
                                    </dl>
                                </div>Ц
                                <div class="b-card__col _1-3" ng-if="!order.cargoType==CARGO_TYPES.PASSENGERS">
                                    <dl class="b-card__dl">
                                        <div class="b-card__dl-row">
                                            <dt class="b-card__dt">Габариты:</dt>
                                            <dd class="b-card__dd">{{::order.size.width}}см х {{::order.size.length}}см х {{::order.size.depth}}см</dd>
                                        </div>
<!--                                         <div class="b-card__dl-row">
                                            <dt class="b-card__dt">Блиц-цена:</dt>
                                            <dd class="b-card__dd">{{::order.auction.blitzPrice}} руб</dd>
                                        </div>
                                        <div class="b-card__dl-row">
                                            <a href="" class="i-repurchase" ng-show="isAuthorized(USER_ROLES.CARRIER)" ui-sref="app.orders.bid.new({orderId: order.id})">Выкупить за {{::order.auction.blitzPrice}}</a>
                                        </div> -->
                                    </dl>
                                </div>
                            </div>
                            <div class="b-card__group-title">Маршрут</div>
                            <!--<div class="b-card__direction-wrap">-->
                                <!--<div class="b-card__direction" ng-repeat="order.route in order.route.parts">-->
                                    <!--<div class="b-card__direction-left">-->
                                        <!--<div class="b-card__direction-route">{{::order.route.from.address.country}}, {{::order.route.from.address.city}} &mdash; {{::order.route.to.address.country}}, {{::order.route.to.address.city}}</div>-->
                                        <!--&lt;!&ndash; <div class="b-card__direction-address"><span>ул.</span>{{::order.route.from.address.street}} {{::order.route.from.address.house}},<span>этаж</span>{{::order.route.from.address.floor}},<span>кв</span>{{::order.route.from.address.flat}}</div> &ndash;&gt;-->
                                    <!--</div>-->
                                    <!--<div class="b-card__direction-right"><span class="b-card__text">Между 22.08 и 23.08</span><span class="b-card__arrow"></span>-->
                                        <!--<span class="b-card__text">{{::order.route.length}} км</span><span class="b-card__arrow"></span>-->
                                        <!--<span class="b-card__text">23.08.2015,<b>14:00</b></span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="b-card__direction-wrap">
                                <div class="b-card__direction">
                                    <!-- Адрес погрузки -->
                                    <span class="b-card__direction-route">{{::order.route.from.address.country}},<br>{{::order.route.from.address.city}}<br>
                                        <span class="b-card__text" ng-if="order.route.from.address.street">
                                            ул.{{::order.route.from.address.street}}<br>
                                            <span ng-if="order.route.from.address.house">
                                                д.{{::order.route.from.address.house}}
                                                <span ng-if="order.route.from.address.floor">
                                                     эт.{{::order.route.from.address.floor}}
                                                </span>
                                                <span ng-if="order.route.from.address.flat">
                                                     кв.{{::order.route.from.address.flat}}
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                    <!-- Если дата погрузки плавающая -->
                                    <span class="b-card__text _tar" ng-if="order.route.departureTime[1]">
                                        <span>Между {{order.route.departureTime[0] | date:'dd.MM.yyyy'}},<b>{{order.route.departureTime[0] | date:'HH:mm'}}</b></span><br>
                                        <span>И {{order.route.departureTime[1] | date:'dd.MM.yyyy'}},<b>{{order.route.departureTime[1] | date:'HH:mm'}}</b></span>
                                    </span>
                                    <!-- Если дата погрузки точная -->
                                    <span class="b-card__text" ng-if="!order.route.departureTime[1]">
                                        {{order.route.departureTime[0] | date:'dd.MM.yyyy'}},<b>{{order.route.departureTime[0] | date:'HH:mm'}}</b>
                                    </span>
                                    <!-- Стрелки и длина маршрута -->
                                    <span class="b-card__arrow"></span><span class="b-card__text">{{::order.route.length}} км</span><span class="b-card__arrow"></span>
                                    <!-- Если дата разгрузки плавающая -->
                                    <span class="b-card__text" ng-if="order.route.arrivalTime[1]">
                                        Между {{order.route.arrivalTime[0] | date:'dd.MM.yyyy'}},<b>{{order.route.arrivalTime[0] | date:'HH:mm'}}</b><br>И {{order.route.arrivalTime[1] | date:'dd.MM.yyyy'}},<b>{{order.route.arrivalTime[1] | date:'HH:mm'}}</b>
                                    </span>
                                    <!-- Если дата разгрузки точная -->
                                    <span class="b-card__text _tal" ng-if="!order.route.arrivalTime[1]">
                                        {{order.route.arrivalTime[0] | date:'dd.MM.yyyy'}},<b>{{order.route.arrivalTime[0] | date:'HH:mm'}}</b>
                                    </span>
                                    <!-- Адрес разгрузки -->
                                    <span class="b-card__direction-route _tar">{{::order.route.to.address.country}},<br> {{::order.route.to.address.city}}<br>
                                        <span class="b-card__text" ng-if="order.route.to.address.street">
                                            ул.{{::order.route.to.address.street}}<br>
                                            <span ng-if="order.route.to.address.house">
                                                д.{{::order.route.to.address.house}}
                                                <span ng-if="order.route.to.address.floor">
                                                     эт.{{::order.route.to.address.floor}}
                                                </span>
                                                <span ng-if="order.route.to.address.flat">
                                                     кв.{{::order.route.to.address.flat}}
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="b-card__dop-info _pogr" ng-if="order.additionalInfo.needsLoading">Требуется погрузка</div>
                            <div class="b-card__dop-info _pogr" ng-if="order.additionalInfo.needsUnloading">Требуется разгрузка</div>
                            <div class="b-card__dop-info _pak" ng-if="order.additionalInfo.needsPacking">Требуется упаковка</div>
                            <div class="b-card__dop-info _child" ng-if="order.additionalInfo.needsBabyChair">Требуется детское кресло</div>
                            <div class="b-card__dop-info _elevator" ng-if="order.additionalInfo.hasServiceLift">Есть грузовой лифт</div>
                        </div>
                    </div>
                </div>
                <div class="b-card__row">
                    <div class="b-card__group-title">Описание заказа</div>
                    <div class="b-card__text-a">{{::order.description}}</div>
                </div>
                <div class="b-card__row">
                    <div class="b-card-map" ng-class="{'_close' : !toggleMap}">
                        <div class="b-card-map__info-wrap">
                            <div class="b-card-map__col-wrap">
                                <div class="b-card-map__col">
                                    <div class="i-graf"></div>
                                    <div class="b-card-map__info">
                                        <div class="b-card-map__info-dt">Минимальная ставка</div>
                                        <div class="b-card-map__info-dd"><b>{{::minimalBid}}</b> руб</div>
                                    </div>
                                </div>
                                <div class="b-card-map__col" ng-if="order.route.departureTime.length > 1">
                                    <div class="i-calendar"></div>
                                    <div class="b-card-map__info">
                                        <div class="b-card-map__info-dt">Погрузка с</div>
                                        <div class="b-card-map__info-dd"><b>{{::order.route.departureTime[0] | date:'dd.MM.yyyy'}}</b></div>
                                        <div class="b-card-map__info-dd"><b>{{::order.route.departureTime[0] | date:'HH:mm' }}</b></div>
                                    </div>
                                    <div class="b-card-map__info">
                                        <div class="b-card-map__info-dt">По</div>
                                        <div class="b-card-map__info-dd"><b>{{::order.route.departureTime[1] | date:'dd.MM.yyyy' }}</b>
                                        <div class="b-card-map__info-dd"><b>{{::order.route.departureTime[1] | date:'HH:mm' }}</b></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-card-map__col" ng-if="order.route.departureTime.length == 1">
                                    <div class="i-calendar"></div>
                                    <div class="b-card-map__info">
                                        <div class="b-card-map__info-dt">Погрузка</div>
                                        <div class="b-card-map__info-dd"><b>{{::order.route.departureTime[0] | date:'dd.MM.yyyy, HH:mm' }}</b></div>
                                    </div>
                                </div>
                                <div class="b-card-map__col">
                                    <div class="i-time"></div>
                                    <div class="b-card-map__info">
                                        <div class="b-card-map__info-dt">Активна до</div>
                                        <div class="b-card-map__info-dd">
                                            <div class="b-card-map__info-dd-time">{{::order.activeFor}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-card-map__map-wrap">
                            <div class="b-card-map__map">
                                <ya-map ya-zoom="7" ya-controls="zoomControl" ya-behaviors="drag -scrollZoom" ya-after-init="drawRoute($target)" class="map-details"></ya-map>
                            </div>
                            <a href="" ng-click="toggleMap = !toggleMap" class="btn-e"><span ng-if="toggleMap">Скрыть карту</span><span ng-if="!toggleMap">Показать карту</span></a>
                        </div>
                    </div>
                </div>
                <div class="b-card__row">
                    <div class="b-chat">
                        <div class="b-chat__top">
                            <div class="b-chat__top-left"><a href="" ng-click="toggleChat = !toggleChat" class="b-chat__toggle _open">Общий чат<span>106</span></a>
                            </div>
                            <div class="b-chat__top-right">
                                <div class="f-chat">
                                    <button class="btn-d">Задать вопрос</button>
                                    <input type="text" placeholder="Написать свой вопрос" class="f-default__field">
                                </div>
                            </div>
                        </div>
                        <div class="b-chat__bottom" ng-init="toggleChat = false" ng-if="toggleChat">
                            <div class="b-answer">
                                <div class="b-answer__left">
                                    <img src="http://placehold.it/70x70">
                                </div>
                                <div class="b-answer__right">
                                    <div class="b-answer__content">
                                        <div class="b-answer__name">Николай Скворцов</div>
                                        <time class="b-answer__time">9 часов назад</time>
                                        <p class="b-answer__text">Сомнительный приз... Вспоминается анекдот на заплыв по Темзе. Там второму победителю
                                            подарили шерстяные носки, связанные Королевой:)</p>

                                        <form action="" class="f-answer">
                                            <button class="btn-d">Ответить</button>
                                            <input type="text" class="f-default__field"/>
                                        </form>
                                        <!-- <a href="" ng-click="" class="i-link">Ответить</a> -->
                                    </div>
                                    <div class="b-answer">
                                        <div class="b-answer__left">
                                            <img src="http://placehold.it/70x70">
                                        </div>
                                        <div class="b-answer__right">
                                            <div class="b-answer__content">
                                                <div class="b-answer__name">Николай Скворцов</div>
                                                <time class="b-answer__time">9 часов назад</time>
                                                <p class="b-answer__text">Я думаю результаты будут неплохими, если они будут знать, что в их сторону
                                                    будут направлены АК. Хотя понятное дело, что новость очередная новостная
                                                    утка =)</p>

                                                <form action="" class="f-answer">
                                                    <button class="btn-d">Ответить</button>
                                                    <input type="text" class="f-default__field"/>
                                                </form>
                                                <!-- <a href="#" class="i-link">Ответить</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-answer">
                                <div class="b-answer__left">
                                    <img src="http://placehold.it/70x70">
                                </div>
                                <div class="b-answer__right">
                                    <div class="b-answer__content">
                                        <div class="b-answer__name">Николай Скворцов</div>
                                        <time class="b-answer__time">9 часов назад</time>
                                        <p class="b-answer__text">Я думаю результаты будут неплохими, если они будут знать, что в их сторону будут
                                            направлены АК. Хотя понятное дело, что новость очередная новостная утка =)</p>

                                        <form action="" class="f-answer">
                                            <button class="btn-d">Ответить</button>
                                            <input type="text" class="f-default__field"/>
                                        </form>
                                        <!-- <a href="#" class="i-link">Ответить</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-card__row">
                    <div class="l-offer">
                        <div class="l-offer__row">
                            <div class="l-offer__tdm">
                                <div class="l-offer__title">Предложения</div>
                            </div>
                            <div class="l-offer__tdm">
                                <button class="i-link _arrow" ng-click="sortBidsBy('price')" ng-class="{'_arrow-down':reverse}">Цена предложения</button>
                            </div>
                            <div class="l-offer__tdm">
                                <a class="i-link _arrow">В стоимость входит</a>
                            </div>
                            <div class="l-offer__tdm">
                                <button class="i-link _arrow" ng-click="sortBidsBy('date')" ng-class="{'_arrow-down':reverse}">Дата предложения</button>
                            </div>
                            <div class="l-offer__tdm"><a href="" ng-if="isAuthorized(USER_ROLES.CARRIER) && order.isActive" ui-sref="app.orders.bid({orderId: order.id, order: order})" class="btn-set-offer">Предложить цену</a>
                            </div>
                        </div>
                        <div class="l-offer__row" ng-repeat="bid in orderBids">
                            <div class="l-offer__td">
                                <div class="pr-m-user">
                                    <div class="pr-m-user__left">
                                        <img ng-src="{{bid.carrier.imageUrl}}" class="pr-m-user__user-img">
                                        <img ng-src="{{bid.carrier.car.imageUrl}}" class="pr-m-user__car-img">
                                    </div>
                                    <div class="pr-m-user__right">
                                        <div class="pr-m-user__name"><a ui-sref="app.carrier({id: bid.carrier.id})">{{bid.carrier.firstName}}</a></div>
                                        <div class="pr-m-user__row">
                                            <div class="b-progress">
                                                <div class="b-progress__outer">
                                                    <div style="width: {{bid.carrier.rating}}%;" class="b-progress__inner"></div>
                                                </div>
                                                <div class="b-progress__count">{{bid.carrier.rating}}%</div>
                                            </div>
                                            <div class="pr-m-user__lot-count">
                                                <div class="pr-m-user__lot-dt">Перевозки:</div>
                                                <div class="pr-m-user__lot-dd">{{bid.carrier.completedOrders}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pr-m-user__row">
                                            <div class="pr-m-user__lot-count">
                                                <div class="pr-m-user__lot-dt">Автомобиль:</div>
                                                <div class="pr-m-user__lot-dd">{{bid.carrier.car.modelName}}, {{bid.carrier.car.productionYear}}</div>
                                            </div>
                                        </div>
                                        <div class="i-pro _king" ng-if="bid.carrier.isPro">PRO аккаунт</div>
                                        <div class="pr-m-user__row">{{::bid.description}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="l-offer__td" >{{bid.price}} р.</div>
                            <div class="l-offer__td">
                                <div class="_light _db" ng-if="bid.loading">Погрузка</div>
                                <div class="_light _db" ng-if="bid.packing">Упаковка</div>
                            </div>
                            <div class="l-offer__td">{{bid.date| amDateFormat:'DD.MM.YYYY'}}
                                <div class="_light">в</div>{{bid.date | amDateFormat:'HH:mm'}}
                            </div>
                            <div class="l-offer__td">
                                <a href="" ng-if="order.isActive && isAuthorized(USER_ROLES.CUSTOMER) && order.userId == currentUser.authData.userId" ng-click="acceptBid()" class="btn-d _green _arrow">Принять предложение</a>
                                <a href="" ng-if="order.isActive && isAuthorized(USER_ROLES.CARRIER) && bid.carrier.id == currentUser.authData.userId" ui-sref="app.orders.bid({orderId: order.id, bid: bid, editMode: true})" class="btn-d _green _arrow">Редактировать/отменить</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="s-order-base-b__row">
                    <div class="b-pagination">
                        <a class="b-pagination__page" ng-repeat="page in totalPages | range"
                            ng-class="{'_active': page == currentPage}">
                            {{page}}
                        </a>
                        <div class="b-pagination__line"></div>
                    </div><a href="#" ng-show="currentPage != totalPages" class="btn-g">Следующая страница</a>
                </div>
<!--                 <div class="b-card__row">
                    <div class="b-pagination">
                        <a href="#" class="b-pagination__page _active">1</a>

                        <div class="b-pagination__line"></div>
                    </div>
                    <a href="#" class="b-card__next-page btn-g">Следующая страница</a>
                </div> -->
            </div>
        </div>
    </section>
</div>