<div class="p-orderbase">
    <section class="s-order-base-a">
        <div class="container">
            <div class="b-order-base-map map-height" ng-class="{'_close': !toggleMap}">
                <form class="f-base-map" name="searchForm" ng-submit="search(searchQuery)">
                    <div class="f-base-map__top">
                        <div class="f-base-map__row">
                            <div class="f-base-map__left">
                                <div class="f-base-map__table">
                                    <div class="f-base-map__table-left"><span class="f-base-map__dt">Откуда</span>
                                    </div>
                                    <div class="f-base-map__table-right">
                                        <ui-select ng-model="searchQuery.departure.country" theme="bootstrap">
                                            <ui-select-match placeholder="Страна">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="country in countries | filter: $select.search" refresh="searchCountries($select.search)" refresh-delay="300" position="down">
                                                <div ng-bind-html="country.name">{{country.name}}</div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <ui-select ng-model="searchQuery.departure.city" theme="bootstrap">
                                            <ui-select-match placeholder="Населенный пункт">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="city in cities | filter: $select.search" refresh="searchCities($select.search)" refresh-delay="300" position="down">
                                                <div ng-bind-html="city.name">{{city.name}}</div>
                                                <div ng-if="city.area" ng-bind-html="city.area">{{city.area}}</div>
                                                <div ng-if="city.region" ng-bind-html="city.region">{{city.region}}</div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="f-base-map__right">
                                <div class="f-base-map__table-a">
                                    <div class="f-base-map__table-a-left">
                                        <a href="#" class="i-swap"></a><span class="f-base-map__dt">Куда</span>
                                    </div>
                                    <div class="f-base-map__table-a-right">
                                        <ui-select ng-model="searchQuery.arrival.country" ng-change="searchCities($select.selected)" theme="bootstrap">
                                            <ui-select-match placeholder="Страна">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="country in countries | filter: $select.search" refresh="searchCountries($select.search)" refresh-delay="300" position="down">
                                                <div ng-bind-html="country.name">{{country.name}}</div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <ui-select ng-model="searchQuery.arrival.city" theme="bootstrap">
                                            <ui-select-match placeholder="Населенный пункт">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="city in cities | filter: $select.search" refresh="searchCities($select.search)" refresh-delay="300" position="down">
                                                <div ng-bind-html="city.name">{{city.name}}</div>
                                                <div ng-if="city.area" ng-bind-html="city.area">{{city.area}}</div>
                                                <div ng-if="city.region" ng-bind-html="city.region">{{city.region}}</div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="f-base-map__row">
                            <div class="f-base-map__left">
                                <div class="f-base-map__table">
                                    <div class="f-base-map__table-left"><span class="f-base-map__dt">Когда</span>
                                    </div>
                                    <div class="f-base-map__table-right">
                                        <div class="f-default__date">
                                            <input name="worksFrom" type="text" class="f-default__field _date" uib-datepicker-popup ng-model="searchQuery.departure.date" ng-click="isDepartureTimePickerOpen = !isDepartureTimePickerOpen" is-open="isDepartureTimePickerOpen" max-date="datepickerOptions.maxDate"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="f-base-map__right">
                                <div class="f-base-map__table-a">
                                    <div class="f-base-map__table-a-left">
                                        <div class="f-base-map__dt">Вид перевозки</div>
                                    </div>
                                    <div class="f-base-map__table-a-right">
                                        <label class="f-default__rd-label-a">Грузовая перевозка
                                            <input name="cargoTypeRb" type="radio" ng-value="false" ng-click="searchQuery.category = categories[1]" ng-model="searchQuery.isPassengerTransportation" ><span class="f-default__rd-box-a"></span>
                                        </label>
                                        <label class="f-default__rd-label-a">Пассажирская перевозка
                                            <input name="cargoTypeRb" type="radio" ng-value="true" ng-click="searchQuery.category = categories[0]" ng-model="searchQuery.isPassengerTransportation" ><span class="f-default__rd-box-a"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="f-base-map__bottom">
                        <div class="f-base-map__row" ng-if="!searchQuery.isPassengerTransportation">
                            <div class="f-base-map__alyselect">
                                <ui-select ng-model="searchQuery.category" theme="bootstrap">
                                    <ui-select-match placeholder="Тип груза">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="type in nonPassengerCategories | filter: $select.search" refresh="searchCities($select.search)" refresh-delay="300" position="down">
                                        <div ng-bind-html="type.name">{{type.name}}</div>
                                    </ui-select-choices>
                                </ui-select>
<!--                                 <input type="checkbox" id="alyselect0" class="f-base-map__ck-alyselect">
                                <label for="alyselect0" class="f-base-map__ck-alyselect-label">Тип груза</label>
                                <div class="f-base-map__dropdown">
                                    <label class="f-default__ck-label">Боковая
                                        <input type="checkbox"><span class="f-default__ck-box"></span>
                                    </label>
                                    <label class="f-default__ck-label">Боковая
                                        <input type="checkbox"><span class="f-default__ck-box"></span>
                                    </label>
                                    <label class="f-default__ck-label">Боковая
                                        <input type="checkbox"><span class="f-default__ck-box"></span>
                                    </label>
                                    <label class="f-default__ck-label">Боковая
                                        <input type="checkbox"><span class="f-default__ck-box"></span>
                                    </label>
                                </div> -->
                            </div>
                            <div class="f-base-map__size-wrap">
                                <div class="f-default__direction _height"></div>
                                <input type="text" nks-only-number allow-negative="false" ng-model="searchQuery.height" placeholder="Высота" class="f-default__field _size _height">
                                <div class="f-default__text">см</div>
                                <div class="f-default__direction _length"></div>
                                <input type="text" nks-only-number allow-negative="false" ng-model="searchQuery.length" placeholder="Длина" class="f-default__field _size _length">
                                <div class="f-default__text">см</div>
                                <div class="f-default__direction _width"></div>
                                <input type="text" nks-only-number allow-negative="false" ng-model="searchQuery.width" placeholder="Ширина" class="f-default__field _size">
                                <div class="f-default__text _mr-40">см</div>
                                <input type="text" nks-only-number allow-negative="false" ng-model="searchQuery.weight" placeholder="Масса" class="f-default__field _size">
                                <div class="f-default__text _mr-40">см</div>
<!--                                 <label class="f-default__ck-label">Груз упакован
                                    <input type="checkbox"><span class="f-default__ck-box"></span>
                                </label>
                                <label class="f-default__ck-label">Надо помочь с погрузкой
                                    <input type="checkbox"><span class="f-default__ck-box"></span>
                                </label> -->
                                
                            </div>
                            <div class="f-base-map__right">
                                <button ng-click="searchOrders()" class="btn-d">Показать</button>
                            </div>
                        </div>
                        <div class="f-base-map__row" ng-if="searchQuery.isPassengerTransportation">
                            <div class="i-passengers"></div>
                            <ui-select ng-model="searchQuery.passengersQuantity" theme="bootstrap" class="f-base-map__pass-count">
                                <ui-select-match placeholder="Пассажиров">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="number in [1,2,3,4,5,6,7,8,9,10]" position="down">
                                    <div ng-bind-html="number">{{number}}</div>
                                </ui-select-choices>
                            </ui-select>
                            <div class="f-base-map__right">
                                <button ng-click="searchOrders()" class="btn-d">Показать</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="b-order-base-map__map-wrap">
                    <div class="b-order-base-map__map">
                        <ya-map ya-zoom="6" ya-center="{{mapCenter}}" ya-controls="zoomControl" ya-behaviors="drag -scrollZoom" ya-after-init="afterMapInit($target)" class="map"></ya-map>
                    </div>
                    <a href="" ng-click="toggleMap = !toggleMap" class="btn-e"><span ng-if="toggleMap">Скрыть карту</span><span ng-if="!toggleMap">Показать карту</span></a>
                </div>
            </div>
        </div>
    </section>
    <section class="s-order-base-b">
        <div class="container">
            <div class="l-order">
                <div class="l-order__row">
                    <div class="l-order__td">
                        <div class="l-order__title">Всего<span class="_light">{{totalItems || 0}} предложений</span>
                        </div>
                    </div>
                    <div class="l-order__td">
                        <button class="i-link _arrow" ng-click="sortBy('departureTime')" ng-class="{'_arrow-down':reverse}">Дата отправления</button>
                        <button class="i-link _arrow _asymp" ng-click="sortBy('routeLength')" ng-class="{'_arrow-down':reverse}">Километраж</button>
                        <button class="i-link _arrow" ng-click="sortBy('arrivalTime')" ng-class="{'_arrow-down':reverse}">Дата прибытия</button>
                    </div>
                    <div class="l-order__td">
                        <button class="i-link _arrow" ng-click="sortBy('price.expected')" ng-class="{'_arrow-down':reverse}">Приемлемая цена</button>
                    </div>
                    <div class="l-order__td">
                        <div class="l-order__text _light">Информация о ставках</div>
                    </div>
                </div>
                <div ng-repeat="order in orders" class="l-order__row">
                    <div class="l-order__td">
                        <div class="l-order__short-info">
                            <img ng-src="{{order.categoryImage}}" class="l-order__type-img">
                            <div class="l-order__name">{{order.name}}
                                <div ng-show="order.accessibleOnlyForPro" class="i-pro _king">Только для Pro</div>
                            </div>
                            <dl class="l-order__dl">
                                <div class="l-order__dl-row">
                                    <dt class="l-order__dt">Масса:</dt>
                                    <dd class="l-order__dd">{{order.weight}} кг</dd>
                                </div>
                                <div class="l-order__dl-row">
                                    <dt class="l-order__dt">Габариты:</dt>
                                    <dd class="l-order__dd">{{order.size.width}}см х {{order.size.length}}см х {{order.size.depth}}см</dd>
                                </div>
                                <div class="l-order__dl-row">
                                    <dt class="l-order__dt">
                        <div class="i-eye"></div>
                      </dt>
                                    <dd class="l-order__dd">{{order.views}}</dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="l-order__td">
                        <div class="l-order__route">
                            <div class="l-order__route-row"><span class="l-order__direction _fl">{{order.route.from.address.country}}, {{order.route.from.address.city}}</span><span class="l-order__direction _fr">{{order.route.to.address.country}}, {{order.route.to.address.city}}</span>
                            </div>
                            <div class="l-order__route-row">
                                <time class="l-order__date _fl">{{order.route.departureTime[0] | date:'dd.MM.yyyy'}},</time>
                                <time class="l-order__time _fl">{{order.route.departureTime[0] | date:'HH:mm'}}</time><span class="l-order__arrow"></span><span class="l-order__range">{{order.route.length}} км</span>
                                <span class="l-order__arrow"></span>
                                <time class="l-order__date _fr">{{order.route.arrivalTime[0] | date:'dd.MM.yyyy'}},</time>
                                <time class="l-order__time _fr">{{order.route.arrivalTime[0] | date:'HH:mm'}}</time>
                            </div>
                        </div>
                    </div>
                    <div class="l-order__td">
                        <div class="l-order__text">
                            <div class="i-usd"></div>{{order.price.expected}} р.
                        </div>
                    </div>
                    <div class="l-order__td">
                        <dl class="l-order__dl">
                            <div class="l-order__dl-row">
                                <dt class="l-order__dt">Всего ставок:</dt>
                                <dd class="l-order__dd">{{order.bidsCount}}</dd>
                            </div>
                            <div class="i-time-green" ng-if="order.isActive">{{order.activeFor}}</div>
                            <div class="i-time-red" ng-if="!order.isActive">Завершен</div>
<!--                             <div  class="l-order__dl-row">
                                <dt class="l-order__dt">Активна до</dt>
                                <dd class="l-order__dd" ng-if="order.route.departureTime.length > 1">{{order.route.departureTime[1] | date:'dd.MM.yyyy'}}</dd>
                                <dd class="l-order__dd" ng-if="order.route.departureTime.length == 1">{{order.route.departureTime[0] | date:'dd.MM.yyyy'}}</dd>
                            </div> -->
                        </dl>
                    </div>
                    <div class="l-order__td"><a ui-sref="app.orders.details({orderId: order.id})" class="i-link">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="s-order-base-b__row">
                <div class="b-pagination">
                    <a class="b-pagination__page" ng-repeat="page in totalPages | range"
                        ng-class="{'_active': page == currentPage}">
                        {{page}}
                    </a>
                    <div class="b-pagination__line"></div>
                </div><a href="" ng-show="currentPage != totalPages" class="btn-g">Следующая страница</a>
            </div>
        </div>
    </section>
</div>