<div class="f-add-auto f-default">
    <div class="f-add-auto__fieldset">
        <div class="f-add-auto__title">Мои транспортные средства</div>
    </div>
    <div class="f-add-auto__fieldset">
        <div class="f-default__title">Добавить транспорт</div>
        <div class="f-default__row">
            <div class="b-dropzone"></div>
            <label class="f-default__file">Загрузить в ручную
                <input type="file">
            </label>
        </div>
        <div class="f-default__row">
            <ui-select ng-model="deliveryArea.state" name="state" track-event="" theme="bootstrap" search-enabled="false" required="">
                <ui-select-match placeholder="Please select">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="phone in selectPhone" position="down">
                    <div ng-bind-html="phone">{{phone}}</div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="f-default__row">
            <ui-select ng-model="deliveryArea.state" name="state" track-event="" theme="bootstrap" search-enabled="false" required="">
                <ui-select-match placeholder="Please select">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="phone in selectPhone" position="down">
                    <div ng-bind-html="phone">{{phone}}</div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="f-default__row">
            <div class="f-default__col _1-3">
                <ui-select ng-model="deliveryArea.state" name="state" track-event="" theme="bootstrap" search-enabled="false" required="">
                    <ui-select-match placeholder="Please select">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="phone in selectPhone" position="down">
                        <div ng-bind-html="phone">{{phone}}</div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="f-default__col _1-3">
                <ui-select ng-model="deliveryArea.state" name="state" track-event="" theme="bootstrap" search-enabled="false" required="">
                    <ui-select-match placeholder="Please select">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="phone in selectPhone" position="down">
                        <div ng-bind-html="phone">{{phone}}</div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="f-default__col _1-3">
                <ui-select ng-model="deliveryArea.state" name="state" track-event="" theme="bootstrap" search-enabled="false" required="">
                    <ui-select-match placeholder="Please select">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="phone in selectPhone" position="down">
                        <div ng-bind-html="phone">{{phone}}</div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="f-default__row">
            <ui-select ng-model="deliveryArea.state" name="state" track-event="" theme="bootstrap" search-enabled="false" required="">
                <ui-select-match placeholder="Please select">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="phone in selectPhone" position="down">
                    <div ng-bind-html="phone">{{phone}}</div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="f-default__row">
            <div class="f-default__col _2-3">
                <input type="text" class="f-default__field">
            </div>
            <div class="f-default__col _1-3">
                <ui-select ng-model="deliveryArea.state" name="state" track-event="" theme="bootstrap" search-enabled="false" required="">
                    <ui-select-match placeholder="Please select">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="phone in selectPhone" position="down">
                        <div ng-bind-html="phone">{{phone}}</div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="f-default__row">
            <div class="f-add-auto__direction"></div>
            <input type="tel" class="f-default__field">
            <div class="f-default__text">см</div>
            <div class="f-add-auto__direction"></div>
            <input type="tel" class="f-default__field">
            <div class="f-default__text">см</div>
            <div class="f-add-auto__direction"></div>
            <input type="tel" class="f-default__field">
            <div class="f-default__text">см</div>
        </div>
        <div class="f-default__row">
            <div class="f-default__text _light">возможные способы погрузки</div>
            <div class="f-offer__checkboxes">
                <label class="f-default__ch-label">Боковая
                    <input type="checkbox"><span class="f-default__ck-box"></span>
                </label>
                <label class="f-default__ch-label">Верхняя
                    <input type="checkbox"><span class="f-default__ck-box"></span>
                </label>
                <label class="f-default__ch-label">Аппарели
                    <input type="checkbox"><span class="f-default__ck-box"></span>
                </label>
                <label class="f-default__ch-label">С полной растентовкой
                    <input type="checkbox"><span class="f-default__ck-box"></span>
                </label>
                <label class="f-default__ch-label">Боковая с двух сторон
                    <input type="checkbox"><span class="f-default__ck-box"></span>
                </label>
                <label class="f-default__ch-label">С обрешеткой
                    <input type="checkbox"><span class="f-default__ck-box"></span>
                </label>
                <label class="f-default__ch-label">Гидроболт
                    <input type="checkbox"><span class="f-default__ck-box"></span>
                </label>
                <label class="f-default__ch-label">Со снятием стоек
                    <input type="checkbox"><span class="f-default__ck-box"></span>
                </label>
                <label class="f-default__ch-label">С кониками
                    <input type="checkbox"><span class="f-default__ck-box"></span>
                </label>
                <label class="f-default__ch-label">Без ворот
                    <input type="checkbox"><span class="f-default__ck-box"></span>
                </label>
                <label class="f-default__ch-label">Задняя
                    <input type="checkbox"><span class="f-default__ck-box"></span>
                </label>
                <label class="f-default__ch-label">С бортами
                    <input type="checkbox"><span class="f-default__ck-box"></span>
                </label>
                <label class="f-default__ch-label">Поперечные перекладины
                    <input type="checkbox"><span class="f-default__ck-box"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="f-add-auto__fieldset">
        <button class="f-add-auto__submit btn-d">Сохранить</button>
        <input type="reset" value="Очистить форму" class="f-add-auto__reset">
    </div>
</div>