<div class="l-auto">
    <div class="l-auto__top">
        <div class="l-auto__title">Мои транспортные средства</div>
    </div>
    <div class="l-auto__middle">
        <div class="b-auto">
            <div class="b-auto__left">
                <div class="b-slider">
                    <div class="b-slider__top">
                        <img src="http://placehold.it/300x300" class="b-auto__img" />
                        <img src="http://placehold.it/300x300" class="b-auto__img" />
                        <img src="http://placehold.it/300x300" class="b-auto__img" />
                        <img src="http://placehold.it/300x300" class="b-auto__img" />
                    </div>
                    <div class="b-slider__bottom">
                        <a href="#" class="b-slider__controls _prev"></a><a href="#" class="b-slider__controls _slide">1</a><a href="#" class="b-slider__controls _slide">2</a>
                        <a href="#" class="b-slider__controls _slide">3</a>
                        <a href="#" class="b-slider__controls _next"></a>
                    </div>
                </div>
            </div>
            <div class="b-auto__right">
                <div class="b-auto__title">Автомобиль &laquo;Газель&raquo;</div><a href="#" class="i-link">Редактировать</a>
                <dl class="b-auto__dl">
                    <div class="b-auto__dl-row">
                        <dt class="b-auto__dt">Модель:</dt>
                        <dt class="b-auto__dd">Европлатформа</dt>
                    </div>
                    <div class="b-auto__dl-row">
                        <dt class="b-auto__dt">Год выпуска:</dt>
                        <dt class="b-auto__dd">2010</dt>
                    </div>
                    <div class="b-auto__dl-row">
                        <dt class="b-auto__dt">Грузоподъемность:</dt>
                        <dt class="b-auto__dd">12 000 кг</dt>
                    </div>
                    <div class="b-auto__dl-row">
                        <dt class="b-auto__dt">Тип кузова:</dt>
                        <dt class="b-auto__dd">Тент</dt>
                    </div>
                    <div class="b-auto__dl-row">
                        <dt class="b-auto__dt">Способ погрузки:</dt>
                        <dt class="b-auto__dd">Задняя</dt>
                    </div>
                    <div class="b-auto__dl-row">
                        <dt class="b-auto__dt">Габариты:</dt>
                        <dt class="b-auto__dd">120 х 200 х 300</dt>
                    </div>
                </dl>
            </div>
        </div>
        <div class="b-auto">
            <div class="b-auto__left">
                <div class="b-slider">
                    <div class="b-slider__top">
                        <img src="http://placehold.it/300x300" class="b-auto__img" />
                        <img src="http://placehold.it/300x300" class="b-auto__img" />
                        <img src="http://placehold.it/300x300" class="b-auto__img" />
                        <img src="http://placehold.it/300x300" class="b-auto__img" />
                    </div>
                    <div class="b-slider__bottom">
                        <a href="#" class="b-slider__controls _prev"></a><a href="#" class="b-slider__controls _slide">1</a><a href="#" class="b-slider__controls _slide">2</a>
                        <a href="#" class="b-slider__controls _slide">3</a>
                        <a href="#" class="b-slider__controls _next"></a>
                    </div>
                </div>
            </div>
            <div class="b-auto__right">
                <div class="b-auto__title">Автомобиль &laquo;Газель&raquo;</div><a href="#" class="i-link">Редактировать</a>
                <dl class="b-auto__dl">
                    <div class="b-auto__dl-row">
                        <dt class="b-auto__dt">Модель:</dt>
                        <dt class="b-auto__dd">Европлатформа</dt>
                    </div>
                    <div class="b-auto__dl-row">
                        <dt class="b-auto__dt">Год выпуска:</dt>
                        <dt class="b-auto__dd">2010</dt>
                    </div>
                    <div class="b-auto__dl-row">
                        <dt class="b-auto__dt">Грузоподъемность:</dt>
                        <dt class="b-auto__dd">12 000 кг</dt>
                    </div>
                    <div class="b-auto__dl-row">
                        <dt class="b-auto__dt">Тип кузова:</dt>
                        <dt class="b-auto__dd">Тент</dt>
                    </div>
                    <div class="b-auto__dl-row">
                        <dt class="b-auto__dt">Способ погрузки:</dt>
                        <dt class="b-auto__dd">Задняя</dt>
                    </div>
                    <div class="b-auto__dl-row">
                        <dt class="b-auto__dt">Габариты:</dt>
                        <dt class="b-auto__dd">120 х 200 х 300</dt>
                    </div>
                </dl>
            </div>
        </div>
    </div>
    <div class="l-auto__bottom"><a ui-sref='app.profile.transport.add' class="btn-d">Добавить автомобиль</a>
    </div>
</div>