.pr-docs
  margin-bottom: 40px
  &__top
    padding-bottom 10px
    cf()
    .pr-docs__dl
      float: right
  &__title
    vam()
    font-size: 14px
    font-weight: 700
    text-transform: uppercase;
    color #000
  &__dl-row
    padding 8px 0 14px
    border-bottom 1px dotted #8d8d8d
    cf()
    &:first-child
      border-top 1px dotted #8d8d8d
  &__dt
    font-size: 13px
    color #8d8d8d
    vam()
  &__dd
    font-size: 13px
    color #000
    vam()
  &__dl-dt
    font-size: 13px
    color #8d8d8d
    vam()
  &__dl-dd
    vam()
    width: 15px
    height: 15px
    border-radius: 50%
    border 1px solid #61d546
    position: relative
    float: right
    margin-top: 6px
    &._true
      &:before
        hvr()
        width: 8px
        bottom: 1px
        height: 4px
        border-left 1px solid #61d546
        border-bottom 1px solid #61d546
        transform rotate(-45deg)
        transform-origin: center
    &._false
      border-color #ff0000
      &:before
        hvr()
        content '+'
        width: 9px;
        height: 12px;
        line-height: 10px
        text-align: center
        transform-origin: center
        transform rotate(45deg)
        color #ff0000
        font-size: 15px