.pr-d-user
  margin-bottom: 31px
  &__table
    margin-bottom: 30px
    dt()
  &__left
    dtct()
    width: 150px
    padding-top: 11px;
  &__right
    dtct()
    text-align: left;
    padding-left: 34px
  &__img
    border-radius: 50%
    width: 100%
    height auto
  &__name
    font-size: 14px
    font-weight: 700
    text-transform: uppercase;
  &__row
    &:first-child+&
      margin-top: 18px
    &+&
      margin-top: 8px
  &__dt
    vam()
    font-size: 13px
    color #8d8d8d
    margin-right: 4px
  &__dd
    vam()
    color #000
    font-size: 13px
  .i-phone
    top: 6px
    float: right
  &__quote
    font-size: 13px
    line-height: 24px
    font-style: italic;
    color #8d8d8d
    padding 15px 20px
    border 1px solid #ececec
    border-radius: 6px
    position: relative
    &:before
      ps()
      left: -13px
      background #fff
      top: 26px
      height: 27px
      width: 24px
      border-top 1px solid #ececec
      border-left 1px solid #ececec
      transform skewX(41deg)
  &__dl-a-row
    padding 10px 0
    border-bottom 1px dotted #8d8d8d
    cf()
    &:first-child
      border-top 1px dotted #8d8d8d
  &__dl-a-dt
    float: left;
    color #8d8d8d
    font-size: 13px
  &__dl-a-dd
    float: right
    color #000
    font-size: 13px