.pr-l-user
  width: 300px
  border-radius: 6px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  &__top
    dt()
    padding 9px 14px 8px
    &-left
      dtct()
      width: 50px
    &-right
      dtct()
      padding-left: 13px
  &__bottom
    border-top 1px solid #e9e9e9
    padding 9px 14px 8px
  img
    width: 100%
    height auto
    border-radius: 50%
  &__name
    font-size: 13px
    color #000
    margin-bottom: 5px
  .b-progress
    vam()
  &__lot-count
    vam()
  &__lot-dt
    color #8d8d8d
    font-size: 13px
  &__lot-dt
    color #000
    margin-left: 4px
    font-size: 13px