.pr-m-user
  width: 390px
  display: table
  table-layout: fixed
  .b-progress
    margin-right: 4px;
    width: 134px;
  &__left
    dtct()
    width: 84px
    position: relative
  &__right
    dtct()
  &__car-img
    position: absolute
    left: 19px;
    top: 24px;
  &__row
    margin-bottom: 2px;
  &__user-img
    position: relative;
    top: -7px;
    left: -2px;
  &__user-img
  &__car-img
    width: 49px
    height: 49px
    border 4px solid #fff
    border-radius: 50%
  &__name
    vam()
    font-size: 13px
    color #000
  &__lot-count
    vam()
  &__lot-dt
    color #8d8d8d
    font-size: 13px
    margin-right: 5px
    vam()
  &__lot-dd
    color #000
    font-size: 13px
    margin-right: 5px
    vam()