.pr-user
  float: right
  width: 380px
  text-align: left;
  padding-top: 9px
  &__table
    dt()
  &__left
    dtcm()
    width: 45px
    img
      border-radius: 6px
      max-width 100%
      height auto
  &__right
    padding-left: 14px
    dtcm()
  &__name
    text-transform: uppercase
    font-weight: 700
    color #fff
    font-size: 14px
    vam()
  &__drop
    margin-bottom: -3px;
  &__dt
    font-size: 13px
    color #fff
    vam()
    &~&
      margin-left: 10px
  &__dd
    vam()
    margin-left: 4px
    font-size: 11px
    font-weight: 700
    color #fff
    padding 0 5px
    border-radius: 4px
    text-align: center
    &._gray
      width: 37px
      background #aaaaaa
    &._blue
      border-radius: 50%
      background bl4
  &__down
    width: 20px
    position: relative
    height: 20px
    vam()
    &:before
      hvr()
      width: 6px
      height: 6px
      border-top 2px solid #000
      border-left 2px solid #000
      transform-origin: center
      transform rotate(-135deg)
    &:after
      ps()
      width: 40px
      height: 20px
      top: 5px
      right: 0
    &:hover
      .pr-user__dropdown
        display: block
  &__dropdown
    display: none
    position: absolute
    z-index: 2
    right: 10px
    top: calc(100% + 5px)
    border 1px solid #fff
    background #09b1ff
    padding: 10px 15px
    border-radius: 6px 0 6px 6px
    &:before
      ps()
      width: 10px
      height: 10px
      border-top 1px solid #fff
      border-right 1px solid #fff
      background #09b1ff
      position absolute
      right: -1px;
      top: -5px;
      transform skewY(-40deg)
  &__link
    color #fff
    trc()
    white-space nowrap
    font-size: 13px
    cursor: pointer
    border-bottom 1px solid transparent
    &:hover
      color #fff
      border-color #fff