.pr-x-user
  dt()
  &__left
    dtct()
    width: 150px
    padding-top: 11px;

  &__right
    dtct()
    text-align: left;
    padding-left: 34px
  &__img
    border-radius: 50%
    width: 100%
    height auto
  &__nick
    font-size: 38px
    font-weight: 700
    text-transform: uppercase;
  &__row
    &:first-child+&
      margin-top: 18px
    &+&
      margin-top: 8px
  &__dt
    vam()
    font-size: 13px
    color #8d8d8d
    margin-right: 4px
  &__dd
    vam()
    color #000
    font-size: 13px
  .i-phone
    top: 6px
  .i-phone
  .i-link-a
    float: right
  &__name
    vam()
    font-size: 14px
    font-weight: 700
    text-transform: uppercase;
    color #000
  &__auto
    width: 40px
    height: 40px
    vam()
    margin-right: 10px
    border-radius: 50%