.pr-xs-user
  vam()
  width: 350px
  &__table
    dt()
  &__left
    dtcm()
    width: 41px
  &__right
    padding-left: 12px
    dtcm()
  &__img
    border-radius: 50%
  &__name
    font-size: 13px
    color #000
  &__lot-count
    vam()
  &__lot-dt
    vam()
    font-size: 13px
    color #8d8d8d
    margin-right: 3px
  &__lot-dd
    vam()
    font-size: 13px
    color #000
    .i-link-a
      vertical-align: middle