.s-cabinet-a
  padding 19px 0 40px
  .i-back
    margin-bottom: 30px
  &__table
    dt()
  &__left
    dtct()
  &__right
    dtct()
    padding-top: 14px;
    padding-left: 50px
    width: 370px
  h1
    font-size: 30px
    font-weight: 700
    margin-bottom: 30px
    text-transform: uppercase
    ._light
      margin-left: 6px
      color lightgrey