.s-footer
  background gr5
  padding 20px 0 0
  .container
    cf()
  &__left
    float: left;
    max-width 425px
  &__right
    float: right
    width: 640px
  &__text
    font-size: 13px
    color gr8
    line-height: 24px
    margin-bottom: 20px
    .phone
      font-weight: 700
      font-size: 14px
      color #fff
      margin-left: 5px
      display: inline-block
      vertical-align: baseline
  &__menus
    dt()
  &__td
    dtct()
    padding-right: 35px
  &__menus-title
    font-size: 13px
    font-weight: 300
    color gr8
    margin-bottom: 25px
  &__menu
    li
      margin-bottom: 10px
    a
      font-size: 13px
      line-height: 16px
      color #fff
      border-bottom 1px solid grC
      trb()
      &:hover
        border-color transparent