.s-index-h
  padding 30px 0
  background url(../img/pattern-blue.png) 0 0 repeat
  h2
    text-transform: uppercase
    text-align: center
    color #000
    font-weight: 700
    font-size: 30px
    margin-bottom: 30px
  &__col-wrap
    font-size: 0
    margin 0 -11px
  &__col
    vat()
    width: 33.33%
    padding 0 11px