.s-index-a
  background url(../img/map.png) center no-repeat
  background-size cover
  border-top 1px solid #089be0
  padding 30px 0 120px
  text-align: center
  margin-bottom: 29px
  position: relative
  &:before
    ps()
    top: 100%
    left: 0
    width: 100%
    height: 29px
    background #fff
  h1
    text-transform: uppercase;
    font-size: 38px
    font-weight: 700
    color #fff
    margin-bottom: 25px
  &__text
    font-size: 24px
    font-weight: 300
    color #fff
    margin-bottom: 35px
    span
      font-weight: 700
      margin 0 5px
  .i-more
    position: absolute
    bottom: 0
    left: 0
    right: 0
    margin 0 auto
  .i-help
    position: absolute
    right: 0
    top: 50px