.s-index-c
  padding 35px 0 0
  background url(../img/pattern-circle.png) 0 0 repeat
  h2
    text-transform: uppercase
    font-size: 38px
    font-weight: 700
    color #fff
    margin-bottom: 10px
    text-align: center
  .l-type-route
    box-shadow none
    background transparent
    border-radius: 0
    padding: 26px 0;
    margin-bottom: 0;
  .b-type-route
    background #fff
    border-radius: 4px
    padding: 2px 20px 2px 60px;
  .l-type-route__col
    margin-bottom: 20px;