.s-index-d
  padding 40px 0 45px
  text-align: center
  background url(../img/pattern-blue.png) 0 0 repeat
  position: relative
  &:before
    vr()
    width: 100%
    height: 200px
    left: 0
    top: 70px
    background url(../img/wave.png) 0 0 repeat-x
    background-size: 100% auto;
    transform scaleY(0.8)
  .container
    position: relative
  h2
    text-transform: uppercase
    font-size: 38px
    font-weight: 700
    color #000
    margin-bottom: 55px