.s-index-f
  padding 42px 0 32px
  background #f2f2f2
  h2
    text-transform: uppercase
    text-align: center
    color #000
    font-weight: 700
    margin-bottom: 42px
    font-size: 34px