.s-index-g
  padding 40px 0
  text-align: center
  background url(../img/pattern-circle.png) 0 0 repeat
  h2
    text-transform: uppercase
    text-align: center
    color #fff
    font-weight: 700
    font-size: 30px
    margin-bottom: 30px
  img
    margin-bottom: 30px
    vam()
  &__text
    font-size: 13px
    line-height: 24px
    color #fff
    max-width 570px
    margin 0 auto
    margin-bottom: 30px
  .btn-a
    padding 0 22px