.s-offer-a
  padding 17px 0 73px
  .container
    position: relative
  .i-back
    margin-bottom: 19px
  h1
    font-size: 30px
    font-weight: 700
    color #000
    text-transform: uppercase;
    margin-bottom: 60px