.s-order-a
  padding 17px 0 60px
  .i-back
    margin-bottom: 25px
  .container
    position: relative
  h1
    font-weight: 700
    font-size: 30px
    color #000
    margin-bottom: 25px
    text-transform: uppercase;
  h2
    font-weight: 700
    font-size: 35px
    color #000
    text-align: center
    margin-bottom: 25px
    text-transform: uppercase;
  .msg-box
    position: absolute
    right: 15px
    top: 0
    padding 14px 19px 14px