.s-order-b
  counter-reset question
  padding 40px 0 15px
  background url(../img/pattern-blue.png) 0 0 repeat
  &__col-wrap
    font-size: 0
  &__col
    vat()
    width: 50%
    margin-bottom: 20px