.s-popup
  position: fixed
  top: 90px
  left: 0
  text-align: center
  width: 100%
  background rgba(#000,0.85)
  bottom: 0
  z-index: 2
  overflow-y auto
  min-width: 1200px;
  padding: 76px;
  vam_out()

.s-popup-full
  position: fixed
  top: 0
  height: 100%
  left: 0
  text-align: center
  width: 100%
  background rgba(#000,0.85)
  bottom: 0
  z-index: 2
  min-width: 1200px;
  padding: 76px;
  vam_out()