.s-profile-a
  padding 19px 0 40px
  .i-refuse
    float: right
    margin-left: 15px
    margin-top: 5px
  .i-back
    margin-bottom: 30px
  &__top
    cf()
  &__table
    dt()
  &__left
    dtct()
  &__right
    dtct()
    padding-top: 14px;
    padding-left: 50px
    width: 370px
  &__title
    font-size: 18px
    color #000
    font-weight: 700
    margin-bottom: 20px
  .l-type-route
    box-shadow none
    padding: 0
    border-radius: 0
  .l-type-route__col-wrap
    margin: 0 -5px;
  .l-type-route__col
    padding: 0 5px;
    margin-bottom: 10px
  .b-type-route
    height: 50px;
    padding: 5px 5px 5px 60px;
    span
      font-size: 12px
  .b-type-route img
    left: 15px;
  h1
    vam()
    font-size: 30px
    font-weight: 700
    margin-bottom: 30px
    text-transform: uppercase
    ._light
      margin-left: 6px
      color lightgrey
  ._plus
    float: right