.s-registration-a
  &__top
    padding 6px 0 150px
    background url(../img/pattern.png) left top repeat
  &__bottom
    padding 20px 0
    background url(../img/pattern-blue.png) left top repeat
  h1
    text-align: center
    font-size: 38px
    font-weight: 700
    text-transform: uppercase;
    margin 33px 0 40px
  .container
    position: relative
  .i-close-link
    position: absolute
    top: 20px
    right: 30px
  &__text
    font-size: 13px
    line-height: 18px
    color #8a8a8b
    text-align: center
    a
      margin 0 5px
      color #0988ff
      border-bottom 1px solid #65b4ff
      trb()
      &:hover
        border-color transparent