<div class="containerRound col-lg-12 col-md-12 col-sm-12">
    <div class="end-of-month">
        <div class="wrapper-round">
            <div class="inner-round">
                <span>до окончания месяца</span>
                <span><span class="day-remaining" ng-bind="round.dayRemaining"></span> дня</span>
            </div>
        </div>
        <div class="all">
            <div class="all-top"><span>Вы заработали</span></div>
            <div class="all-bottom"><span><span class="all-money" ng-bind="strFilter(round.allMoney)"></span> руб.</span></div>
        </div>
        <div class="comm">
            <div class="comm-top"><span>Комиссия</span></div>
            <div class="comm-bottom"><span><span class="comm-percent" ng-bind="strFilter(round.percent)"></span> руб.</span></div>
        </div>
        <div class="paying"><a href="">Счет-фактура на оплату коммисии</a></div>
    </div>
</div>
