.b-answer
  dt()
  &__left
    dtct()
    width: 41px
    padding-top: 7px;
    img
      width: 100%
      height auto
      border-radius: 50%
  &__right
    padding-left: 11px
    dtct()
  &__content
    max-width: 925px
    border-bottom 1px solid #c1ebff
    padding-bottom: 17px;
    margin-bottom: 15px;
  &__name
    font-size: 13px
    color #000
    font-weight: 700
    vam()
  &__time
    vam()
    margin-left: 17px
    color rgba(#000,0.6)
    font-size: 13px
  &__text
    font-size: 13px
    line-height: 18px
    color #000
    margin: 4px 0 3px;