.b-auto
  margin-bottom: 25px
  &__table
    dt()
  &__left
    width: 235px
    dtct()
  &__right
    padding-left: 29px
    dtct()
  &__title
    vam()
    font-size: 14px
    color #000
    font-weight: 700
    text-transform: uppercase;
  .i-link
    float: right
    margin-right: 10px
  &__dl-row
    padding 7px 0
    dt()
    border-top 1px dotted #8d8d8d
  &__dl
    margin-top: 10px
  &__dt
    dtcm()
    color #8d8d8d
    font-size: 13px
    font-weight: 400
  &__dd
    dtcm()
    width: 105px
    font-weight: 400
    color #000
    font-size: 13px
  &__bottom-top
    margin 0 -10px 20px
    border-top 1px dotted #b8b8b8
    border-bottom 1px dotted #b8b8b8
    padding 10px 10px
  &__spec
    width: 225px
    vam()
    padding-left: 26px
    position: relative
    font-size: 13px
    color #000
    &:before
      vr()
      left: 0
      width: 15px
      height: 15px
      border 1px solid #61d546
      border-radius: 50%
    &:after
      vr()
      bottom: 1px;
      width: 7px;
      height: 4px;
      border-left 1px solid #61d546
      border-bottom 1px solid #61d546
      transform-origin: center
      transform rotate(-45deg)
      left: 4px
  &__auto-about
    border 1px solid #ececec
    padding 10px 20px
    border-radius: 6px
    font-size: 13px
    line-height: 24px
    font-style: italic;
    color #8d8d8d