.b-bets
  margin-top: 34px;
  background #fff
  border-radius: 6px
  padding 16px 17px 16px 30px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  &__wrap
    max-height 850px
  &__top
    border-bottom 1px dotted #8d8d8d
    padding-bottom: 13px;
    cf()
    &-right
      float: right
  &__middle
    padding 15px 0
  &__bottom
    padding 10px 0
    border-top 1px dotted #8d8d8d
  &__title
    vam()
    font-size: 30px
    line-height: 32px
    color #000
    text-transform: uppercase;
    font-weight: 700
  .btn-h
    min-width 116px
    text-align: center

.b-bet
  margin-bottom: 10px
  padding 15px 35px 15px 0
  &__row
    cf()
    &+&
      margin-top: 14px
  &__row-left
    float: left;
  &__row-right
    float: right;
  &__dl
    vam()
    width: 255px
    padding: 9px 5px;
    border-bottom 1px dotted #8d8d8d
    border-top 1px dotted #8d8d8d
    cf()
    &+&
      margin-left: 18px
  &__dt
    float: left;
    font-size: 13px
    color #8d8d8d
  &__dd
    float: right
    font-size: 13px
    color #000
  .l-order__route
    width: 417px
  .l-order__range
  .l-order__arrow
    position: relative
    top: -4px
  .btn-d
    float: right
    top: 2px;
    right: -5px;
  .i-status
    float: left;
    margin-bottom: 7px