.b-card-map
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  border-radius: 6px
  position: relative
  margin-bottom: 32px
  &._close
    margin-bottom: 50px
    .b-card-map__info-wrap
      border-radius: 6px
    .b-card-map__map
      display: none
    .btn-e
      border-radius 0 0 6px 6px
      bottom: -29px
  &__map
    height: 414px
    border-radius: 0 0 6px 6px
    background lightgrey
    position: relative
  &__info-wrap
    background #fff
    border-radius: 6px 6px 0 0
    text-align: center
    position: relative
    z-index: 1
    box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  &__col-wrap
    font-size: 0
    padding: 8px 0
    margin: 0 -15px;
  &__col
    padding 18px 20px 20px
    width: 33.33%
    vat()
    &+&
      border-left 1px dotted #bdbdbd
  &__info
    text-align: left;
    margin-left: 14px
    vam()
    &+&
      margin-left: 32px
      position: relative
      &:before
        vr()
        background #000
        top 15px
        left: -22px
        width: 13px
        height: 1px
  &__info-dt
    font-size: 13px
    color #8d8d8d
  &__info-dd
    font-weight: 700
    color #000
    line-height: 16px;
    font-size: 14px
    &-time
      color rd3
  .btn-e
    position: absolute
    left 50%
    transform translateX(-50%)
    bottom: 0
