.b-card-controls
  width: 300px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  background #fff
  border-radius: 6px
  position: absolute
  right: 0
  top: 0
  &__top
    border-bottom 1px solid #e9e9e9
    padding 10px 14px
    cf()
  &__bottom
    padding 10px 14px
    text-align: center
  .i-add-delivery
    margin-right: 16px
  .i-link
    vertical-align: top
  ._red
    float: right
    color #ff3b00
    border-color #ff3b00
    margin-right: 15px
    position: relative
    &:hover
      border-bottom-color transparent
    &:before
      vr()
      height: 10px
      right: -12px
      width: 1px
      background #ff3b00
      transform rotate(45deg)
      transform-origin: center
    &:after
      vr()
      height: 10px
      right: -12px
      width: 1px
      background #ff3b00
      transform rotate(-45deg)
      transform-origin: center