.b-card
  position: relative
  &._preview
    h1
      width 680px
      overflow: hidden
      text-overflow ellipsis
      white-space nowrap
  .pr-l-user
    position: absolute
    top: 0
    right: 0
  .b-pagination
    max-width 75%
    padding-left: 5px;
    vam()
  .btn-g
    float: right
    margin-top: 3px;
  &__row
    &._mb-10
      margin-bottom: 10px
    &._mb-24
      margin-bottom: 24px
  h1
    font-size: 30px
    text-transform: uppercase;
    font-weight: 700
    color #000
    margin-bottom: 16px
    margin-right: 340px
  &__bottom
    border-top 1px dotted #c5c5c5
    margin-top: 36px;
    padding: 23px 26px 23px 4px;
    .btn-d
      float: right
    .i-back
      margin-top: 8px;
  &__dates
    position: absolute
    right: 0
    top: -2px
    padding-left: 41px
    &:before
      vr()
      width: 28px
      height: 28px
      background us() -100px -100px
      left: 0
    &-block
      vam()
      &+&
        margin-left: 32px
        position: relative
        padding-right: 26px;
        &:before
          width: 13px
          height: 1px
          ps()
          bottom: 6px
          background #000
          left: -24px
    .b-card__dd
      width: 100%
      line-height: 16px
      display: block
      font-size: 14px
    .b-card__dt
      line-height: 17px
      display: block
      width: 100%
      padding: 0
      margin: 0
  &__stat
    margin-right: 21px
    vam()
    &-dt
      vam()
      font-size: 14px
      color #797979
      font-weight: 700
    &-dd
      vam()
      margin-left: 4px
      font-size: 14px
      color #000000
      font-weight: 700
  &__table
    dt()
    margin-bottom: 19px;
  &__left
    dtct()
    padding-left: 5px
    width: 300px
  &__right
    dtct()
    padding-left: 39px
    padding-right: 30px;
  &__img
    border-radius: 7px
  &__group-title
    font-size: 14px
    font-weight: 700
    color #000
    margin-bottom: 10px
    text-transform: uppercase;
  &__col-wrap
    font-size: 0
    margin 0 -15px 18px
  &__col
    vat()
    width: 33.33%
    padding 0 15px
  &__dl-row
    border-bottom 1px dotted #b8b8b8
    font-size: 0
    padding 9px 0
    margin-bottom: 2px;
    &:first-child
      border-top 1px dotted #b8b8b8
  &__dt
    font-size: 13px
    padding-left: 5px;
    width: 41%
    vam()
    color #8d8d8d
    font-weight: 400
  &__dd
    vam()
    width 59%
    font-size: 13px
    color #000
  &__dl._70-30
    .b-card__dt
      width: 70%
    .b-card__dd
      width: 30%
  &__direction
    &+&
      margin-top: 10px
    cf()
  &__direction-address
    font-size: 13px
    color #000
    padding-left: 25px
    position: relative
    &:before
      vr()
      width: 13px
      height: 18px
      left: 0
      background us() left -125px no-repeat
    span
      margin 0 4px
      color #797979
    &._green
      &:before
        background-position 0 -200px
    &._red
      &:before
        background-position -25px -200px
  &__direction-route
    font-size: 13px
    font-weight: 600
    margin-bottom: 3px
    color #000
  &__direction-right
    float: right
  &__direction-left
    float: left
  &__direction-wrap
    background #f7f7f7
    padding 10px 14px
    margin-bottom: 20px
    .b-card__text
      vat()
  &__text
    font-size: 13px
    line-height: 18px
    color #8d8d8d
    margin-bottom: 19px
    time
      color #000
      margin 0 4px
    b
      font-weight: 700
      cfolor #000
      margin 0 4px
    &._tar
      text-align: right
    &._tal
      text-align: left
  &__text-a
    font-size: 13px
    line-height: 24px
    color #8d8d8d
    font-style: italic;
    margin-bottom: 20px
  &__arrow
    width: 84px
    vam()
    height: 2px
    background #7ed5fc
    margin 0 10px
    position: relative
    &:before
      hr()
      margin-top: -4px
      width: 8px
      height: 10px
      border-left 10px solid #7ed5fc
      border-top 5px solid transparent
      border-bottom 5px solid transparent
  &__dop-info
    vam()
    font-size: 13px
    padding-left: 41px
    color #000
    position: relative
    &:before
      vr()
      left: 11px
      background us()
    &._pogr:before
      background-position: -25px -125px
      width: 21px
      height: 18px
    &._pak:before
      background-position: -25px -150px
      width: 15px
      left: 21px
      height: 17px
    &._child:before
      background-position: -25px -100px
      width: 17px
      left: 18px
      height: 17px
    &._elevator:before
      background-position: -25px -175px
      width: 9px
      left: 18px
      height: 16px