.b-card-info
  text-align: left;
  &__block
    padding 10px 0
  &__type-img
    vam()
    margin-right: 15px
  &__name
    font-size: 13px
    font-weight: 600
    color #000
    vam()
  &__route
    margin 0 -32px
    padding 5px 18px
    background #f7f7f7
    &-row
      &+&
        margin-top: 10px
  &__direction
    margin-right: 13px
    font-size: 13px
    font-weight: 600
    padding-left: 23px
    position: relative
    vam()
    color #000
    &:before
      vr()
      width: 13px
      height: 18px
      left: 0
      background us()
    &._green:before
      background-position  0 -200px
    &._red:before
      background-position: -25px -200px
  &__date
    font-size: 13px
    color #797979
    vam()
  &__time
    font-size: 13px
    color #000
    font-weight: 600
    vam()
  &__range
    font-size: 13px
    color #797979
    vam()
  &__arrow
    width: 75px
    height: 2px
    margin 0 10px
    vam()
    position: relative
    background #7ed5fc
    &:before
      hr()
      top: -4px
      width: 8px
      height: 10px
      left: 4px
      border-left 8px solid #7ed5fc
      border-top 5px solid transparent
      border-bottom 5px solid transparent
