.b-chat
  position: relative
  margin-bottom: -12px;
  &__top
    dt()
    margin-bottom: 27px
  &__top-right
    dtct()
    padding-left: 14px
  &__top-left
    dtct()
    width: 200px
  &__toggle
    display: block
    position: relative
    line-height: 32px
    text-transform: uppercase;
    font-weight: 700
    font-size: 14px
    color #000
    border-bottom 5px solid #09b1ff
    span
      margin-left: 5px
      color #797979
    &:before
      vr()
      top: 3px;
      width: 8px
      height: 8px
      border-top 2px solid #09b1ff
      border-left 2px solid #09b1ff
      transform rotate(-135deg)
      right: 2px
    &._open
      &:before
        transform rotate(45deg)
