.b-docs
  &__top
    background #d0ebf7
    border-radius: 4px 4px 0 0
    position: relative
  .i-question
    margin-left: 21px
  &__tab
    vam()
    text-align: center
    width: 38%
    text-transform: uppercase;
    color #28657f
    font-size: 14px
    line-height: 62px
    font-weight: 700
    &:before
      ps()
      top: 100%
      height: 10px
      width: 20px
      background #d0ebf7
    &:first-child
      &:before
        left: 0
    &:last-child
      &:before
        right: 0
    &._active
      color #000
      font-size: 30px
      font-weight: 700
      width: 62%
      background #fff
      border-radius: 4px 4px 0 0
      box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
      &:before
        ps()
        width: 100%
        height: 15px
        z-index: 1
        top: 100%
        background #fff
      &:after
        ps()
        width: 56%
        height: 1px
        bottom: 0
        border-top 1px dotted #b8b8b8
      &:first-child
        &:after
          left: 3%
        &:before
          right 0
          border-radius: 0 4px 0 0
      &:last-child
        &:after
          right: 3%
        &:before
          left: 0
          border-radius: 4px 0 0 0