.b-dropzone
  &__block
    vam()
    width: 62px
    height: 62px
    border-radius: 4px
    border 1px solid #c9c9c9
    position: relative
    top: -2px
    margin-right: 7px
    img
      width: 100%
      height auto
      border-radius: 4px
    &._plus
      cursor: pointer
      &:before
        hvr()
        background us() -150px -75px
        width: 32px
        height: 32px
  &._photo-circle
    border-radius: 50%
    width: 156px
    height: 156px
    border 1px dotted #5f5f5f
    background #f4f6f8
    position: relative
    &:before
      hvr()
      background us() -125px -175px
      width: 68px
      height: 58px
  &._add-car
    border 1px dotted #5f5f5f
    height: 75px
    padding-left: 5px
    line-height: 73px
    border-radius: 5px
    color rgba(#000,0.6)
    font-size: 13px
    position: relative
  &._file
    padding-left: 70px
    &:before
      vr()
      width: 29px
      height: 36px
      left: 21px
      background us() 0 -325px
    &:after
      vr()
      width: 13px
      height: 13px
      right 21px
      background us() -50px -325px