.b-driver
  vam()
  width: 778px
  border-radius: 6px
  background #fff
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  padding 50px 32px
  position: relative
  .i-close
    position: absolute
    top: 20px
    right: 40px
  &__title
    text-transform: uppercase;
    font-size: 38px
    font-weight: 700
  &__block
    &+&
      margin-top: 35px
      border-top 1px dotted #b8b8b8
      padding-top: 20px