.b-help
  position: fixed
  top: 0
  right: 0
  width: 313px
  text-align: left;
  background #fff
  border-radius 0 0 0 6px
  &__close
    display: block
    top: 18px
    position: absolute
    left: -47px
    width: 47px
    height: 45px
    border-radius: 6px 0 0 6px
    background #fff
    &:before
      transform rotate(-45deg)
    &:after
      transform rotate(45deg)
    &:before
    &:after
      hvr()
      left: 2px
      width: 12px
      height: 2px
      background #c9c9c9
      transform-origin: center
      trb()
    &:hover
      &:before
      &:after
        background #000
  &__top
    padding: 30px 30px 15px 23px
    background url(../img/lady.png) 25px bottom no-repeat
  &__title
    font-size: 14px
    font-weight: 700
    text-transform: uppercase;
    color #000
    margin-bottom: 13px
    span
      text-transform: none
      color rgba(#000000,0.6)
      font-weight: 400
      font-size: 13px
  &__phone
    text-align: right
    display: block
    font-size: 14px
    font-weight: 700
    text-transform: uppercase;
    color rgba(#000,0.6)
    &+&
      margin-top: 10px
  &__middle
    padding 9px 0 12px
    background #d0ebf7
  &__question
    font-size: 13px
    line-height: 14px
    color rgba(#000,0.6)
    padding 9px 35px 9px 23px
    position: relative
    &:before
      vr()
      width: 5px
      height: 5px
      border-left 1px solid #333333
      border-top 1px solid #333333
      transform-origin: center
      transform rotate(-135deg)
      right: 28px;
      bottom: 1px;
  &__answer
    font-style: italic;
    font-size: 13px
    color #000
    padding 0 30px
  &__bottom
    padding: 19px 20px
  .btn-n
    width: 243px
    display: table
    margin 0 auto
  .f-default__title
    margin-bottom: 21px;
