.b-identify
  width: 570px
  text-align: center
  &__middle
    padding 33px 35px
  &__top
    background #d0ebf7
    border-radius: 4px 4px 0 0
    position: relative
  &__tab
    vam()
    width: 50%
    padding 15px 0
    text-transform: uppercase;
    color #28657f
    font-size: 14px
    font-weight: 700
    &:before
      ps()
      top: 100%
      height: 10px
      width: 20px
      background #d0ebf7
    &:first-child
      &:before
        left: 0
    &:last-child
      &:before
        right: 0
    &._active
      color #000
      background #fff
      border-radius: 4px 4px 0 0
      box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
      &:before
        ps()
        width: 100%
        height: 15px
        z-index: 1
        top: 100%
        background #fff
      &:after
        ps()
        width: 44%
        height: 1px
        bottom: 0
        border-top 1px dotted #b8b8b8
      &:first-child
        &:after
          left: 3%
        &:before
          right 0
          border-radius: 0 4px 0 0
      &:last-child
        &:after
          right: 3%
        &:before
          left: 0
          border-radius: 4px 0 0 0
  &__bottom
    background #fff
    border-radius 4px
    padding 15px 0
    box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
    &-top
      padding 33px 0
    &-bottom
      padding-top: 15px
      position: relative
      &:before
        ps()
        width: 90%
        height: 1px
        left: 0
        right: 0
        top: 0
        border-top 1px dotted #b8b8b8
        margin 0 auto
  &__cargo
    vam()
    width: 236px
    height: 55px
    line-height: 55px
    border-radius: 6px
    margin-right: 20px
    font-weight: 700
    text-transform: uppercase;
    font-size: 14px
    padding-left: 35px
    color #fff
    background #0988ff
    position: relative
    &:hover
      color #fff
      opacity: .8
    &:before
      vr()
      width: 28px
      height: 28px
      background us() -75px -325px
      left: 21px
  &__people
    vam()
    width: 236px
    height: 55px
    line-height: 55px
    border-radius: 6px
    font-weight: 700
    text-transform: uppercase;
    font-size: 14px
    padding-left: 35px
    color #fff
    background #2e60a3
    position: relative
    &:hover
      color #fff
      opacity: .8
    &:before
      vr()
      width: 30px
      height: 20px
      background us() -125px -325px
      left: 21px
  &__text
    font-size: 12px
    color #8a8a8b
    a
      font-size: 12px
      margin 0 4px