.b-order-success
  max-width 520px
  margin 0 auto
  text-align: center
  border-radius: 6px
  background #fff
  padding 5px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  &__top
    padding 40px 20px
  &__bottom
    padding 20px 0 15px
    border-top 1px dotted lightgrey
  &__title
    text-transform: uppercase;
    font-size: 25px
    color #000
    font-weight: 700
    margin-bottom: 30px
  &__text
    text-transform: uppercase;
    font-size: 14px
    color blue
    font-weight: 700
    padding-left: 60px
    position: relative
    line-height: 22px
    .i-delivery
      position: absolute
      left: 0
      top: -10px