.b-order-place-success
  max-width 630px
  margin 0 auto 30px
  text-align: center
  border-radius: 6px
  background #fff
  padding 5px
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  .i-link+.i-link
    margin 0 23px 0 25px
  &__top
    padding 65px 20px 80px
  &__bottom
    padding 27px 0 28px
    border-top 1px dotted lightgrey
  &__title
    text-transform: uppercase;
    font-size: 30px
    color #000
    font-weight: 700
    margin-bottom: 45px
  &__text
    width: 490px
    margin 0 auto
    padding-left: 80px
    text-transform: uppercase;
    font-size: 16px
    color #28657f
    line-height: 19px
    font-weight: 700
    position: relative
    .i-furniture
      position: absolute
      left: 0
      top: -10px