.b-order-base-map
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  border-radius: 6px
  position: relative
  &__map
    height: 595px
    border-radius:  0 0 6px 6px
    background lightgrey
    position: relative
  .btn-e
    position: absolute
    left 50%
    transform translateX(-50%)
    bottom: 0
  &._close
    margin-bottom: 25px;
    .b-order-base-map__map
      display: none;
    .btn-e
      bottom: -29px
      border-radius 0 0 6px 6px
    .f-base-map
      border-radius: 6px
      &__bottom
        border-radius: 0 0 6px 6px