.b-order-steps
  margin-bottom: 30px
  &._4
    .b-order-steps__col
      width: 25%
      .b-order-steps__step-count
        &:before
          width: 280px
  &__col-wrap
    font-size: 0
    text-align: center
  &__col
    vat()
    width: 20%
    &:last-child
      .b-order-steps__step-count
        &:before
          display: none
    &._active
      .b-order-steps__step-count
        color #000
        border-color #0988ff
      .b-order-steps__text
        color #000
    &._completed
      .b-order-steps__step-count
        font-size: 0
        border-color #51d134
        &:before
          border-top 2px solid black
        &:after
          hvr()
          bottom: 5px
          width: 24px
          height: 14px
          border-left 3px solid #51d134
          border-bottom 3px solid #51d134
          transform rotate(-45deg)
      .b-order-steps__text
        color #000
  &__step-count
    z-index: 1
    background #fff
    width: 60px
    height: 60px
    border-radius: 50%
    line-height: 54px
    border 3px solid #cccccc
    color #cccccc
    font-size: 30px
    font-weight: 700
    box-shadow 0 0 0 9px #fff
    margin-bottom: 20px
    vam()
    position: relative
    &:before
      vr()
      left calc(100% + 9px)
      height: 2px
      border-top 2px dotted #cccccc
      width 220px
  &__text
    font-size: 14px
    text-transform: uppercase;
    font-weight: 700
    color #cccccc

