.b-pagination
  position: relative
  &:after
    ps()
    height: 80%
    right: 0
    top: 0
    width: 70px
    background linear-gradient(to right, rgba(255,255,255,0), #fff)
  &__page
    vam()
    font-size: 12px
    color #a5a5a5
    width: 33px
    text-align: center
    line-height: 36px
    &._active
      font-weight: 700
      font-size: 14px
      color #0988ff
      position: relative
      &:before
        ps()
        width: 39px
        left: -5px
        bottom: -6px
        height: 7px
        border-radius: 3px
        background #0988ff
    &:hover
      color #0988ff
  &__line
    height: 5px
    width: 100%
    border-radius: 2px
    border 1px solid #d4d4d4