.b-profile-delivery
  &__table
    dt()
  &__left
    dtct()
    width: 300px
  &__right
    dtct()
  &__name
    text-transform: uppercase;
    .i-pro
      text-transform: none
      margin-right: 10px