.b-pro
  &__title
    font-weight: 700
    font-size: 14px
    color #000
    text-transform: uppercase;
    span
      color #795800
  &__link
    font-size: 13px
    color #fff
    border-bottom 1px solid #fff
    font-weight: 400
    trb()
    &:hover
      color #fff
      border-color transparent