.b-profile-total
  border 1px solid gn5
  border-radius: 6px
  background gnD
  padding: 8px
  margin-bottom: 34px
  &__title
    vam()
    text-transform: uppercase
    font-size: 14px
    font-weight: 700
  &__top
    padding 3px 0 11px 10px
    cf()
  &__row
    margin-bottom: 8px
    cf()
  &__middle
    border-top 1px dotted grC
    padding 14px 9px 14px 13px
    border-bottom 1px dotted grC
  &__bottom
    padding 20px 0 16px 3px
  &__percent
    float: right
    font-size: 13px
    margin-top: 4px;
  &__text
    font-size: 13px
    line-height: 18px
    color #000
    &._thumb
      padding-left: 40px
      position: relative
    .i-thumb
      position: absolute
      left: 10px;
      top: -1px;
    .i-link-a
      white-space nowrap
  .b-progress
    float: right
    margin-top: 3px