.b-profile-rate
  margin-bottom: 34px
  &__row
    padding 9px 0
    border-bottom 1px dotted #8d8d8d
    cf()
    &:first-child
      border-top 1px dotted #8d8d8d
  &__top
    margin-bottom: 10px
    cf()
  &__middle
    margin-bottom: 8px
  &__title
    text-transform: uppercase
    font-weight: 700
    color #000
    font-size: 14px
    float: left
  &__total
    float: right
    color #51d134
    font-size: 14px
    font-weight: 700
    padding-right: 32px
  &__dt
    vam()
    font-size: 13px
    color #8d8d8d
    &._mustage
      width: 152px
      position: relative
      &:before
        vr()
        right: 0
        background us() -150px -125px
        width: 8px
        height: 21px
      &~.b-progress
        margin-top: 8px
  .b-progress
    float: right
    width: 118px;
    margin-right: 17px;
    margin-top: 4px;
  .b-progress__count
    width: 35%;
  .b-progress__outer
    width: 65%;