.b-progress
  vam()
  width: 165px
  font-size: 0
  &._yellow
    .b-progress__inner
      background #ffc600
    .b-progress__outer
      border-color #ffc600
  &._orange
    .b-progress__inner
      background #ff6600
    .b-progress__outer
      border-color #ff6600
  &._red
    .b-progress__inner
      background #ff0000
    .b-progress__outer
      border-color #ff0000
  &__outer
    vam()
    background #fff
    width: 75%
    border-radius: 5px
    height: 10px
    border 1px solid gn5
  &__inner
    background gn5
    height: 8px
    border-radius: 4px
  &__count
    vam()
    width: 25%
    font-size: 13px
    color #000
    text-align: center