.b-questions
  padding-left: 70px
  position: relative
  padding-right: 30px
  &:before
    ps()
    left: 15px
    top: -5px
    width: 37px
    height: 58px
    background us() left -225px
  &__title
    color #28657f
    text-transform: uppercase;
    font-weight: 700
    margin-bottom: 10px
    height: 40px
    vam_out()
    span
      font-size: 16px
      line-height: 19px
      vam()
  &__text
    font-size: 13px
    line-height: 24px
    color #000000