.b-search
  position: absolute
  width: 1170px
  left: 0
  top: 15px
  &__result
    padding 0 40px 0
    border-radius: 4px
    z-index: 1;
    position: relative;
    background #fff
    box-shadow 0 4px 15px 0 rgba(#00405e,0.24)
  .l-order
    margin: 0
  .l-order__dl
    position: relative
    top: -3px
  .l-order__row div.l-order__td
    vertical-align: top
    padding 20px 0
  .l-order__td
    text-align: left;
    &:last-child
      text-align: left;
      width: 160px
  .l-order__td:first-child
    &:before
      width: 1156px;
      left: -34px;
  .l-order__row:last-child
    .l-order__td:first-child:before
      display: none