.b-sign
  float: right
  font-size: 0
  padding-top: 14px;
  &__up
    margin-left: 10px
    position: relative
    &:before
      vr()
      width: 15px
      height: 16px
      left: 18px
      background us() -25px -25px no-repeat
  &__in
    position: relative
    &:before
      vr()
      width: 19px
      height: 17px
      left: 18px
      background us() -25px top no-repeat