.b-slider
  &__img
    width: 100%
    height auto
    border-radius: 8px
    display: none
    &._active
      display: block
      margin-bottom: 10px
  &__controls
    font-size: 12px
    color #a5a5a5
    width: 28px
    padding-left: 7px
    vam()
    &._active
      font-weight: 700
      color #0988ff
      font-size: 14px
      line-height: 20px
    &._prev
      width: 28px
      height: 20px
      position: relative
      &:before
        vr()
        width: 6px
        line-height: 20px
        height: 6px
        border-top 2px solid #0988ff
        border-left 2px solid #0988ff
        transform-origin: center
        transform rotate(-45deg)
    &._next
      width: 28px
      height: 20px
      position: relative
      &:before
        vr()
        width: 6px
        line-height: 20px
        height: 6px
        border-top 2px solid #0988ff
        border-left 2px solid #0988ff
        transform-origin: center
        transform rotate(135deg)