.b-stars
  vam()
  font-size: 0
  &__star
    vam()
    width: 22px
    height: 26px
    background us() -75px -175px
    trt()
    &+&
      margin-left: 4px
    &._active
      background-position -75px -200px
      -webkit-filter: drop-shadow(0 4px 15px rgba(#00405e,0.25));
      filter: url(#drop-shadow);
      -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#00405e')";
      filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#00405e')";
