.b-type-route
  height: 60px
  padding: 5px 20px 5px 60px;
  display: block
  position: relative
  border 1px solid #cccccc
  border-radius: 4px
  vam_out()
  img
    position: absolute
    left: 20px
    top: 0
    bottom: 0
    margin auto 0
  span
    font-size: 14px
    font-weight: 700
    text-transform: uppercase;
    text-align: center
    width: 100%
    vam()
    line-height: 17px
    color black