.b-vantage
  &__col-wrap
    width: 1056px
    font-size: 0
    margin 0 auto
    text-align: center
  &__col
    width: 33.33%
    padding 0 35px
    vat()
  &__title
    font-size: 16px
    font-weight: 700
    color bl1
    text-transform: uppercase;
    margin-bottom: 15px
  &__img-wrap
    vam_out()
    height: 120px
    margin-bottom: 7px
  &__img
    vam()
  &__text
    font-size: 13px
    line-height: 24px
    color rgba(#000,0.75)