.b-winner
  vam()
  width: 780px
  border-radius: 6px
  background #fff
  box-shadow 0 4px 15px 0 rgba(#00405e,0.25)
  padding 50px 32px
  position: relative
  &__block
    padding-bottom: 15px
    &+&
      padding-top: 15px
      border-top 1px dotted #b8b8b8
  &__title
    vam()
    font-size: 38px
    text-transform: uppercase;
    color #000
    position: relative
    font-weight: 700
    &:before
    &:after
      ps()
      top: 0
      left: -70px
      width: 54px
      height: 36px
      background us() -100px -275px
    &:after
      right: -70px
      left auto
      transform rotateY(180deg)
  .msg-box
    margin 0 auto
    width: 454px
    text-align: left;
  .i-close
    position: absolute
    top: 20px
    right: 40px