<div class="container">
    <div class="s-footer__left">
        <a class="i-footer-logo">
            <img src="img/logo-footer.png">
        </a>
        <p class="s-footer__text">Go Fast - удобный поиск перевозчиков для любых перевозок по Беларуси и странам СНГ. Наша огромная база перевозчиков поможет вам сэкономить и выбрать наилучшего перевозчика без особых усилий.</p>
        <p class="s-footer__text">Горячая линия<a href="tel:+88005959222" class="phone">+8 800 595 92 22</a>
        </p>
        <div class="l-social">
            <a href="#" class="l-social__social _fb"></a>
            <a href="#" class="l-social__social _tw"></a>
            <a href="#" class="l-social__social _vk"></a>
            <a href="#" class="l-social__social _in"></a>
        </div>
    </div>
    <div class="s-footer__right">
        <div class="s-footer__menus">
            <div class="s-footer__td">
                <div class="s-footer__menus-title">Работа с сервисом</div>
                <ul class="s-footer__menu">
                    <li><a href="#">Заказ на перевозку груза</a>
                    </li>
                    <li><a href="#">Аля Скайсканер</a>
                    </li>
                    <li><a href="#">Заказ на пассажирскую перевозку</a>
                    </li>
                </ul>
            </div>
            <div class="s-footer__td">
                <div class="s-footer__menus-title">Перевозчикам</div>
                <ul class="s-footer__menu">
                    <li><a href="#">Перевозчикам</a>
                    </li>
                    <li><a href="#">Преимущества сервиса</a>
                    </li>
                    <li><a href="#">Про аккаунт</a>
                    </li>
                </ul>
            </div>
            <div class="s-footer__td">
                <div class="s-footer__menus-title">О сервисе</div>
                <ul class="s-footer__menu">
                    <li><a href="#">О компании</a>
                    </li>
                    <li><a href="#">Контакты</a>
                    </li>
                    <li><a href="#">Новости сервиса</a>
                    </li>
                    <li><a href="#">Рейтинг</a>
                    </li>
                    <li><a href="#">Отзывы</a>
                    </li>
                    <li><a href="#">Страховка</a>
                    </li>
                    <li><a href="#">Упаковка</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
   