<div class="container">
	<a href="" ui-sref="app.home" class="i-logo">
		<img src="/img/logo.png" />
	</a>
	<div class="b-sign" ng-if="!currentUser.authData">
		<a href="#" ui-sref="app.login({afterSignInState: $state.current.name, afterSignInParams: $state.params, wasRedirected: true})" class="b-sign__in btn-b">Войти</a>
		<a href="#" ui-sref="app.registration.new" class="b-sign__up btn-a">Бесплатная регистрация</a>
	</div>
	<div class="pr-user" ng-if="isAuthenticated()">
		<div class="pr-user__table">
			<div class="pr-user__left">
				<img src="/img/user.png" />
			</div>
			<div class="pr-user__right">
				<div class="pr-user__drop">
					<div class="pr-user__name">{{currentUser.profileData.firstName}} {{currentUser.profileData.lastName}}</div>
					<div class="pr-user__down">
						<div class="pr-user__dropdown">
							<a href="" ng-if="isAuthorized(USER_ROLES.CARRIER)" ui-sref="app.profile.bids" class="pr-user__link">Личный кабинет</a>
							<a href="" ng-if="isAuthorized(USER_ROLES.CUSTOMER)" ui-sref="app.profile.orders" class="pr-user__link">Личный кабинет</a>
							<a href="" class="pr-user__link">Смена пароля</a>
							<a href="" ng-click="logOut()" class="pr-user__link">Выйти</a>
						</div>
					</div>
				</div>
				<div class="pr-user__dt">Мой рейтинг:</div>
				<div class="pr-user__dd _gray">{{currentUser.profileData.rating}}%</div>
				<!-- <div class="pr-user__dt">Мои сообщения:</div> -->
				<!-- <div class="pr-user__dd _blue">{{currentUser.profileData.unreadMessages}}</div> -->
			</div>
		</div>
	</div>
	<nav class="m-main">
		<a ui-sref="app.orders.list" class="m-main__link _order-list">Список заказов</a>
	</nav>
</div>
