<div class="p-index">
    <section class="s-index-a">
        <div class="container">
             <div ng-if="driverView">
                 <h1>Удобный и быстрый поиск заказов по перевозке пассажиров и грузов в беларуси и снг</h1>
                 <div class="s-index-a__text">Ищите клиентов, <span>давайте свои цены</span> и <span>получайте заказы</span></div>
            </div>
            <div ng-if="!driverView">
                 <h1>Удобный и быстрый поиск перевозчиков в беларуси и снг</h1>
                 <div class="s-index-a__text">Разместите заказ и получайте разные предложения от<span>234 000</span>проверенных грузоперевозчиков</div>
            </div>
            
            <div class="b-identify">
                <div class="b-identify__top">
                    <a href="#" ng-click="driverView = false" class="b-identify__tab" ng-class="{_active: !driverView}">Я хочу:</a><a href="#" ng-click="driverView = true" class="b-identify__tab" ng-class="{_active: driverView}">Я сам являюсь перевозчиком</a>
                </div>
                <div class="b-identify__bottom">
                    <div class="b-identify__bottom-top" ng-if="driverView">
                        <a href="" ng-click="goToCargoOrdersList()" class="b-identify__cargo">перевезти груз</a>
                        <a href="" ng-click="goToPassengerOrdersList()" class="b-identify__people">перевезти людей</a>
                    </div>
                     <div class="b-identify__bottom-top" ng-if="!driverView"><a ui-sref="app.orders.create.ship" class="b-identify__cargo">перевезти груз</a><a ui-sref="app.orders.create.people" class="b-identify__people">доехать</a>
                    </div>
                    <div class="b-identify__bottom-bottom" ng-show="!isAuthenticated()">
                        <div class="b-identify__text">До конца не уверены?<a ui-sref="app.registration.new" class="i-link-a">Зарегистрируйтесь</a>и
                            вы увидите насколько это просто!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="i-more"><span>Узнать больше</span></a>
    </section>
    <section class="s-index-b">
        <div class="container">
            <div class="b-vantage" ng-if="driverView == false">
                <div class="b-vantage__col-wrap">
                    <div class="b-vantage__col">
                        <div class="b-vantage__img-wrap">
                            <img src="/img/shield.png" class="b-vantage__img">
                        </div>
                        <h3 class="b-vantage__title">Надежность</h3>
                        <p class="b-vantage__text">Выбрать ответственного перевозчика поможет его реальный рейтинг и отзывы.</p>
                    </div>
                    <div class="b-vantage__col">
                        <div class="b-vantage__img-wrap">
                            <img src="/img/time.png" class="b-vantage__img">
                        </div>
                        <h3 class="b-vantage__title">Быстро и удобно</h3>
                        <p class="b-vantage__text">Теперь не нужно перебирать огромное количество объявлений. Разместите свою заявку у нас и дождитесь лучшего предложения, первые начнут поступать уже через 10 минут.</p>
                    </div>
                    <div class="b-vantage__col">
                        <div class="b-vantage__img-wrap">
                            <img src="/img/money.png" class="b-vantage__img">
                        </div>
                        <h3 class="b-vantage__title">Экономия денег</h3>
                        <p class="b-vantage__text">С помощью нашего сервиса вы сэкономите не только нервы, но и деньги. Только здесь перевозчики, торгуясь между собой, предложат минимальную цену за ваш заказ.</p>
                    </div>
                </div>
            </div>
            <div class="b-vantage" ng-if="driverView == true">
                <div class="b-vantage__col-wrap">
                    <div class="b-vantage__col">
                        <div class="b-vantage__img-wrap">
                            <img src="/img/wallet-2.png" class="b-vantage__img">
                        </div>
                        <h3 class="b-vantage__title">Прямые заказы</h3>
                        <p class="b-vantage__text">Здесь вы найдете большое количество прямых заказов.</p>
                    </div>
                    <div class="b-vantage__col">
                        <div class="b-vantage__img-wrap">
                            <img src="/img/rsz_hands.png" class="b-vantage__img">
                        </div>
                        <h3 class="b-vantage__title">Честные условия</h3>
                        <p class="b-vantage__text">Комиссия сервиса GoFast - не более 5% и только от выполненных заказов.</p>
                    </div>
                    <div class="b-vantage__col">
                        <div class="b-vantage__img-wrap">
                            <img src="/img/time.png" class="b-vantage__img">
                        </div>
                        <h3 class="b-vantage__title">Быстро и удобно</h3>
                        <p class="b-vantage__text">Зарегистрируйтесь бесплатно и вы будете получать уведомления о новых заказах в SMS и на e-mail.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="s-index-c">
        <div class="container">
            <h2>Какие заказы можно найти у нас</h2>
            <div class="l-type-route">
            <!-- TODO: refactor to ng-repeat -->
                <div class="l-type-route__col-wrap">
                    <div class="l-type-route__col">
                        <a href="" ng-if="!driverView" ui-sref="app.orders.create.people" class="b-type-route">
                            <img src="/img/typ1.png"><span>Пассажирские перевозки</span>
                        </a>
                        <a href="" ng-if="driverView" ui-sref="app.orders.list" class="b-type-route">
                            <img src="/img/typ1.png"><span>Пассажирские перевозки</span>
                        </a>
                    </div>
                    <div class="l-type-route__col">
                        <a href="" ng-if="!driverView" ui-sref="app.orders.create.ship({categoryId: 1})" class="b-type-route">
                            <img src="/img/typ2.png"><span>Мебель и быт. техника</span>
                        </a>
                        <a href="" ng-if="driverView" ui-sref="app.orders.list" class="b-type-route">
                            <img src="/img/typ2.png"><span>Мебель и быт. техника</span>
                        </a>
                    </div>
                    <div class="l-type-route__col">
                        <a href="" ng-if="!driverView" ui-sref="app.orders.create.ship({categoryId: 2})" class="b-type-route">
                            <img src="/img/typ3.png"><span>Переезд</span>
                        </a>
                        <a href="" ng-if="driverView" ui-sref="app.orders.list" class="b-type-route">
                            <img src="/img/typ3.png"><span>Переезд</span>
                        </a>
                    </div>
                    <div class="l-type-route__col">
                        <a href="" ng-if="!driverView" ui-sref="app.orders.create.ship({categoryId: 3})" class="b-type-route">
                            <img src="/img/typ4.png"><span>Строй-грузы и оборудование</span>
                        </a>
                        <a href="" ng-if="driverView" ui-sref="app.orders.list" class="b-type-route">
                            <img src="/img/typ4.png"><span>Строй-грузы и оборудование</span>
                        </a>
                    </div>
                    <div class="l-type-route__col">
                        <a href="" ng-if="!driverView" ui-sref="app.orders.create.ship({categoryId: 4})" class="b-type-route">
                            <img src="/img/typ5.png"><span>Вывоз мусора</span>
                        </a>
                        <a href="" ng-if="driverView" ui-sref="app.orders.list" class="b-type-route">
                            <img src="/img/typ5.png"><span>Вывоз мусора</span>
                        </a>
                    </div>
                    <div class="l-type-route__col">
                        <a href="" ng-if="!driverView" ui-sref="app.orders.create.ship({categoryId: 5})" class="b-type-route">
                            <img src="/img/typ6.png"><span>Транспортные средства</span>
                        </a>
                        <a href="" ng-if="driverView" ui-sref="app.orders.list" class="b-type-route">
                            <img src="/img/typ6.png"><span>Транспортные средства</span>
                        </a>
                    </div>
                    <div class="l-type-route__col">
                        <a href="" ng-if="!driverView" ui-sref="app.orders.create.ship({categoryId: 6})" class="b-type-route">
                            <img src="/img/lighcar.png"><span>Легковые грузоперевозки</span>
                        </a>
                        <a href="" ng-if="driverView" ui-sref="app.orders.list" class="b-type-route">
                            <img src="/img/lighcar.png"><span>Легковые грузоперевозки</span>
                        </a>
                    </div>
                    <div class="l-type-route__col">
                        <a href="" ng-if="!driverView" ui-sref="app.orders.create.ship({categoryId: 7})" class="b-type-route">
                            <img src="/img/paws.png"><span>Перевозки животных</span>
                        </a>
                        <a href="" ng-if="driverView" ui-sref="app.orders.list" class="b-type-route">
                            <img src="/img/paws.png"><span>Перевозки животных</span>
                        </a>
                    </div>
                    <div class="l-type-route__col">
                        <a href="" ng-if="!driverView" ui-sref="app.orders.create.ship({categoryId: 8})" class="b-type-route">
                            <img src="/img/typ9.png"><span>Негабаритные грузы</span>
                        </a>
                        <a href="" ng-if="driverView" ui-sref="app.orders.list" class="b-type-route">
                            <img src="/img/typ9.png"><span>Негабаритные грузы</span>
                        </a>
                    </div>
                    <div class="l-type-route__col">
                        <a href="" ng-if="!driverView" ui-sref="app.orders.create.ship({categoryId: 9})" class="b-type-route">
                            <img src="/img/typ10.png"><span>Продукты питания</span>
                        </a>
                        <a href="" ng-if="driverView" ui-sref="app.orders.list" class="b-type-route">
                            <img src="/img/typ10.png"><span>Продукты питания</span>
                        </a>
                    </div>
                    <div class="l-type-route__col">
                        <a href="" ng-if="!driverView" ui-sref="app.orders.create.ship({categoryId: 10})" class="b-type-route">
                            <img src="/img/cart.png"><span>Покупки</span>
                        </a>
                        <a href="" ng-if="driverView" ui-sref="app.orders.list" class="b-type-route">
                            <img src="/img/cart.png"><span>Покупки</span>
                        </a>
                    </div>
                    <div class="l-type-route__col">
                        <a href="" ng-if="!driverView" ui-sref="app.orders.create.ship({categoryId: 11})" class="b-type-route">
                            <img src="img/typ12.png"><span>Прочие грузы</span>
                        </a>
                        <a href="" ng-if="driverView" ui-sref="app.orders.list" class="b-type-route">
                            <img src="img/typ12.png"><span>Прочие грузы</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="s-index-d">
        <div class="container">
            <h2>Кто в основном размещает заказы</h2>
            <div class="l-customers">
                <div class="l-customers__col">
                    <img src="/img/customer-1.jpg">
                    <div class="l-customers__name">Малый и средний бизнес</div>
                </div>
                <div class="l-customers__col">
                    <img src="/img/customer-2.jpg">
                    <div class="l-customers__name">Интернет магазины</div>
                </div>
                <div class="l-customers__col">
                    <img src="/img/customer-3.jpg">
                    <div class="l-customers__name">Частные лица</div>
                </div>
                <div class="l-customers__col">
                    <img src="/img/customer-4.jpg">
                    <div class="l-customers__name">Транспортные компании</div>
                </div>
            </div>
        </div>
    </section>
    <section class="s-index-e">
        <div class="container">
            <h2>Как работает Gofast?</h2>
            <div class="l-pr-steps" ng-if="!driverView">
                <div class="l-pr-steps__step _s-3">
                    <div class="l-pr-steps__side-a">
                        <img src="/img/step-c-1.jpg" class="l-pr-steps__img">
                    </div>
                    <div class="l-pr-steps__side-b">
                        <div class="l-pr-steps__title">Размещаете запрос на перевозку</div>
                        <div class="l-pr-steps__text">Выберите тип перевозки(людей или грузов),</div>
                        <div class="l-pr-steps__text">это займет всего несколько минут.</div>
                    </div>
                </div>
                <div class="l-pr-steps__step _rtl _c-2">
                    <div class="l-pr-steps__side-a">
                        <img src="/img/step-c-2.jpg" class="l-pr-steps__img">
                    </div>
                    <div class="l-pr-steps__side-b">
                        <div class="l-pr-steps__title">Получаете предложение от&nbsp;перевозчиков</div>
                        <div class="l-pr-steps__text">Перевозчики предлагают вам свои услуги в режиме реального времени.</div>
                        <div class="l-pr-steps__text">Помните, что у нас самая полная база!!!</div>
                    </div>
                </div>
                <div class="l-pr-steps__step _c-3">
                    <div class="l-pr-steps__side-a">
                        <img src="/img/step-c-3.jpg" class="l-pr-steps__img">
                    </div>
                    <div class="l-pr-steps__side-b">
                        <div class="l-pr-steps__title">Выбирайте перевозчика</div>
                        <div class="l-pr-steps__text">Посмотрите рейтинг перевозчика, его рейтинг, отзывы,</div>
                        <div class="l-pr-steps__text">автотранспорт и сделайте свой выбор. Каждый перевозчик</div>
                        <div class="l-pr-steps__text">на GoFast проверенный исполнитель</div>
                    </div>
                </div>
                <div class="l-pr-steps__text">В конечном этоге вам осталось нажать эту кнопку!</div><a href="#" ui-sref="app.registration.new" class="btn-g">Зарегистрироваться</a>
            </div>
            <div class="l-pr-steps" ng-if="driverView">
                <div class="l-pr-steps__step _s-3">
                    <div class="l-pr-steps__side-a">
                        <img src="/img/step-s-1.jpg" class="l-pr-steps__img">
                    </div>
                    <div class="l-pr-steps__side-b">
                        <div class="l-pr-steps__title">Выберите заказ</div>
                        <div class="l-pr-steps__text">Используйте <a href="" ui-sref="app.orders.list" class="i-link">список заказов</a>, выбирайте интересные</div>
                        <div class="l-pr-steps__text">предложения по удобный вам маршрутам.</div>
                    </div>
                </div>
                <div class="l-pr-steps__step _rtl _s-2">
                    <div class="l-pr-steps__side-a">
                        <img src="/img/step-s-2.jpg" class="l-pr-steps__img">
                    </div>
                    <div class="l-pr-steps__side-b">
                        <div class="l-pr-steps__title">Предложите заказчику свои цены и условия</div>
                        <div class="l-pr-steps__text">Рассчитайте стоимость ваших услуг и</div>
                        <div class="l-pr-steps__text">сделайте заказчику своё предложение</div>
                    </div>
                </div>
                <div class="l-pr-steps__step _s-3">
                    <div class="l-pr-steps__side-a">
                        <img src="/img/step-s-3.jpg" class="l-pr-steps__img">
                    </div>
                    <div class="l-pr-steps__side-b">
                        <div class="l-pr-steps__title">Свяжитесь с заказчиком</div>
                        <div class="l-pr-steps__text">Если выберут ваше предложение, то вы получите контакты</div>
                        <div class="l-pr-steps__text">заказчика для выполнения перевозки.</div>
                    </div>
                </div>
                <div class="l-pr-steps__step _rtl _s-4">
                    <div class="l-pr-steps__side-a">
                        <img src="/img/step-s-4.jpg" class="l-pr-steps__img">
                    </div>
                    <div class="l-pr-steps__side-b">
                        <div class="l-pr-steps__title">Получайте отзывы и повышайте рейтинг</div>
                    </div>
                </div>
                <div class="l-pr-steps__text">В конечном этоге вам осталось нажать эту кнопку!</div><a href="#" ui-sref="app.registration.new" class="btn-g">Зарегистрироваться</a>
            </div>
        </div>
    </section>
    <section class="s-index-f">
        <div class="container">
            <h2>Что люди говорят о сервисе:</h2>
            <div class="l-opinions" ng-if="driverView == true">
                <div class="l-opinions__table _1">
                    <div style="background-image:url(&quot;/img/opinion-2.jpg&quot;)" class="l-opinions__side"></div>
                    <div class="l-opinions__side _text-block">
                        <div class="l-opinions__name">ИГОРЬ, 28 ЛЕТ</div>
                        <div class="l-opinions__text">Пару лет занимаюсь грузоперевозками. Изначально знакомые говорили, что с одной машины многоне заработаешь. Первое время приходилось много тратить на рекламу. Сервис GoFast помог решить эту проблему. Стало гораздо легче находить заказы. Приятно, что я сразу на месяц получил аккаунт PRO (полный пакет услуг сайта). На портале действует реальный рейтинг, на что особенно обращают внимание заказчики.</div>
                    </div>
                </div>
                <div class="l-opinions__table _rtl _2">
                    <div style="background-image:url(&quot;/img/opinion-1.jpg&quot;)" class="l-opinions__side"></div>
                    <div class="l-opinions__side _text-block">
                        <div class="l-opinions__name">АНДРЕЙ, 39 ЛЕТ</div>
                        <div class="l-opinions__text" style="direction: ltr;">Много лет вожу грузы. Часто приходится возвращаться из рейса пустым. На GoFast можно запросто найти обратный груз. Например, вчера для фирмы из Минска в Витебск вёз мебель, а на обратном пути взял заказ на квартирный переезд. Так что поездка вышла рентабельной на 200%.</div>
                    </div>
                </div>
                <div class="l-opinions__table _3">
                    <div style="background-image:url(&quot;/img/opinion-3.jpg&quot;)" class="l-opinions__side"></div>
                    <div class="l-opinions__side _text-block">
                        <div class="l-opinions__name">Евгений, 50 ЛЕТ</div>
                        <div class="l-opinions__text">С помощью портала GoFast удалось "зацепить" постоянного крупного заказчика. Теперь развожу продукты питания по торговым точкам не только в Минске, но и по области. Отдельное спасибо юристу онлайн-сервиса за подробную консультацию в области перевозок.</div>
                    </div>
                </div>
            </div>
            <div class="l-opinions" ng-if="driverView == false">
                <div class="l-opinions__table _1">
                    <div style="background-image:url(&quot;/img/opinion-4.jpg&quot;)" class="l-opinions__side"></div>
                    <div class="l-opinions__side _text-block">
                        <div class="l-opinions__name">ТАТЬЯНА МИХАЙЛОВНА, 57 лет</div>
                        <div class="l-opinions__text">При переезде в другую квартиру мне нужно было найти машину для перевозки мебели и личных вещей. Дочка посоветовала зайти на сайт GoFast и разместить объявление. Очень удобным оказалось то, что в одном месте можно найти машину для любой перевозки, как бытовой техники, так и домашних животных. Водители приехали вовремя и помогли всё разгрузить.</div>
                        <div class="l-opinions__text">Всем спасибо!!!</div>
                    </div>
                </div>
                <div class="l-opinions__table _rtl _2">
                    <div style="background-image:url(&quot;/img/opinion-5.jpg&quot;)" class="l-opinions__side"></div>
                    <div class="l-opinions__side _text-block">
                        <div class="l-opinions__name">Татьяна и Артур</div>
                        <div class="l-opinions__text" style="direction: ltr;">Мы с мужем захотели сделать сюрприз друзьям, которые приехали к нам в гости из другого города. Придумали заказать лимузин и устроить экскурсию по Минску, но не знали, как это сделать. Очень помог сервис GoFast. Как и обещал интернет-портал, после размещения заявки, нам сразу стали поступать предложения, так что с компанией "ГрандЛимо" определились всего минут за 15. Спасибо сервису и перевозчику за оперативную работу!</div>
                    </div>
                </div>
                <div class="l-opinions__table _3">
                    <div style="background-image:url(&quot;/img/opinion-6.jpg&quot;)" class="l-opinions__side"></div>
                    <div class="l-opinions__side _text-block">
                        <div class="l-opinions__name">Максим и Лена</div>
                        <div class="l-opinions__text">На выходных решили прокатиться в Питер. Поскольку решили ехать внезапно, то билетов не оказалось. С помощью сервиса GoFast спланировали автомаршрут. В Минске нашли водителя до Витебска, а из Витебска нас быстро и недорого довезли до Питера. Путешествие с GoFast оказалось очень экономным. В следующий раз таким же образом собираемся добраться до Москвы.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="s-index-g">
        <div class="container">
            <h2>Пустые километры &mdash; полный кошелек</h2>
            <img src="/img/wallet.png">
            <div class="s-index-g__text">GoFast был разработан чтобы сделать перевозки более честными и эффективными. Это значит работая с нами вы получаете
                доступ к сотням заказам на вашем пути, пустое место в вашей машине превращается в деньги!</div><a href="" ui-sref="app.registration.new"
            class="btn-a">Начать работу с сервисом</a>
        </div>
    </section>
    <section class="s-index-h">
        <div class="container">
            <h2>Мы в социальных сетях:</h2>
            <div class="s-index-h__col-wrap">
                <div class="s-index-h__col"></div>
                <div class="s-index-h__col"></div>
                <div class="s-index-h__col"></div>
            </div>
        </div>
    </section>
</div>