    <div class="b-driver">
        <div class="b-driver__block">
            <div class="b-driver__title">Вы выбрали перевозчика</div><a href="" ng-click="close()" class="i-close">Закрыть</a>
        </div>
        <div class="b-driver__block">
            <div class="pr-x-user">
                <div class="pr-x-user__left">
                    <img ng-src="{{carrier.imageUrl}}" class="pr-x-user__img" />
                </div>
                <div class="pr-x-user__right">
                    <div class="pr-x-user__row"><span class="pr-x-user__nick">{{carrier.userName}}</span>
                        <div class="i-phone">+ {{carrier.phoneCode}}{{carrier.phone}}</div>
                    </div>
                    <div class="pr-x-user__row">
                        <div class="i-pro _king" ng-if="carrier.isPro">Pro</div><span class="pr-x-user__name">{{carrier.firstName}} {{carrier.lastName}}</span><a href="" ng-click="goToCarrierProfile()"  class="i-link-a">Перейти на аккаунт</a>
                    </div>
                    <div class="pr-x-user__row"><span class="pr-x-user__dt">Успешных перевозок:</span><span class="pr-x-user__dd"><a href="" ng-click="goToCarrierProfile()" class="i-link">{{carrier.ordersCount}}</a></span>
                    </div>
                    <div class="pr-x-user__row">
                        <img ng-src="{{carrier.car.imageUrl}}" class="pr-x-user__auto" /><span class="pr-x-user__dt">Автомобиль:</span><span class="pr-x-user__dd">{{carrier.car.modelName}}, {{carrier.car.productionYear}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
