<div class="b-driver">
    <div class="b-driver__block">
        <div class="b-driver__title">Вас выбрали</div><a href="" ng-click="close()" class="i-close">Закрыть</a>
    </div>
    <div class="b-driver__block">
        <div class="pr-x-user">
            <div class="pr-x-user__left">
                <img src="{{order.customer.imgUrl}}" class="pr-x-user__img" />
            </div>
            <div class="pr-x-user__right">
                <div class="pr-x-user__row"><span class="pr-x-user__nick">{{order.customer.firstName}} {{order.customer.lastName}}</span>
                    <div class="i-phone">+{{order.customer.phoneCode}}{{order.customer.phone}}</div>
                </div>
                <div class="pr-x-user__row">
                    <a href="" ng-click="goToOrderDetails()" ui-sref="app.orders.details({orderId: order.orderId})" class="i-link-a">Перейти на лот</a>
                </div>
                <div class="pr-x-user__row">
                    <a href="" ng-click="close()" class="i-link-a">Перейти на профиль заказчика</a>
                </div>
                <div class="pr-x-user__row"><span class="pr-x-user__dt">Размещено заказов:</span><span class="pr-x-user__dd">{{order.customer.ordersCount}}</span>
            </div>
        </div>
    </div>
</div>
