.containerRound .end-of-month {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 303px;
  height: 171px;
  background-color: white;
}

.containerRound .end-of-month .all,
.containerRound .end-of-month .comm {
  display: inline-block;
  position: relative;
}

.containerRound .end-of-month .all {
  float: left;
  height: 50px;
  width: 113px;
  text-align: left;
}

.containerRound .end-of-month .comm {
  float: right;
  top: 85px;
  height: 50px;
  width: 115px;
  text-align: right;
}

.containerRound .end-of-month .comm-top,
.containerRound .end-of-month .comm-bottom,
.containerRound .end-of-month .all-top,
.containerRound .end-of-month .all-bottom {
  height: 21px;
}

.containerRound .end-of-month .comm-top span,
.containerRound .end-of-month .comm-bottom span,
.containerRound .end-of-month .all-top span,
.containerRound .end-of-month .all-bottom span {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #8d8d8d;
}

.containerRound .end-of-month .comm-bottom span {
  color: #030303;
}

.containerRound .end-of-month .comm-bottom .comm-percent {
  color: #8d8d8d;
}

.containerRound .end-of-month .all-bottom span {
  color: #030303;
}

.containerRound .end-of-month .all-bottom .all-money {
  color: #51d134;
}

.containerRound .end-of-month .comm-top,
.containerRound .end-of-month .all-top {
  border-bottom: 2px solid #000000;
}

.containerRound .end-of-month .all-top:after {
  position: absolute;
  content: "";
  height: 1.5px;
  background-color: #242424;
  width: 18px;
  right: -15px;
  top: 53%;
  transform: rotate(52deg);
}

.containerRound .end-of-month .comm-top:before {
  position: absolute;
  content: "";
  height: 1.5px;
  background-color: #242424;
  width: 18px;
  left: -14px;
  top: 26%;
  transform: rotate(232deg);
}

.containerRound .end-of-month .wrapper-round {
  position: absolute;
  top: 4px;
  left: 32%;
  width: 113px;
  height: 111px;
}

.containerRound .end-of-month .wrapper-round .inner-round {
  margin: 0 auto;
  height: 113px;
  width: 111px;
  background: url("/img/round.png") no-repeat;
}

.containerRound .end-of-month .wrapper-round .inner-round span {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.containerRound .end-of-month .wrapper-round .inner-round span:first-child {
  position: absolute;
  top: 40px;
  left: -35px;
  width: 200px;
}

.containerRound .end-of-month .wrapper-round .inner-round span:last-child {
  position: absolute;
  top: 60px;
  left: 30px;
  width: 100px;
  color: #fff;
}

.containerRound .end-of-month .wrapper-round .inner-round span:last-child .day-remaining {
  position: relative;
  top: 0;
  left: 0;
}

.containerRound .end-of-month .paying {
  position: relative;
  float: left;
  top: 100px;
}

.containerRound .end-of-month .paying a {
  color: #0988ff;
  border-bottom: 1px dotted #0988ff;
  font-size: 13px;
}

.containerRound .end-of-month .paying a:hover {
  color: #0988ff;
  text-decoration: none;
  -webkit-text-decoration-style: none;
  text-decoration-style: none;
  border-bottom: 1px dotted #0988ff;
  cursor: pointer;
}

.containerRound .end-of-month .paying a:focus {
  text-decoration: none;
}
