/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,700&subset=latin,cyrillic);
@font-face {
  font-family: "MyriadProBold";
  src: url("../assets/fonts/MyriadProBold/MyriadProBold.eot");
  src: url("../assets/fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("../assets/fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url("../assets/fonts/ProximaNovaLight/proximanova-light.eot");
  src: url("../assets/fonts/ProximaNovaLight/proximanova-light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/ProximaNovaLight/proximanova-light.woff") format("woff"), url("../assets/fonts/ProximaNovaLight/proximanova-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("../assets/fonts/ProximaNovaBold/proximanova-bold.eot");
  src: url("../assets/fonts/ProximaNovaBold/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/ProximaNovaBold/proximanova-bold.woff") format("woff"), url("../assets/fonts/ProximaNovaBold/proximanova-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.progress {
  height: 11px;
}

a.logo {
  background-image: url("../assets/images/logo.png");
  background-repeat: no-repeat;
  width: 92px;
  height: 30px;
  display: block;
  margin-bottom: 26px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.btn {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.progress.progress-success {
  border: 1px solid #51d134;
  margin-bottom: 15px;
}

.progress.progress-success .progress-bar-success {
  box-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: bold;
}

footer {
  background-color: #35393b;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #7f8182;
  padding-top: 31px;
  padding-bottom: 90px;
}

footer span.phone {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  margin-left: 5px;
}

footer p.social-links {
  margin-top: 30px;
}

footer p.social-links a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

footer p.social-links a.fb {
  background-image: url("../assets/images/icon-fb.png");
}

footer p.social-links a.vk {
  background-image: url("../assets/images/icon-vk.png");
}

footer p.social-links a.tw {
  background-image: url("../assets/images/icon-tw.png");
}

footer p.social-links a.in {
  background-image: url("../assets/images/icon-in.png");
}

footer p.menu-header {
  font-weight: 300;
}

footer ul {
  list-style: none;
  padding-left: 2px;
}

footer ul li {
  margin: 7px auto;
}

footer ul li a {
  transition: color 0.3s;
  color: #FFFFFF;
}

footer ul li a:hover {
  color: #7f8182;
}

.main section {
  padding-top: 49px;
  padding-bottom: 35px;
}

.main section h1 {
  text-align: center;
  font-family: "MyriadProBold", sans-serif;
  font-size: 34px;
  margin-bottom: 40px;
}

.main .register {
  background-color: #09b1ff;
  height: 100%;
}

.main .register .btn {
  padding: 15px;
}

.main .register .tab-pane.active {
  background-color: #ffffff;
  padding: 32px 33px;
}

.main .register .tab-pane.active .text-register {
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px dotted #c5c5c5;
  font-size: 12px;
  color: #8a8a8b;
}

.main .register .tab-pane.active .text-register a {
  color: #0988ff;
  text-decoration: underline;
}

.main .register ul.nav-tabs {
  background-color: #d0ebf7;
  border-radius: 4px 4px 0 0;
}

.main .register ul.nav-tabs li {
  text-align: center;
}

.main .register ul.nav-tabs li.tab-1 {
  width: 35%;
}

.main .register ul.nav-tabs li.tab-2 {
  width: 65%;
}

.main .register ul.nav-tabs li a {
  font-family: "ProximaNovaBold", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #28657f;
  background-color: #d0ebf7;
  margin: 0;
  padding: 25px 0;
}

.main .register ul.nav-tabs li.active a {
  background-color: #ffffff;
  color: #000000;
}

.main .register h1 {
  color: #FFFFFF;
  font-family: "MyriadProBold", sans-serif;
  font-size: 38px;
  margin-bottom: 20px;
}

.main .register h3 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 68px;
}

.main .register h3 .carrier-count {
  font-weight: bold;
}

.main .testimonials {
  background-color: #f2f2f2;
}

.main .testimonials .block {
  height: 334px;
  margin-bottom: 28px;
}

.main .testimonials .block img {
  width: 100%;
}

.main .testimonials .block .image-container {
  margin-right: 0;
  padding: 0;
}

.main .testimonials .block .testimonials {
  margin-left: 0;
  padding: 40px 22px;
}

@media (min-width: $screen-md-min) {
  .main .testimonials .block .testimonials {
    height: 100%;
  }
}

@media (max-width: $screen-sm-max) {
  .main .testimonials .block .testimonials {
    margin-bottom: 20px;
  }
}

.main .testimonials .block .testimonials:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
}

@media (max-width: $screen-sm-max) {
  .main .testimonials .block .testimonials:before {
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid;
    top: -12px;
    left: 50%;
  }
}

@media (min-width: $screen-md-min) {
  .main .testimonials .block .testimonials.testi-right:before {
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid;
    top: 45%;
    left: -12px;
  }
}

@media (min-width: $screen-md-min) {
  .main .testimonials .block .testimonials.testi-left:before {
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid;
    top: 45%;
    right: -12px;
    z-index: 2;
  }
}

.main .testimonials .block .testimonials.testimonials-1 {
  background-color: #09b1ff;
}

@media (max-width: $screen-sm-max) {
  .main .testimonials .block .testimonials.testimonials-1:before {
    border-bottom-color: #09b1ff;
  }
}

@media (min-width: $screen-md-min) {
  .main .testimonials .block .testimonials.testimonials-1:before {
    border-right-color: #09b1ff;
  }
}

.main .testimonials .block .testimonials.testimonials-2 {
  background-color: #2e60a3;
}

@media (min-width: $screen-md-min) {
  .main .testimonials .block .testimonials.testimonials-2 {
    float: left;
  }
}

@media (max-width: $screen-sm-max) {
  .main .testimonials .block .testimonials.testimonials-2:before {
    border-bottom-color: #2e60a3;
  }
}

@media (min-width: $screen-md-min) {
  .main .testimonials .block .testimonials.testimonials-2:before {
    border-left-color: #2e60a3;
  }
}

.main .testimonials .block .testimonials.testimonials-3 {
  background-color: #4a86a0;
}

@media (max-width: $screen-sm-max) {
  .main .testimonials .block .testimonials.testimonials-3:before {
    border-bottom-color: #4a86a0;
  }
}

@media (min-width: $screen-md-min) {
  .main .testimonials .block .testimonials.testimonials-3:before {
    border-right-color: #4a86a0;
  }
}

.main .testimonials p {
  font-size: 13px;
  color: #ffffff;
}

.main .testimonials p.name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.main .testimonials p.text {
  font-style: italic;
}

.main .advantages .block {
  margin-bottom: 90px;
}

.main .advantages .block h2 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 30px;
  margin: 87px auto 31px auto;
}

.main .advantages .block p {
  color: #6c6c6c;
  font-size: 13px;
}

.main .socials {
  background-color: #d0ebf7;
}

.main .statistics {
  background-image: url("../assets/images/stat-back.png");
  background-repeat: repeat;
}

.main .statistics .btn {
  padding: 22px 35px;
  margin-top: 8px;
}

.main .statistics .block img {
  margin-bottom: 28px;
}

.main .statistics .block p.title {
  font-size: 34px;
  font-family: ProximaNovaLight, sans-serif;
}

.main .statistics .block p.text {
  color: #196281;
  font-size: 13px;
}

.main .waves {
  background-image: url("../assets/images/icon-back.jpg");
  background-repeat: repeat;
}

.main .waves .block {
  padding: 0 0 54px 0;
}

.main .waves .block img {
  margin-bottom: 28px;
}

.main .waves .block p {
  color: #28657f;
}

.main .waves .block p.title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.main .waves .block p.text {
  font-size: 13px;
}

.has-error{
  border: 1px solid red;
}
.error-text{
  color: red;
}
.success{
  border: 1px solid #51D134;
}
.success-text{
  color: #51D134;
}
.f-sign-up__top > a {
  cursor: pointer;
}
.dragover {
    border: 5px dashed rgb(9, 177, 255);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 0;
}
.map{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.map-details{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.b-card__direction{
  text-align: center;
}
.b-card__direction:after{
  display: block;
  content: '';
  height: 0;
  visibility: hidden;
  clear: both;
}
.b-card__direction-route{
  vertical-align: top;
  display: inline-block;
  float: left;
  text-align-last: right;
  text-align: left;
}
.b-card__direction-route._tar{
  text-align: right;
  float: right;
}
.datetime-picker{
  display: inline-block;
  width: 140px;
}
.datetime-icon{
  max-width: 22px !important;
  padding-left: 5px;
}
.datepicker-input{
  padding: 12px;
  font-size: 13px;
}
.reduce-margin{
  margin-bottom: 15px !important;
}
.passangers-tags{

}
.passangers-tags > a{
  margin-right: 15px;
}
.submit-disabled{
  opacity: 0.3;
}
.submit-disabled:hover{
  opacity: 0.3 !important;
}
.input-error{
  border-color: red !important;
}
.form-error{
  margin-left: 18px;
  font-size: 12px;
  color: red;
}
.address-form-error{
  font-size: 12px;
  color: red; 
  text-align: center;
}
.ui-select-error{
  border: 1px solid red;
}
.modal._help .modal-dialog{
  width: 100%;
  margin: 0;
}
.modal._help .modal-content{
  border: 0;
  margin: 0;
  background: transparent;
}