.containerRating .valuation {
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px 0px rgba(0, 64, 94, 0.25);
  width: 830px;
  height: 781px;
  margin: 0 auto;
}

.containerRating .valuation h2 {
  font-family: 'Myriad Pro';
  color: #000000;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 1.9px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 41px;
}

.containerRating .valuation .valuation-number-symbol {
  color: #797979;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 1.9px;
  line-height: 36px;
}

.containerRating .valuation .valuation-notification {
  position: relative;
  border-radius: 6px;
  background-color: #f7f1d9;
  width: 431px;
  height: 86px;
  margin: 0 auto 29px;
  line-height: 86px;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 3px, rgba(120, 86, 62, 0.15) 3px, rgba(120, 86, 62, 0.15) 6px);
}

.containerRating .valuation .valuation-notification .notification-text {
  position: relative;
  top: 18%;
  margin: 0 auto;
  line-height: 86px;
  width: 317px;
  height: 49px;
}

.containerRating .valuation .valuation-notification .notification-text p {
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.containerRating .valuation .valuation-notification:after {
  content: '';
  position: absolute;
  left: 20px;
  top: 15px;
  width: 18px;
  height: 18px;
  background: url("../assets/images/warning.png") 0 0 no-repeat;
}

.containerRating .valuation .valuation-title,
.containerRating .valuation .valuation-comment {
  margin: 0 auto 16px;
  display: block;
  border-radius: 4px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 434px;
  height: 34px;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: 400;
  line-height: 34px;
}

.containerRating .valuation .valuation-comment {
  width: 434px;
  height: 94px;
  resize: none;
  margin-bottom: 32px;
}

.containerRating .valuation .valuation-stars {
  position: relative;
  width: 434px;
  margin: 0 auto;
  clear: both;
}

.containerRating .valuation .valuation-stars .stars-wrapper {
  display: block;
  clear: both;
}

.containerRating .valuation .valuation-stars .stars-wrapper .star-name {
  float: left;
  width: 135px;
  height: 34px;
}

.containerRating .valuation .valuation-stars .stars-wrapper .star-name span {
  color: #8d8d8d;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.containerRating .valuation .valuation-stars .stars-wrapper .star-bracket {
  float: left;
  width: 60px;
  height: 34px;
  background-color: white;
}

.containerRating .valuation .valuation-stars .stars-wrapper .star-bracket span {
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  text-align: left;
  text-transform: uppercase;
}

.containerRating .valuation .valuation-stars .stars-wrapper .star-rating {
  float: left;
}

.containerRating .valuation .valuation-stars .stars-wrapper .rate {
  margin-top: 5px;
}

.containerRating .valuation .valuation-stars .stars-wrapper .rate span {
  line-height: 25px;
}

.containerRating .valuation .valuation-stars .stars-wrapper .rate i {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}

.containerRating .valuation .valuation-stars .stars-wrapper .rate i:focus {
  outline: 0;
}

.containerRating .valuation .valuation-stars .stars-wrapper .rate .glyphicon-star:before {
  content: "";
  width: 22px;
  height: 22px;
  display: block;
  background: url("../assets/images/star1.png") 0 0 no-repeat;
}

.containerRating .valuation .valuation-stars .stars-wrapper .rate .glyphicon-star-empty:before {
  content: "";
  width: 22px;
  height: 22px;
  display: block;
  background: url("../assets/images/star0.png") 0 0 no-repeat;
}

.containerRating .valuation .valuation-stars .stars-wrapper .rate:focus {
  outline: 0;
}

.containerRating .valuation .valuation-stars .stars-wrapper .stars-val {
  float: right;
  border-radius: 4px;
  border-style: solid;
  border-width: 1.5px;
  border-color: #cccccc;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 54px;
  height: 34px;
  margin-bottom: 10px;
  text-align: center;
}

.containerRating .valuation .valuation-stars .stars-wrapper .stars-val div {
  display: inline-block;
}

.containerRating .valuation .valuation-stars .stars-wrapper .stars-val div span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: 400;
  line-height: 34px;
}

.containerRating .valuation .valuation-stars .stars-wrapper .red {
  border-color: #fc6500;
}

.containerRating .valuation .valuation-stars .stars-wrapper .yellow {
  border-color: #ffc600;
}

.containerRating .valuation .valuation-stars .stars-wrapper .green {
  border-color: #51d134;
}

.containerRating .valuation .valuation-stars .stars-wrapper .star-name {
  line-height: 34px;
}

.containerRating .valuation .valuation-stars .stars-wrapper .star-bracket span {
  display: none;
}

.containerRating .valuation .valuation-stars .stars-wrapper:nth-child(1) .star-name {
  line-height: 0;
}

.containerRating .valuation .valuation-stars .stars-wrapper:nth-child(1) .star-bracket span {
  display: inline-block;
}

.containerRating .valuation .clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.containerRating .valuation .valuation-wrapper-button {
  text-align: center;
}

.containerRating .valuation .valuation-wrapper-button .valuation-button-comment {
  border-radius: 6px;
  background-color: #0988ff;
  width: 220px;
  height: 32px;
  cursor: pointer;
  border: 1px solid transparent;
  margin-top: 20px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: .4px;
  font-weight: bold;
  text-transform: uppercase;
}
