<div class="containerRating col-lg-12 col-md-12">
<section class="valuation">
        <h2 class="valuation-name">Заказ <span class="valuation-number-symbol">№</span><span  class="valuation-number" ng-bind="valuationData.number"></span> Успешно завершен!</h2>
        <div class="valuation-notification">
            <div class="notification-text">
                <p>Оцените перевозчика, без этого вы не сможете продолжить работу с сервисом. окно закроется автоматически, после оценки услуг</p>
            </div>
        </div>
         <input type="text" class="valuation-title" ng-model="valuationData.title" placeholder="Заголовок">
         <textarea class="valuation-comment" ng-model="valuationData.comment" placeholder="Текст комментария"></textarea>
        <div class="valuation-stars clearfix">
            <div class="stars-wrapper" ng-repeat="star in valuationData.stars">
                <div class="star-name">
                    <span ng-bind="star.name"></span>
                </div>
                <div class="star-bracket">
                    <span>}</span>
                </div>

                <div class="star-rating">
                </div>

                <uib-rating class="rate" ng-model="star.value" max="max" readonly="isReadonly" on-hover="hoveringOver(star.value)" on-leave="overStar = null" ></uib-rating>
                <div class="stars-val"  ng-class="{'red': star.value == 1,'yellow': star.value == 2 || star.value == 3 ,'green': star.value == 4 || star.value == 5 }">
                    <div>
                        <span ng-model="star.value" ng-bind="star.value * 20"></span><span>%</span>
                    </div>
                </div>
            </div> 
        </div>
         <div class="valuation-wrapper-button">
            <button class="valuation-button-comment" ng-click="sendComment(valuationData.stars)">oставить комментарий</button>
        </div>
    </section>
</div>