<div class="wrapper">
    <header class="s-header">
        <ng-include src="'app/views/landing/home-header.html'"></ng-include>
    </header>
    <a href="" ng-click="showHelp()" class="i-help"><span>Помощь</span></a>
    <main>
        <ui-view/> 	
    </main>
</div>
<footer class="s-footer nail-footer">
    <ng-include src="'app/views/landing/home-footer.html'"></ng-include>
</footer>