<!-- <section class="s-popup-full"> -->
	<form name="form" action="" class="f-change-pass" ng-submit="changePassword()">
		<a href="" ng-click="close()" class="f-change-pass__close">X</a>
		<div class="f-default__row">
			<input type="password" ng-model="changePassModel.oldPassword" class="f-default__field" placeholder="Старый пароль">
		</div>
		<div class="f-default__row">
			<input type="password" ng-model="changePassModel.newPassword" class="f-default__field" placeholder="Новый пароль">
		</div>
		<div class="f-default__row">
			<input type="password" ng-model="changePassModel.newPasswordRepeat" class="f-default__field" placeholder="Повторите новый пароль">
		</div>
		<button type="submit" class="btn-d">Изменить</button>
	</form>
<!-- </section> -->